<html>
{% load staticfiles %}
{% load static %}
{% load i18n %}

<base href="/">

<head>
    <meta charset="utf-8">
    <title>Belacam</title>
    <meta name="description" content="Belacam - Snap, Post, Paid. It’s that easy. On Belacam, a picture of your food can pay for your lunch, and your regular vacation photos can help fund the vacation itself."/>
    <meta name="keywords" content="Belacam, Bela, Snap, Post, Paid"/>
    <meta name="author" content="belacam.com"/>
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.belacam.com">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@LetsLiveBela" />
    <meta name="twitter:creator" content="@LetsLiveBela" />
    <meta property="og:url" content="https://www.belacam.com" />
    <meta property="og:title" content="Belacam - Snap, Post, Paid. It’s that easy." />
    <meta property="og:description" content="On Belacam, a picture of your food can pay for your lunch, and your regular vacation photos can help fund the vacation itself." />
    <meta property="og:image" content="https://s3.amazonaws.com/bellassets/orangeicon.png" />

    <link rel="shortcut icon" href="https://s3.amazonaws.com/bellassets/orangeicon.png">
    <link href="/static/assets/css/customs.css?v=2" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98202441-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-98202441-4');
        gtag('config', 'AW-855697033');
        var userLanguage = "{{ requesting_user.account.language }}";
        var starter_balance = "{{ starter_balance }}";
        var bela_average_price = "{{ bella_average_price }}";
        var appDebug = "{{ DEBUG }}";
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
{% if requesting_user.id %}
    {% csrf_token %}
    <input type="hidden" name="requesting_user_id" value="{{ requesting_user.id }}">
    <input type="hidden" name="requesting_user_username" value="{{ requesting_user.username }}">
{% else %}
    <input type="hidden" name="csrfmiddlewaretoken" value="">
    <input type="hidden" name="requesting_user_id" value="">
    <input type="hidden" name="requesting_user_username" value="">
{% endif %}

<app-root></app-root>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">

                <p>© 2018 {% trans 'Copyright Belacam Inc. All Rights Reserved.' %}   </p>
            </div>
        </div>
    </div>
</div>

<script src="/static/assets/js/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="/static/assets/js/custom.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>

{% include 'session_tracking/all.html' %}

{% include "angular/index.html" %}

</body>
</html>