{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Belacam</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  {% if DEBUG %}
    <link href="{% static 'assets/css/error.css' %}" rel="stylesheet">
  {% else %}
    <link href="https://s3.amazonaws.com/bellassets/assets/css/error.css" rel="stylesheet">
  {% endif %}
</head>
<body class="">
    <div class="">
      <div class="">
        <h1>
          Oops...
        </h1>
        <p>
          We didn't find the page you are looking for. Please click here to go back.
        </p>
      </div>
      <div class="">
        <img src="https://s3.amazonaws.com/bellassets/assets/images/balloon.png">
      </div>
    </div>
</body>
</html>