<title>Belacam | Account Settings</title>
<link rel="shortcut icon" href="https://s3.amazonaws.com/bellassets/orangeicon.png">

<link href="https://s3.amazonaws.com/bellassets/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://s3.amazonaws.com/bellassets/assets/css/search.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98202441-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

    gtag('config', 'UA-98202441-4');
    gtag('config', 'AW-855697033');
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://s3.amazonaws.com/bellassets/assets/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<style>
    #wrapper {
        display: inline-block;
        font-size: 18px;
    }

    .modal-dialog{

        margin: 0 auto;
    }

    .modal-content {
        margin: 0 auto;
        max-width: 500px;
        width: 100% !important;
    }

    body{

        background: rgba(129,207,235,1);
        background: -moz-linear-gradient(top, rgba(129,207,235,1) 0%, rgba(117,192,209,1) 41%, rgba(100,169,235,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(129,207,235,1)), color-stop(41%, rgba(117,192,209,1)), color-stop(100%, rgba(100,169,235,1)));
        background: -webkit-linear-gradient(top, rgba(129,207,235,1) 0%, rgba(117,192,209,1) 41%, rgba(100,169,235,1) 100%);
        background: -o-linear-gradient(top, rgba(129,207,235,1) 0%, rgba(117,192,209,1) 41%, rgba(100,169,235,1) 100%);
        background: -ms-linear-gradient(top, rgba(129,207,235,1) 0%, rgba(117,192,209,1) 41%, rgba(100,169,235,1) 100%);
        background: linear-gradient(to bottom, rgba(129,207,235,1) 0%, rgba(117,192,209,1) 41%, rgba(100,169,235,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81cfeb', endColorstr='#64a9eb', GradientType=0 );
        padding-top: 30px !important;
    }

    /** The wrapper that will contain our two forms **/

    #content_body{
        margin-top: 100px !important;
        background: #ffffff;
        right: 0;
        margin: 0 auto;
        width: 95%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 25px;
        padding: 25px;
    }


    @media(max-width: 991px){


        .topstuff{
            text-align: center;
        }

        #wrapper{
            width: 100%;
            text-align: center;
        }
        .logo img{
            display: none !important;
        }

        .settingstitle{
            border-bottom: none !important;
        }


        .list-group{
            margin-bottom: 25px !important;
        }
    }

    @media (min-width: 992px) {
        #content_body .container {
            max-width: 100%;
        }

        #content_body .container .col-md-3.columns {
            width: 33.33333333%;
        }

        #content_body .container .col-md-9.columns {
            width: 66.66666667%;
        }

        #content_body .container .col-md-5 {
            width: 83.33333333%;
        }
    }

    /* send button */
    .button-login  {
        width:100%;
        height:55px;
        margin-top:25px;
        font-size:18px;
        font-weight:bold;
        text-transform:uppercase;
        outline: none;
        position: relative;
        cursor: pointer;
        border-radius: 5px;
        color: #fff;
        border:0;
        background: #3598db;
        box-shadow:
                inset 0 1px #297fb8,
                inset 1px 0 #297fb8,
                inset -1px 0 #297fb8,
                inset 0 -1px #297fb8,
                0 2px #297fb8,
                0 3px #297fb8,
                0 4px 2px rgba(0,0,0,0.0)
    }

    .button-login:hover { opacity:0.9; }

    .button-login:active {
        top: 3px;
        background: #3598db;
        box-shadow: inset 0 1px 2px #297fb8;
    }

    .link-to-page {
        text-align:left;
        color:#fff;
    }

    .link-to-page a {
        color:#b8b8b8;
    }

    .topbar{
        display: block;
        height: 50px;
    }

    .umbutton{
        color: #555 !important;
        height: 80px;
        text-align: center;
        font-size: 40px;
        line-height: 80px;
        display: inline-block;
    }

    #uppermenu{
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid #EEE;
        padding-bottom: 0px;
        width: 100%;
        display: block;
        background: #FFF;
        vertical-align: top;
    }

    #lamenu{
        padding-top: 20px;
        padding-left: 50px;
        width: 40%;
        display: inline-block;
        margin-right: 0%;
    }

    #lamenu a{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: -20px;
    }

    #menulogo{
        margin: 0px;
        margin-left: 100px;
        display: inline-block;
        text-align: center !important;
        vertical-align: top;
    }



    #postbutton{
        height: 40px;
        font-weight: 300 !important;
        margin-right: 50px;
        vertical-align: top;
        float: right;
    }

    #postbutton p{
        font-size: 20px !important;
        margin-top: 15px !important;
        line-height: 50px !important;
        border: 1px solid #DDD;
        padding-left: 40px !important;
        padding-right: 40px !important;
        height: 50px !important;
    }

    #postbutton:hover{
        text-decoration: none;
        color: #FFF;
    }

    .feedanddiscover{
        vertical-align: top;
        display: inline-block;
        margin: 0;

        width: calc(100% - 60px);
    }

    .feedanddiscover a{
        text-align: center;
        vertical-align: top;
        width: 48%;
        display: inline-block;

        padding-top: 15px;
        line-height: 0px;
    }

    .feedanddiscover h2{

        margin: 0;
        display: inline-block;
        margin-top: -5px;
        margin-bottom: 5px;
    }

    .inactivelink{
        color: #d6d9dd;
    }

    .activelink h2{
        color: #E97B45;
        font-weight: 700;
        border-bottom: 2px solid #E97B45;
    }
    .header-box {
        display: block !important;
    }


    .logo img{
        width: 50px !important;
        height: 50px !important;

    }

</style>

{% extends "theme_bootstrap/subnav_base.html" %}

{% load i18n %}

{% block body_class %}account{% endblock %}

{% block topbar_base %}

    {% if debug %}
        <link href="/static/css/customs.css" rel="stylesheet" type="text/css">
    {% else %}
        <link href="https://s3.amazonaws.com/bellassets/assets/css/customs.css" rel="stylesheet" type="text/css">
    {% endif %}
    <div class="header-box">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4 col-md-4 topstuff">

                    <a  class="logo" href="/b/feed" alt="Belacam Home Feed Page"> <img  src="https://s3.amazonaws.com/bellassets/orangeicon.png"/></a>

                    <div class="feedanddiscover">
                        <a href="/b/feed" alt="Belacam Feed" class="feedlink inactivelink"><h2>{% trans "Feed" %}</h2></a>
                        <a href="/b/discover" alt="Discover Belacam" class="discoverlink inactivelink"><h2>{% trans 'Explore' %}</h2></a>
                    </div>

                </div>


            </div>

        </div>

    </div>
{% endblock %}

{% block subnav %}

    <!-- MENUSTART -->
    <div id="wrapper">

        <div class="panel panel-default">
            <h3 class="settingstitle">{% trans "Settings" %}</h3>
            <div class="list-group">
                <a class="list-group-item account-settings" href="{% url 'account_settings' %}">
                    {% trans "Account" %}
                </a>

                <a class="list-group-item account-password" href="{% url 'account_password' %}">
                    {% trans "Change Password" %}
                </a>

                <a class="list-group-item account-delete" href="{% url 'account_delete' %}">
                    {% trans "Delete Account" %}
                </a>
            </div>
        </div>

    </div>
{% endblock %}


{% block extra_body %}

    <script>
        $(document).ready(function() {
            $(".btn-danger").click(function(e) {
                e.preventDefault();
                bootbox.confirm("Are you sure you want to delete your account?", function(result) {
                    if(result) {
                        $("form").submit();
                    }
                })
            })
        });
    </script>


{% endblock %}