{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-settings{% endblock %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_settings" %}">
                <legend>{% trans "Account" %}</legend>
                {% if not primary_email.verified %}
                    <p class="text-warning">
                        {% trans "Your email address wasn't verified yet. If you have not received a verification email yet, you can resend verification mail." %}
                        <br>
                        <button class="btn btn-primary" id="resendBtn">
                        </button>
                    </p>
                {% endif %}
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('input[type="checkbox"]').each(function (ele) {
                $(this).prop('checked', $(this).attr('checked') === 'checked');
            });

            var btn = $('#resendBtn');
            var resendUrl= "{% url "account_resend_email" %}";
            var btnSendLabel = "{%  trans "Resend Verification Email" %}";
            var btnSendingLabel = "{%  trans "Resend Verification Email" %}<i class=\"fa fa-spinner fa-spin\"></i>";
            var btnSentLabel = "{%  trans "Sent" %}";

            btn.html(btnSendLabel);
            btn.click(function (event) {
                event.preventDefault();
                event.stopPropagation();

                btn.html(btnSendingLabel);
                btn.prop('disabled', true);
                $.get(resendUrl)
                    .done(function () {
                        btn.html(btnSentLabel);
                    })
                    .fail(function () {
                        btn.html(btnSendLabel);
                        btn.prop('disabled', false);
                    })
            });
        })
    </script>
{% endblock %}
