{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load social_tags %}

{% block body_class %}account account-social{% endblock %}

{% block head_title %}{% trans "Social Accounts" %}{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h3 class="legend">Social Connections</h3>
            {% for provider in backends.not_associated %}
                <a class="btn btn-primary" href="{% url "social:begin" provider %}">Connect <i class="fa fa-{{ provider }}"></i> {{ provider.title }}</a>
            {% endfor %}
            {% for auth in backends.associated %}
                {% user_can_disconnect auth as can_disconnect %}
                {% if can_disconnect %}
                    <form method="post" action="{% url "social:disconnect" auth.provider %}">
                        {% csrf_token %}
                        <button class="btn btn-danger">Disconnect <i class="fa fa-{{ auth.provider }}"></i> {{ auth.provider.title }}</button>
                    </form>
                {% else %}
                    <p class="lead">You must set a valid password before you can disconnect.</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
