
<title>Belacam | Feed</title>

<link rel="shortcut icon" href="http://belacoin.org/assets/img/whiteicon.png">

{% load i18n %}
{% load notifications_tags %}
{% block extra_head %}
    {% load avatar_tags %}
    {% load taggit_templatetags2_tags %}
    {% load staticfiles %}

    {% load humanize %}

    <link rel="stylesheet" href="{% static 'css/site-c179c6a5f4.css' %}">
{% endblock %}
{% block head %}
    {% load widget_tweaks %}

    <head>



        <link href="https://s3.amazonaws.com/bellassets/assets/css/customs.css" rel="stylesheet" type="text/css">
        <link href="https://s3.amazonaws.com/bellassets/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="https://s3.amazonaws.com/bellassets/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="https://s3.amazonaws.com/bellassets/assets/css/search.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
{% endblock %}







<body>


<div class="header-box">
    <div id="search-wrap" class="wrap-top search-wrap">
        <div class="width">
            <ul class="clearfix">
                <li ><input type='search' placeholder="Search..."></li>
                <li id="li-3"><i class="fa fa-search"></i></li>
                <li id="li-4"> <i class="fa fa-times"></i> </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-lg-3 col-md-3 logo">
                <a class="logo-img logodesktop" href="{%url 'feed' %}"><img src="https://s3.amazonaws.com/bellassets/longbelacam.png"/></a>
                <a class="logo-img logomobile" href="feed.html"><img src="https://s3.amazonaws.com/bellassets/whiteicon.png"/></a>



                <ul class="left-logo">
                    <li id="search-btn" class="s-desk"> <a href="#"><i class="fa fa-search"></i></a></li>


                    <li><a href="{%url 'discover' %}"><img src="https://s3.amazonaws.com/bellassets/assets/images/heart.png"/><!--<i class="fa fa-heart-o" aria-hidden="true"></i>--></a></li>



                    <div class="dropdown show">


                        <a class="dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


                            <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/><span>6</span></li>
                        </a>

                        <div class="dropdown-menu notification-menu" aria-labelledby="dropdownMenuLink">
                            <div class="notification-bar">
                                Notifications <a href="#" class="mark-all-as-read">Mark all as read</a>

                            </div>

                            <div class="notification-scroll">
                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-a.png" class="" alt="" title=""><div>@billgates liked your photo</div><span>2 hours ago</span></a>

                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-d.png" class="" alt="" title=""><div>@tracysavage commented your post</div><span>4 hours ago</span>  </a>
                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-b.png" class="" alt="" title=""><div>@sammie1994 followed you</div><span>4 hours ago</span></a>
                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-c.png" class="" alt="" title=""><div>@belacam liked your photo</div><span>4 hours ago</span></a>
                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-e.png" class="" alt="" title=""><div>@abigailly liked your photo</div><span>6 hours ago</span></a>
                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-f.png" class="" alt="" title=""><div>@timotimo followed you</div><span>7 hours ago</span></a>



                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-a.png" class="" alt="" title=""><div>@billgates liked your photo</div><span>10 hours ago</span></a>
                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-d.png" class="" alt="" title=""><div>@tracysavage commented your post</div><span>19 hours ago</span></a>
                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-b.png" class="" alt="" title=""><div>@sammie1994 followed you</div><span>1 day ago</span></a>
                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-c.png" class="" alt="" title=""><div>@belacam liked your photo</div><span>1 day ago</span></a>
                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-e.png" class="" alt="" title=""><div>@abigailly liked your photo</div><span>1 day ago</span></a>
                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-f.png" class="" alt="" title=""><div>@timotimo followed you</div><span>1 day ago</span></a>
                            </div>
                        </div>

                    </div>





                    <a class="dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <li class="headerusername">
                            {% avatar user %}
                            <span>@{{ user }}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>


                        </li>

                    </a>


                    <div class="dropdown-menu account-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'found' user %}">Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" href="#">Support</a>
                        <div class="divider"></div>
                        <a class="dropdown-item" id="logoutdropdown" href="#">Log Out</a>

                    </div>







                </ul>

            </div>








            <div class="col-sm-5 col-lg-5 col-md-5 search-form-box">
                <form>
                    <input type="text" placeholder="Search here for people and tags...">
                    <input type="submit" value="">
                </form>
            </div>


            <div class="col-sm-4 col-lg-4 col-md-4 header-right">
                <ul>
                    <li><a href="{%url 'discover' %}"><img src="https://s3.amazonaws.com/bellassets/assets/images/heart.png"/><!--<i class="fa fa-heart-o" aria-hidden="true"></i>--></a></li>



                    <div class="dropdown show">


                        <a class="dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


                            <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/><span>6</span></li>
                        </a>

                        <div class="dropdown-menu notification-menu" aria-labelledby="dropdownMenuLink">
                            <div class="notification-bar">
                                Notifications <a href="#" class="mark-all-as-read">Mark all as read</a>

                            </div>

                            <div class="notification-scroll">
                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-a.png" class="" alt="" title=""><div>@billgates liked your photo</div><span>2 hours ago</span></a>

                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-d.png" class="" alt="" title=""><div>@tracysavage commented your post</div><span>4 hours ago</span>  </a>
                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-b.png" class="" alt="" title=""><div>@sammie1994 followed you</div><span>4 hours ago</span></a>
                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-c.png" class="" alt="" title=""><div>@belacam liked your photo</div><span>4 hours ago</span></a>
                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-e.png" class="" alt="" title=""><div>@abigailly liked your photo</div><span>6 hours ago</span></a>
                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-f.png" class="" alt="" title=""><div>@timotimo followed you</div><span>7 hours ago</span></a>



                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-a.png" class="" alt="" title=""><div>@billgates liked your photo</div><span>10 hours ago</span></a>
                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-d.png" class="" alt="" title=""><div>@tracysavage commented your post</div><span>19 hours ago</span></a>
                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-b.png" class="" alt="" title=""><div>@sammie1994 followed you</div><span>1 day ago</span></a>
                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-c.png" class="" alt="" title=""><div>@belacam liked your photo</div><span>1 day ago</span></a>
                                <a class="dropdown-item" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-e.png" class="" alt="" title=""><div>@abigailly liked your photo</div><span>1 day ago</span></a>
                                <a class="dropdown-item unread" href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/img-f.png" class="" alt="" title=""><div>@timotimo followed you</div><span>1 day ago</span></a>
                            </div>
                        </div>

                    </div>





                    <a class="dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <li class="headerusername">
                            {% avatar user 40 %}
                            <span>@{{ user }}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>


                        </li>

                    </a>

                    <div class="dropdown-menu account-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'found' user %}">Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" href="#">Support</a>
                        <div class="divider"></div>
                        <a class="dropdown-item" id="logoutdropdown" href="#">Log Out</a>

                    </div>







                </ul>


            </div>
        </div>

    </div>

</div>


<div class="user-profile-contain" style="margin: 30px;">

    <div class="mid-con">
        <div class="container">


            <div class="row">
                <div class="col-sm-3 col-lg-3 col-md-3 user-profile-left">
                    <div class="white-box">
                        <div>
                            <img src="{% if request.user.user1.cover_pic %}https://s3.amazonaws.com/bellassets/{{request.user.user1.cover_pic}}{% else %}https://s3.amazonaws.com/bellassets/assets/images/c-pic.jpg{% endif %}" class="img-responsive" alt="User Cover Photo" title="">
                        </div>


                        <div class="profilepicbox">

                            {% avatar user 250 %}

                            <div class="content3">
                                <a href="{% url 'found' user %}" alt="Belacam User"><h3>@{{ user }}</h3></a>


                                <ul>
                                    <a href="{% url 'found' user %}" alt="Belacam User"><li class="col-sm-4"><strong>156</strong><br>Posts</li></a>
                                    <li class="col-sm-8"><strong>$853.51</strong><br>Lifetime Earnings</li>



                                </ul>




                            </div>
                        </div>

                    </div>

                    <div class="white-box">
                        <h4>Trending</h4>
                        <div class="trendingbox">
                            <ul>

                                {% for tag in trending %}
                                    <a class="trendinglink" href="#"><li>
                                        <img src="https://s3.amazonaws.com/bellassets/assets/images/ic1.png"/>

                                        <div class="trendinginfo">
                                            <h5>{{ tag }}</h5>
                                            <p>{{ tag.num_times|intword }} posts</p>

                                        </div>
                                    </li></a>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6 middle-secion">


                    <div class="discover-box">
                        <div class="panel with-nav-tabs ">




                            <div class="panel-body">

                                <div class="tab-content">


                                    <div class=" fade in active endless_page_template">

                                        {% include page_template %}

                                    </div>





                                </div>

                            </div>

                        </div>
                    </div>



                </div>

                <div class="col-sm-3 col-lg-3 col-md-3 user-profile-left">

                    <div class="white-box">
                        <h4>Account Balance</h4>
                        <div class="trendingbox">



                            <div class="balances">
                                BELA: <span> {{user.user1.belacoin|floatformat}} </span>
                                <br>
                                USD Value: <span>$691.42</span>
                                <br>
                                <a class="depowith" data-toggle="modal" data-target=".depositbox">Deposit</a><span><a  class="depowith" data-toggle="modal" data-target=".withdrawbox">Withdraw</a></span>

                                <div class="modal fade bs-example-modal-lg depositbox" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <div class="white-box followerbox">

                                                <h4>Deposit Belacoin</h4>
                                                <hr>


                                                <h3>BA2sXqpnak2eW8Y3nxGZ7k4dvimEVqFhcg</h3>

                                                <p class="depositinstructions">To deposit Belacoin to your account, send Belacoin from an exchange or wallet to your deposit address listed above. </p>
                                                <br>


                                                <div class="midsectioninfo">
                                                    <a href="https://bittylicious.com/coin/BELA" target="_blank" alt="Belacoin Bittylicious"> <div class="withdebit">


                                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                        <p>Buy with Debit / Credit</p>
                                                    </div>
                                                    </a>

                                                    <a href="https://poloniex.com/exchange#btc_bela" target="_blank" alt="Belacoin Bittylicious">  <div class="withbtc">


                                                        <i class="fa fa-btc" aria-hidden="true"></i>
                                                        <p>Buy with Bitcoin</p>
                                                    </div></a>



                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade bs-example-modal-lg withdrawbox" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <div class="white-box followerbox">
                                                <h4>Withdraw Belacoin</h4>

                                                <hr>



                                                <form class="withdraw">

                                                    <div class="addressdiv">
                                                        <h5>Address</h5>
                                                        <input placeholder="BA2sXqpnak2eW8Y3nxGZ7k4dvimEVqFhcg" id="address" type="text" name="withdraw"  value="" required>
                                                    </div>

                                                    <div class="amountdiv">
                                                        <h5>Amount</h5>
                                                        <input placeholder="5" id="amount" type="number" name="amount" min="1" value="" required>
                                                    </div>


                                                    <br><br>
                                                    <p class="depositinstructions">Enter a Belacoin address to receive your funds and choose how much you would like to withdraw. </p>

                                                    <div class="midsectioninfo">
                                                        <div class="withdebit">


                                                            <h2> {{user.user1.belacoin|floatformat}} </h2>
                                                            <p>BELA</p>
                                                        </div>


                                                        <div class="withbtc">


                                                            <h2>$691.42</h2>
                                                            <p>USD Value</p>
                                                        </div>



                                                    </div>







                                                    <div class="submitfooter">
                                                        <div class="follow withdrawbutton"><a>
                                                            <input onclick="withdraw()" class="withdrawsubmit" type="submit" value="Submit"></a></div>
                                                    </div>


                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <style>
                                    .content3 h3 {
                                        color: #000;

                                    }

                                    .content3 a:hover{

                                        text-decoration: none;
                                    }

                                    .withdraw .midsectioninfo{
                                        background-color: #EEE;
                                    }

                                    .withdraw .midsectioninfo .withdebit{
                                        border-right: none;
                                    }

                                    .midsectioninfo h2{
                                        font-size: 80px;
                                        margin-top: 40px;
                                        display: block;
                                        color: #888;

                                    }

                                    .submitfooter{
                                        width: 100%;
                                        border-top: 2px solid #CCC;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        background: #FFF;

                                    }


                                    .withdrawsubmit{
                                        background: None !important;
                                        font-size: 24px;
                                        font-family: 'ProximaNovaRegular', sans-serif;
                                    }

                                    .withdraw input::-webkit-input-placeholder {
                                        color: #CCC;
                                    }
                                    .withdraw input::-moz-placeholder {
                                        color: #CCC;
                                    }
                                    .withdraw input:-ms-input-placeholder {
                                        color: #CCC;
                                    }
                                    .withdraw input:-moz-placeholder {
                                        color: #CCC;
                                    }


                                    .withdraw div{
                                        display: inline-block;
                                    }



                                    .withdraw h5{
                                        color: #888;
                                        font-size: 24px;
                                        padding-left: 10%;
                                        padding-right: 10%;


                                    }

                                    .addressdiv{
                                        width: 60%;
                                        margin-right: 10px;
                                        color: #888;
                                        vertical-align: top;
                                    }

                                    .amountdiv{
                                        width: 20%;
                                        vertical-align: top;

                                    }

                                    .withdraw{
                                        color: #888;
                                        margin-top: 40px;

                                    }


                                    .withdrawbox h4{
                                        width: 100%;
                                        color: #FFF;
                                        font-size: 28px;
                                        text-align: right;
                                        font-family: 'ProximaNovaRegular', sans-serif;
                                        background-color: #F87433;
                                    }




                                    #address{
                                        font-size: 24px;
                                        display: inline-block;
                                        text-align: center;
                                        padding-left: 20px;
                                        padding-right: 20px;
                                        padding-bottom: 10px;
                                        padding-top: 10px;
                                        width: 100%;
                                        background-color: #F9F9F9;
                                        border-radius: 5px;
                                        color: #888;
                                        border: 1px solid #D5D5D5;
                                    }


                                    #amount{

                                        font-size: 24px;
                                        display: inline-block;
                                        text-align: center;
                                        padding-left: 20px;
                                        padding-right: 20px;
                                        padding-bottom: 10px;
                                        padding-top: 10px;
                                        width: 100%;
                                        background-color: #F9F9F9;
                                        border-radius: 5px;
                                        color: #888;
                                        border: 1px solid #D5D5D5;
                                    }





                                    .midsectioninfo div:hover{
                                        background-color: #EEE;

                                    }

                                    .midsectioninfo div{
                                        display: inline-block;
                                        width: 50%;
                                        height: 100%;
                                    }

                                    .midsectioninfo p{
                                        font-size: 18px;
                                        color: #888;
                                        margin-top: 10px;
                                    }

                                    .midsectioninfo i{
                                        font-size: 120px;
                                        margin-top: 40px;
                                        display: block;
                                        color: #888;
                                    }

                                    .withdebit{
                                        border-right: 2px solid #CCCCCC;
                                    }



                                    .withbtc{
                                        margin-left: -4px;
                                    }
                                    .midsectioninfo{
                                        white-space: nowrap;
                                        height: 60%;
                                        width: 100%;

                                        border-top: 2px solid #CCCCCC;
                                        text-align: center;
                                    }

                                    .depowith:hover{
                                        cursor: pointer;
                                    }
                                    .depositbox, .withdrawbox{
                                        text-align: center;

                                    }

                                    .depositbox .followerbox, .withdrawbox .followerbox{
                                        border: none !important;
                                    }


                                    .depositbox h4{
                                        width: 100%;
                                        color: #FFF;
                                        font-size: 28px;
                                        text-align: left;
                                        font-family: 'ProximaNovaRegular', sans-serif;
                                        background-color: #64A9EB;
                                    }

                                    .depositinstructions{
                                        color: #888;
                                        font-size: 24px;
                                        padding-left: 10%;
                                        padding-right: 10%;

                                    }
                                    .depositbox h3{
                                        margin-top: 80px;
                                        margin-bottom: 40px;
                                        font-size: 24px;
                                        display: inline-block;
                                        text-align: center;
                                        padding-left: 25px;
                                        padding-right: 25px;
                                        padding-bottom: 15px;
                                        padding-top: 15px;
                                        background-color: #F9F9F9;
                                        border-radius: 5px;
                                        color: #64A9EB;

                                        border: 1px solid #D5D5D5;
                                    }


                                </style>



                            </div>


                        </div>


                    </div>
                    <div class="white-box">
                        <h4>Suggested</h4>
                        <div class="trendingbox">

                            <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">

                                <div class="panel-title">
                                    {% for thot in people|slice:":6" %}


                                        <div class="suggestedperson">

                                            {% avatar thot 50 %}
                                            <div class="nameanduser">

                                                <p class="name">@{{ thot }}</p>
                                            </div>

                                            <span class="pull-right">
                                    <i class="glyphicon glyphicon-plus">                                        </i>
                                 </span>
                                        </div>




                                    {% endfor %}







                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








</body>




<script src="https://code.jquery.com/jquery-latest.js"></script>

<script src="https://s3.amazonaws.com/bellassets/pagination/el-pagination.js"></script>

<script>$.endlessPaginate({paginateOnScroll: true});</script>





<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{% static 'comment/dist/jquery.textcomplete.js' %}"></script>
<!-- JS file -->


<script src="{% static 'search/jquery.easy-autocomplete.js' %}"></script>

<!-- CSS file -->
<link rel="stylesheet" href="{% static 'search/easy-autocomplete.css' %}">

<!-- Additional CSS Themes file - not required-->
<link rel="stylesheet" href="{% static 'easy-autocomplete.themes.css' %}">

<script>
    var options = {
        url: "{% url 'tags' %}.json",
        placeholder: "Search Users or Tags",
        categories: [

            {   //Category vegetables
                listLocation: "usernames",
                maxNumberOfElements: 4,
                header: " Usernames"
            },
            {   //Category fruits
                listLocation: "tags",
                maxNumberOfElements: 4,
                header: "<hr> Tags "
            }
        ],
        getValue: function(element) {
            return element.item;
        },
        template: {
            type: "custom",
            method: function(value, item) {
                //return "<a href='" + item.link + "'><img src='" + item.avatar+ "' + width='35' height='35' />  " + value + "</a>";
                return "<a href='" + item.link + "'><img src='http://belacoin.org/assets/img/blueicon.png' width='35' height='35'/>  " + value + "</a>";
            }
        },

        list: {
            maxNumberOfElements: 6,
            match: {
                enabled: true
            },
            showAnimation: {
                type: "fade", //normal|slide|fade
                time: 0,
                callback: function() {}
            },

            hideAnimation: {
                type: "slide", //normal|slide|fade
                time: 0,
                callback: function() {}
            }
        },
        theme: "square"
    };

    $("#basics").easyAutocomplete(options);
</script>

<script>
    var usernames = [];

    function handleData(response) {
        for(var i = 0; i < response.length; i++) {
            usernames[i] = response[i].name.username;
        }
    }

    function funcA(){
        $.ajax({
            type: "GET",
            url: "/apiusers/",
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: "json",
            success: handleData
        });
    }

    $(document).ready(function(){
        funcA();
    });

    $('.commentarea').textcomplete([
        {
            id: 'usernames',
            words: usernames,
            match: /\B@(\w*)$/,
            search: function (term, callback) {
                callback($.map(this.words, function (word) {
                    return word.indexOf(term) === 0 ? word : null;
                }));
            },
            index: 1,
            replace: function (word) {
                return '@' + word + ' ';
            }
        },
        {
            id: 'tags',
            words: usernames,
            match: /\B#(\w*)$/,
            search: function (term, callback) {
                callback($.map(this.words, function (word) {
                    return word.indexOf(term) === 0 ? word : null;
                }));
            },
            index: 1,
            replace: function (word) {
                return '#' + word + ' ';
            }
        }
    ], {
        onKeydown: function (e, commands) {
            if (e.ctrlKey && e.keyCode === 74) { // CTRL-J
                return commands.KEY_ENTER;
            }
        },
        dropdownClassName: 'mentions',
        maxCount: 5
    });
</script>

<script>

    $(document).ready(function(){
        $('.umbuttonsearch').click(function(){
            $('#menulogo').toggleClass('show');
            $('.movedown').toggleClass('margindown');
        });
    });

</script>



<script>
    $('.comment').submit(function (event) {
        //alert("submitted");
        event.preventDefault();
        $.ajax({ // create an AJAX call...
            type: 'POST',
            data: $(this).serialize() + "&pk=" + $(this).attr('name'),
            dataType: 'json',
            url: "{% url 'comment2' %}", // the file to call
            success: function(response) { // on success..
                var iDiv = document.createElement('div');
                var para = document.createElement('P');
                var comment = document.createTextNode(response.author + ' '); // Create a <p> node
                comment.className += 'namebold';
                var comment2 = document.createTextNode(response.text);
                para.appendChild(comment);
                para.appendChild(comment2);
                iDiv.appendChild(para);
                iDiv.id = "OP"+response.pk;
                iDiv.className = 'comment';
                document.getElementById("commentsection"+response.pk).appendChild(iDiv);
                //document.getElementById("OP"+response.pk).appendChild(iDiv);
            },
            error: function(e, x, r) { // on error..
                //alert('failure'); // update the DIV
            }
        });
    });
</script>

<script>
    $(function() {

        // This function gets cookie with a given name
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        /*
        The functions below will create a header with csrftoken
        */

        function csrfSafeMethod(method) {
            // these https methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|https:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    });
</script>
<script>
    LinkToUsers = function(input) {
        var re = /(?:^|\W)@(\w+)(?!\w)/g, match, matches = [], without_sign = [];
        while (match = re.exec(input)) {
            matches.push("@" + match[1]);
            without_sign.push(match[1]);
        }
        var new_matches = matches.filter(function(elem, pos) {
            return matches.indexOf(elem) == pos;
        });
        var new_without_sign = without_sign.filter(function(elem, pos) {
            return without_sign.indexOf(elem) == pos;
        });
        var new_string = input;
        var url = window.location.href;
        for(var i = 0; i < new_without_sign.length; i++) {
            if(url.includes("/" + new_without_sign[i])) {
                url = url.replace("/" + new_without_sign[i], "");
            }
        }
        for(var i = 0; i < new_matches.length; i++) {
            new_string = new_string.replaceAll(new_matches[i], "<a href=" + url + new_without_sign[i] + ">" + new_matches[i] + " </a>");

        }
        return (new_string);
    }

    window.onload = function() {
        var comments = document.getElementsByClassName("the_comment");
        for(var i = 0; i < comments.length; i++) {
            var content = comments[i].textContent || comments[i].innerText;
        }
    }
</script>

{% if user.is_authenticated %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#amount').attr('max', {{ user.user1.belacoin }});
            $.ajax({
                type: "GET",
                url: "{% url 'get_address' %}",
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response) {
                    var elem = document.getElementById('depositaddress');
                    elem.innerHTML = response;
                },
                error: function(rs, e) {
                }
            });
        })
    </script>


{% endif %}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-98202441-1', 'auto');
    ga('send', 'pageview');

</script>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">support</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">press</a></li>
                    <li><a href="#">api</a></li>
                </ul>
                <ul>
                    <li><a href="#">jobs</a></li>
                    <li><a href="#">privacy</a></li>
                    <li><a href="#">terms</a></li>
                    <li><a href="#">directory</a></li>
                    <li><a href="#">language</a></li>
                </ul>
                <p>© 2017 Copyright Belacam LLC. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>

<script src="https://s3.amazonaws.com/bellassets/assets/js/search.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    $(document).ready(function() {
        $('.collapse').on('show.bs.collapse', function() {
            var id = $(this).attr('id');
            $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
            $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
        });
        $('.collapse').on('hide.bs.collapse', function() {
            var id = $(this).attr('id');
            $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
            $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
        });
    });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

<script src="https://s3.amazonaws.com/bellassets/pagination/el-pagination.js"></script>

<script>$.endlessPaginate({paginateOnScroll: true});</script>

<script>
    $('.comment').submit(function (event) {
        //alert("submitted");
        event.preventDefault();
        $.ajax({ // create an AJAX call...
            type: 'POST',
            data: $(this).serialize() + "&pk=" + $(this).attr('name'),
            dataType: 'json',
            url: "{% url 'comment2' %}", // the file to call
            success: function(response) { // on success..
                var iDiv = document.createElement('div');
                var para = document.createElement('P');
                var comment = document.createTextNode(response.author + ' '); // Create a <p> node
                comment.className += 'namebold';
                var comment2 = document.createTextNode(response.text);
                para.appendChild(comment);
                para.appendChild(comment2);
                iDiv.appendChild(para);
                iDiv.id = "OP"+response.pk;
                iDiv.className = 'comment';
                document.getElementById("commentsection"+response.pk).appendChild(iDiv);
                //document.getElementById("OP"+response.pk).appendChild(iDiv);
            },
            error: function(e, x, r) { // on error..
                //alert('failure'); // update the DIV
            }
        });
    });
</script>
