{% load i18n %}
{% load notifications_tags %}
{% block extra_head %}
{% load avatar_tags %}
{% load taggit_templatetags2_tags %}
{% load staticfiles %}
{% endblock %}
{% block head %}
{% load widget_tweaks %}
{% load el_pagination_tags %}

{% load math %}

<head>

<script src="https://use.fontawesome.com/afdb82143d.js"></script>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    

</head>
{% endblock %}

      {% lazy_paginate 1 stuff as things %}

    {% for thot in things %}



                      	
<div class="white-box">
                    <div class="user-post">
                 
                      
                        	<div class="user-post-left">
                            	<a href="{% url 'found' thot.user %}" alt="Belacam User">{% avatar thot.user 50 %}</a>
                                    
                                <h4><a href="{% url 'found' thot.user %}" alt="Belacam User">@{{ thot.user }}</a><span>{{ thot.created_at|timesince }} ago </span></h4>
                            </div>
                        
                        
                        
                            <div class="user-post-right">
                                
                                
                                <div class="dropdown show hidden">    
  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
      
      <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/></li>
  </a>

  <div class="dropdown-menu report-menu" aria-labelledby="dropdownMenuLink">
    
      TEST THIS OUT
      
  </div>
                        
</div>
                                
                                
                                
                                
                            	<a href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/></a>
                            </div>
                        
                        
                        
                        </div>	
                    <p style="word-wrap: break-word;">{{ thot.content }}
    
    {{ array.last.text|slice:":255" }} {% get_tags_for_object thot as "tags" %}{% for tag in tags %}  <a href="discover/{{tag}}">#{{tag}}</a> {% endfor %} </p>
    
    
                    <img class="post-img" src="https://s3.amazonaws.com/bellassets/{{ thot.image }}"/>
                    <ul class="like-box">
                    	<li><a class="" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ thot.total_likes }} Likes</a></li>
                        

                        
                            <li class="postearnings"><label data-toggle="tooltip" title="Estimated Post Earnings" ><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> {% Earnings_Per_Post thot.total_likes %}</a></label></li>
                    </ul>
                    
                    
    
    
                    
                    
                    <div class="comment-boxes">
                    	
                        
                        {% if thot.comments.all|length > 0 %}
                        
                        <div class="reply-box reply-box2">
                            {% with thot.comments.all as array %}
                        	

                            <a href="{% url 'found' array.last.author %}" alt="Belacam User"><div class="reply-box-left">
                            	{% avatar array.last.author 50 %}
                                </div></a>
                            <div class="reply-box-right" style="word-wrap: break-word;">
                                <a href="{% url 'found' array.last.author %}" alt="Belacam User"><h4>@{{ array.last.author }}</h4></a>
                                <h5>{{ array.last.created_at|timesince }} ago</h5>
                                <p style="word-wrap: break-word;"> {{ array.last.text }} </p>
                                
                                 
                            </div>
                            {% endwith %}
                        </div>
                        
                        {% endif %}
                        
                        {% if thot.comments.all|length > 1 %}

                        <div class="viewcoment-box">
                        	<a href="#">View all comments  +</a>
                        </div>
                        
                        {% endif %}
                        
                        
                        
                        <span class="commentavatar">{% avatar user 40 %}
                            </span>
                        
                        {% if user.is_authenticated %}
                        <form autocomplete="off" method="POST" name = "{{ thot.pk }}" class="comment" action="{% url 'comment2' %}"> {% csrf_token %}
                        <textarea class="commentarea" type="text" placeholder="Add a comment..."></textarea>

                        <button class="commentsubmit" type="submit" value="Submit" />
                               
                        </form>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
      {% show_more %}


      <script>
      $(document).ready(function() {
        {% for thot in things %}
             $.ajax({
               type: "POST",
               url: "{% url 'likeCheck' %}",
               data: {'pk': {{ thot.pk }}, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                 if(!response.liked) {
                   var likeClass = document.getElementById("heart-icon" + response.pk).classList;
                   likeClass.add("active");
                   $("#heart-icon" + response.pk).append("<i class='checkmark fa fa-check' style='display: line-block' id='i2'><p>Liked</p></i>");
                  }
                },
                error: function(rs, e) {
                       //alert(rs.responseText);
                }
           });
           {% endfor %}
        })
      </script>
      <script>
      $('.heart-icon').click(function(){
            $.ajax({
                     type: "POST",
                     url: "{% url 'like' %}",
                     data: {'pk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                     dataType: "json",
                     success: function(response) {
                       //alert(response.belacoin);
                            var likeClass = document.getElementById("heart-icon" + response.pk).classList;
                            var like = document.getElementById("heart-icon" + response.pk);
                            if(response.liked) {
                              likeClass.add("active");
                              $("#heart-icon" + response.pk).append("<i class='checkmark fa fa-check' style='display: line-block' id='i2'><p>Liked</p></i>");
                            }
                            else {//likeClass.remove("active");
                          }
                            document.getElementById("Bela").innerHTML = response.belacoin;
                            document.getElementById(response.pk).innerHTML = response.likes_count;
                            document.getElementById("i1").toggleClass = "heart-shaped fa fa-heart fa-2x";
                            document.find('i').toggleClass("heart-shaped fa fa-heart fa-2x"); /*d*/

                      },
                      error: function(rs, e) {
                             //alert(rs.responseText);
                      }
                });
          })
      </script>
