{% load el_pagination_tags %}
{% load taggit_templatetags2_tags %}
{% load avatar_tags %}
{% load math %}
{% lazy_paginate 1 tags using "tags"%}

    {% for tag in tags %}

                                <div class="discover-small white-box">
                        <div class="row user-name">
                            <div class="col-sm-7 col-lg-7 col-md-7 user-flower">
                            	
                               <div class="user-post-left">
                            	<img src="https://s3.amazonaws.com/bellassets/assets/images/ic1.png">
                                <h4>#{{ tag.tag }}<span>
                                    
                                    
                                  {{ tag.preview|length }}   
                                    
                                    {% if tag.preview|length = 1%}
                    Post
              {% else %}
                   Posts
              {% endif %}</span></h4>
                            </div>
                                
                             
                                
                                
                                
                                
                            </div>
                            <div class="col-sm-5 col-lg-5 col-md-5 follow">
                            	<a href="#">View All</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12 img-box">
                                
                          <img class="maintagimage" src="https://s3.amazonaws.com/bellassets/{{ tag.preview.0.image }}"/>
                                
                                
                            	<ul class="discoverpeopleul">
                                	<a data-toggle="modal" data-target="#tagsimage1-{{tag.tag}}">
         


                                
                                <li><img src="https://s3.amazonaws.com/bellassets/{{ tag.preview.0.image }}"/></li></a>
                                
                                <div id="tagsimage1-{{tag.tag}}" class="modal fade bs-example-modal-lg imagemodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    
  <div class="modal-dialog ">
    <div class="modal-content ">
    
      <div class="white-box">
                    <div class="user-post">
                        	<div class="user-post-left">
                            	{% avatar tag.preview.0.user 50 %}
                                <h4>@{{ tag.preview.0.user }}<span>{{ tag.preview.0.created_at|timesince }} </span></h4>
                            </div>
                        
                        
                        
                            <div class="user-post-right">
                                
                                
                                <div class="dropdown show hidden">    
  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
      
      <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/></li>
  </a>

  <div class="dropdown-menu report-menu" aria-labelledby="dropdownMenuLink">
    
      TEST THIS OUT
      
  </div>
                        
</div>
                                
                                
                                
                                
                            	<a href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/></a>
                            </div>
                        
                        
                        
                        </div>	
                    <p style="word-wrap: break-word;">{{ tag.preview.0.content}}</p>
                    <img class="post-img" src="https://s3.amazonaws.com/bellassets/{{ tag.preview.0.image }}"/>
                    <ul class="like-box">
                    	<li><a class="" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ tag.preview.0.total_likes }}  Likes</a></li>
                        

                        
                            <li class="postearnings"><label data-toggle="tooltip" title="Estimated Post Earnings" ><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> {% Earnings_Per_Post tag.preview.0.total_likes %}</a></label></li>
                    </ul>
                    
                    <div class="comment-boxes">
                    	
                        {% if tag.preview.0.comments.all|length > 0 %}
                        
                        <div id = "{{ tag.tag }}{{ tag.preview.0.pk }}" class="reply-box reply-box2 {{ tag.preview.0.pk }}">
                        	<div class="reply-box-left">
                            	{% avatar tag.preview.0.comments.all.last.author 50 %}
                            </div>
                            <div class="reply-box-right" style="word-wrap: break-word;">
                            	<h4>@{{ tag.preview.0.comments.all.last.author }}</h4>
                                <h5>2  mins ago</h5>
                                <p style="word-wrap: break-word;">{{ tag.preview.0.comments.all.last.text|slice:":255" }}</p>
                                
                            </div>
                        </div>

                        <div class="viewcoment-box">
                        	<a href="#">View more comments  +</a>
                        </div>
                        
                        {% endif %}
                        
                        <img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img.png"/>
                        
                        <form method="POST" id = "{{ tag.tag }}" name = "{{ tag.preview.0.pk }}" class="comment"> {% csrf_token %}
                        {{ form.text }}

                        <input class="commentsubmit" type="submit" value="Submit" />
                        </form>
                                          
                        <form>
                        	<textarea type="text" placeholder="Add a comment..."></textarea>
                               
                        </form>
                    </div>
          
                </div>
    </div>
  </div>
</div>
                                    
                                    {% if tag.preview|length > 1 %}
                                    
                                    <a data-toggle="modal" data-target="#tagsimage2-{{tag.tag}}">
         
                                
                                <li><img src="https://s3.amazonaws.com/bellassets/{{ tag.preview.1.image }}"/></li></a>
                                    
                                    <div id="tagsimage2-{{tag.tag}}" class="modal fade bs-example-modal-lg imagemodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    
  <div class="modal-dialog ">
    <div class="modal-content ">
    
      <div class="white-box">
                    <div class="user-post">
                        	<div class="user-post-left">
                            	{% avatar tag.preview.1.user 50 %}
                                <h4>@{{ tag.preview.1.user }}<span>{{ tag.preview.1.created_at|timesince }} </span></h4>
                            </div>
                        
                        
                        
                            <div class="user-post-right">
                                
                                
                                <div class="dropdown show hidden">    
  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
      
      <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/></li>
  </a>

  <div class="dropdown-menu report-menu" aria-labelledby="dropdownMenuLink">
    
      TEST THIS OUT
      
  </div>
                        
</div>
                                
                                
                                
                                
                            	<a href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/></a>
                            </div>
                        
                        
                        
                        </div>	
                    <p style="word-wrap: break-word;">{{ tag.preview.1.content}}</p>
                    <img class="post-img" src="https://s3.amazonaws.com/bellassets/{{ tag.preview.1.image }}"/>
                    <ul class="like-box">
                    	<li><a class="" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ tag.preview.1.total_likes }}  Likes</a></li>
                        
                        <li class="postearnings"><label data-toggle="tooltip" title="Estimated Post Earnings" ><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> {% Earnings_Per_Post tag.preview.1.total_likes %}</a></label></li>
   
                    </ul>
                    
                    <div class="comment-boxes">
                    	
                        {% if tag.preview.1.comments.all|length > 1 %}
                        
                        <div id = "{{ tag.tag }}{{ tag.preview.1.pk }}" class="reply-box reply-box2 {{ tag.preview.1.pk }}">
                        	<div class="reply-box-left">
                            	{% avatar tag.preview.1.comments.all.last.author 50 %}
                            </div>
                            <div class="reply-box-right" style="word-wrap: break-word;"> 
                            	<h4>@{{ tag.preview.1.comments.all.last.author }}</h4>
                                <h5>{{ tag.preview.1.comments.all.last.created_at|timesince}}  ago</h5>
                                <p>{{ tag.preview.1.comments.all.last.text|slice:":255" }}</p>
                                
                            </div>
                        </div>

                        <div class="viewcoment-box">
                        	<a href="#">View more comments  +</a>
                        </div>
                        
                        {% endif %}
                        
                        <img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img.png"/>
                        
                        <form method="POST" id = "{{ tag.tag }}" name = "{{ tag.preview.1.pk }}" class="comment"> {% csrf_token %}
                        {{ form.text }}

                        <input class="commentsubmit" type="submit" value="Submit" />
                        </form>
                                          
                        <form>
                        	<textarea type="text" placeholder="Add a comment..."></textarea>
                               
                        </form>
                    </div>
          
                </div>
    </div>
  </div>
</div>
                                    
                                    {% endif %}
                                    
                                    {% if tag.preview|length > 2 %}
                                    
                                    <a data-toggle="modal" data-target="#tagsimage3-{{tag.tag}}">
         
                                
                                <li><img src="https://s3.amazonaws.com/bellassets/{{ tag.preview.2.image }}"/></li></a>
                                    
                                    <div id="tagsimage3-{{tag.tag}}" class="modal fade bs-example-modal-lg imagemodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    
  <div class="modal-dialog ">
    <div class="modal-content ">
    
      <div class="white-box">
                    <div class="user-post">
                        	<div class="user-post-left">
                            	{% avatar tag.preview.2.user 50 %}
                                <h4>@{{ tag.preview.2.user }}<span>{{ tag.preview.2.created_at|timesince }} </span></h4>
                            </div>
                        
                        
                        
                            <div class="user-post-right">
                                
                                
                                <div class="dropdown show hidden">    
  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
      
      <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/></li>
  </a>

  <div class="dropdown-menu report-menu" aria-labelledby="dropdownMenuLink">
    
      TEST THIS OUT
      
  </div>
                        
</div>
                                
                                
                                
                                
                            	<a href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/></a>
                            </div>
                        
                        
                        
                        </div>	
                    <p style="word-wrap: break-word;">{{ tag.preview.2.content}}</p>
                    <img class="post-img" src="https://s3.amazonaws.com/bellassets/{{ tag.preview.2.image }}"/>
                    <ul class="like-box">
                    	<li><a class="" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ tag.preview.2.total_likes }}  Likes</a></li>
                        
                        <li class="postearnings"><label data-toggle="tooltip" title="Estimated Post Earnings" ><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> {% Earnings_Per_Post tag.preview.2.total_likes %}</a></label></li>
   
                    </ul>
                    
                    <div class="comment-boxes">
                    	
                        {% if tag.preview.2.comments.all|length > 1 %}
                        
                        <div id = "{{ tag.tag }}{{ tag.preview.2.pk }}" class="reply-box reply-box2 {{ tag.preview.2.pk }}">
                        	<div class="reply-box-left">
                            	{% avatar tag.preview.2.comments.all.last.author 50 %}
                            </div>
                            <div class="reply-box-right" style="word-wrap: break-word;"> 
                            	<h4>@{{ tag.preview.2.comments.all.last.author }}</h4>
                                <h5>2  mins ago</h5>
                                <p>{{ tag.preview.2.comments.all.last.text|slice:":255" }}</p>
                                
                            </div>
                        </div>

                        <div class="viewcoment-box">
                        	<a href="#">View more comments  +</a>
                        </div>
                        
                        {% endif %}
                        
                        <img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img.png"/>
                        
                        <form method="POST" id = "{{ tag }}" name = "{{ tag.preview.2.pk }}" class="comment"> {% csrf_token %}
                        {{ form.text }}

                        <input class="commentsubmit" type="submit" value="Submit" />
                        </form>
                                          
                        <form>
                        	<textarea type="text" placeholder="Add a comment..."></textarea>
                               
                        </form>
                    </div>
          
                </div>
    </div>
  </div>
</div>
                                    
                                    {% endif %}
                                    
                                </ul>
                            </div>
                        </div>
                   
                    </div>
<script>
$('.comment').submit(function (event) {
 alert("submitted");
    var name = $(this).attr('name');
    var id = $(this).attr('id');
     event.preventDefault();
     $.ajax({ // create an AJAX call...
         type: 'POST',
         data: $(this).serialize() + "&pk=" + $(this).attr('name'),
         dataType: 'json',
         url: "{% url 'comment2' %}", // the file to call
         success: function(response) { // on success..
             $('.' + name).load(location.href +  ' #' + id + name);
         },
         error: function(e, x, r) { // on error..
             //alert('failure'); // update the DIV
         }
     });
});
</script>


            {% endfor %}
        {% show_more %}