{% load el_pagination_tags %}
{% load taggit_templatetags2_tags %}
{% load avatar_tags %}



{% load math %}
{% lazy_paginate 1 thoughts %}


    {% for thot in thoughts %}

                        

<style>
    .user-post-left img{
        width: 50px;
        height: 50px;
    }
    
    


</style>




                <div class="white-box">
                    <div class="user-post">
                        	
                        
                        <div class="user-post-left">
                            	<a href="{% url 'found' thot.user %}" alt="Belacam User">{% avatar thot.user 60 %}</a>
                                    
                                <h4><a href="{% url 'found' thot.user %}" alt="Belacam User">@{{ thot.user }}</a><span>{{ thot.created_at|timesince }} ago </span></h4>
                            </div>
                        
                        
                        

                        
                        
                        
                        
                        
                        
                            <div class="user-post-right">
                            	<a href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/></a>
                            </div>
                        
                        
                        
                        </div>	
                    <p>{{ thot.content|slice:":255" }} {% get_tags_for_object thot as "tags" %}{% for tag in tags %}  <a href="discover/{{tag}}">#{{tag}}</a> {% endfor %}</p>
                    <img class="post-img" src="https://s3.amazonaws.com/bellassets/{{ thot.image }}"/>
                    <ul class="like-box">
                    	<li><a class="" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ thot.total_likes }} Likes</a></li>
                        

                        
                            <li class="postearnings"><label data-toggle="tooltip" title="Estimated Post Earnings" ><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> {% Earnings_Per_Post thot.total_likes %}</a></label></li>
                    </ul>
                    <div class="comment-boxes">
                    	<h4>Follow <a href="#">@{{ thot.user }}</a></h4>
                        
                    
                        {% if thot.comments.all|length > 0 %}
                        
                        <div class="reply-box reply-box2">
                            {% with thot.comments.all as array %}
                        	<div class="reply-box-left">
                            	{% avatar array.last.author %}
                            </div>
                            <div class="reply-box-right">
                            	<h4>{{ array.last.author }}</h4>
                                <h5>{{ thot.created_at|timesince }}</h5>
                                <p>{{ array.last.text|slice:":255" }} {% get_tags_for_object thot as "tags" %}{% for tag in tags %}  <a href="discover/{{tag}}">#{{tag}}</a> {% endfor %} </p>
                                <ul>
                                    <li><a href="#">Reply</a></li>
                                </ul>
                            </div>
                            {% endwith %}
                        </div>
                        
                        {% endif %}
                        
                        {% if thot.comments.all|length > 1 %}

                        <div class="viewcoment-box">
                        	<a href="#">View all comments  +</a>
                        </div>
                        
                        {% endif %}
                        <img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img3.png"/>
                        <form>
                        	<textarea type="text" placeholder="Add a comment..."></textarea>
                               <label class="btn-upload" for="file-input-3"><span><img src="https://s3.amazonaws.com/bellassets/assets/images/camera-icon2.png"/></span>
                  <input type="file" onClick="uploadOrSignup()" flow-btn nv-file-select uploader="uploader" id="file-input-3" style="display:none;"  ng-click="newAlbum()" multiple/>
                </label>
                        </form>
                    </div>
                    
                    
                </div>

    {% endfor %}
{% show_more %}


