{% load el_pagination_tags %}
{% load taggit_templatetags2_tags %}
{% load avatar_tags %}
{% lazy_paginate 1 people using "people" %}
{% load math %}
<style>
.row{
    width: 100%;
} 
    
    
    
.thirddiv{ 

    width: calc(100% / 3.05);
    padding: 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin: 0 auto;
    margin-left: .2%;
    margin-right: .2%;
    position: relative;
}
    
    
.thirddiv img{
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}
    
</style>    
    
<div style="row">
    
    <div class="thirddiv"><img src="http://i2.cdn.cnn.com/cnnnext/dam/assets/161201115958-68-year-in-pictures-2016-restricted-super-169.jpg"/></div><div class="thirddiv"><img src="https://s-media-cache-ak0.pinimg.com/736x/76/22/5b/76225b3c2d672b5ddb6afc0bc5724488--rainy-days-rainy-weather.jpg"/></div><div class="thirddiv"><img src="https://wallpaperbrowse.com/media/images/potd-croc_3596950k.jpg"/></div>

</div>


    {% for thot in people %}




                                <div class="discover-small white-box">
                        
                                    
                                    <div class="row user-name">
                            <div class="col-sm-7 col-lg-7 col-md-7 user-flower">
                            	
                               <div class="user-post-left">
                                   <a href="{% url 'found' thot.person %}" alt="Belacam User">{% avatar thot 40 %}</a>
                                <a href="{% url 'found' thot.person %}" alt="Belacam User"><h4>@{{ thot.person }}<span>Earnings: $253.25</span></h4></a>
                            </div>
                                
                                
                                
                                
                                
                                
                            </div>
                            <div class="col-sm-5 col-lg-5 col-md-5 follow">
                            	<a href="#">Follow</a>
                            </div>
                        </div>
                                    
                        {% if thot.preview|length > 0 %}
                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12 img-box">
                            	
                                
                                
                                
                                
                                <ul class="discoverpeopleul">
                                	<a data-toggle="modal" data-target="#peopleimage1-{{thot.person}}">
        


                                
                                <li class="discoverpeopleli" style="background-image: url('{{thot.preview.0.image.url}}');">
                                    
<!--                                    <img src="https://s3.amazonaws.com/bellassets/{{ thot.preview.0.image }}"/>
-->
                                        </li>
                                    
                                    
                                    
                                    
                                    </a>
                                
                                <div id="peopleimage1-{{thot.person}}" class="modal fade bs-example-modal-lg imagemodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    
  <div class="modal-dialog ">
    <div class="modal-content ">
    
      <div class="white-box">
                    <div class="user-post">
                        	<div class="user-post-left">
                            	{% avatar thot.person %}
                                <h4>@{{thot.person }}<span>{{ thot.preview.0.created_at|timesince }} </span></h4>
                            </div>
                        
                        
                        
                            <div class="user-post-right">
                                
                                
                                <div class="dropdown show hidden">    
  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
      
      <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/></li>
  </a>

  <div class="dropdown-menu report-menu" aria-labelledby="dropdownMenuLink">
    
      TEST THIS OUT
      
  </div>
                        
</div>
                                
                                
                                
                                
                            	<a href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/></a>
                            </div>
                        
                        
                        
                        </div>	
                    <p>{{ thot.preview.0.content }}</p>
                    <img src="https://s3.amazonaws.com/bellassets/{{ thot.preview.0.image }}"/>
                    <ul class="like-box">
                    	<li><a class="" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ thot.preview.0.total_likes }}  Likes</a></li>
                        

                        
                            <li class="postearnings"><label data-toggle="tooltip" title="Estimated Post Earnings" ><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> {% Earnings_Per_Post thot.preview.0.total_likes %}</a></label></li>
                    </ul>
                    
                    
                    
                    
                    <div class="comment-boxes">
                    	
                        
                        <div class="reply-box">
                        	<div class="reply-box-left">
                            	<img src="https://s3.amazonaws.com/bellassets/assets/images/follow-img-10.png"/>
                            </div>
                            <div class="reply-box-right">
                            	<h4>@rickyherish</h4>
                                <h5>2  mins ago</h5>
                                <p>Awesome shot! Love the tie dye shirt, it really makes the photo</p>
                                
                            </div>
                        </div>
                        <div class="reply-box reply-box2">
                        	<div class="reply-box-left">
                            	<img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img3.png"/>
                            </div>
                            <div class="reply-box-right">
                            	<h4>@billyfitch</h4>
                                <h5>2  mins ago</h5>
                                <p>Is this in Westend Park, Chicago? I remember playing in those fountains when I was a kid!</p>
                                
                            </div>
                        </div>
                        <div class="viewcoment-box">
                        	<a href="#">View more comments  +</a>
                        </div>
                        
                        
                        
                        <img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img.png"/>
                        
                        
                        <form>
                        	<textarea type="text" placeholder="Add a comment..."></textarea>
                               
                        </form>
                    </div>
                </div>
    </div>
  </div>
</div>
                                    {% if thot.preview|length > 1 %}
                                    <a data-toggle="modal" data-target="#peopleimage2-{{thot.person}}">
                                    
                                        <li class="discoverpeopleli"  style="background-image: url('{{thot.preview.1.image.url}}');"></li>
                                    
                                    </a>
                                    
                                    <div id="peopleimage2-{{thot.person}}" class="modal fade bs-example-modal-lg imagemodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    
  <div class="modal-dialog ">
    <div class="modal-content ">
    
      <div class="white-box">
                    <div class="user-post">
                        	<div class="user-post-left">
                            	{% avatar thot.person %}
                                <h4>@{{thot.person }}<span>{{ thot.preview.1.created_at|timesince }} </span></h4>
                            </div>
                        
                        
                        
                            <div class="user-post-right">
                                
                                
                                <div class="dropdown show hidden">    
  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
      
      <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/></li>
  </a>

  <div class="dropdown-menu report-menu" aria-labelledby="dropdownMenuLink">
    
      TEST THIS OUT
      
  </div>
                        
</div>
                                
                                
                                
                                
                            	<a href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/></a>
                            </div>
                        
                        
                        
                        </div>	
                    <p>{{ thot.preview.1.content }}</p>
                    <img src="https://s3.amazonaws.com/bellassets/{{ thot.preview.1.image }}"/>
                    <ul class="like-box">
                    	<li><a class="" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ thot.preview.1.total_likes }}  Likes</a></li>
                        

                        
                            <li class="postearnings"><label data-toggle="tooltip" title="Estimated Post Earnings" ><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> {% Earnings_Per_Post thot.preview.1.total_likes %}</a></label></li>
                    </ul>
                    
                    
                    
                    
                    <div class="comment-boxes">
                    	
                        
                        <div class="reply-box">
                        	<div class="reply-box-left">
                            	<img src="https://s3.amazonaws.com/bellassets/assets/images/follow-img-10.png"/>
                            </div>
                            <div class="reply-box-right">
                            	<h4>@rickyherish</h4>
                                <h5>2  mins ago</h5>
                                <p>Awesome shot! Love the tie dye shirt, it really makes the photo</p>
                                
                            </div>
                        </div>
                        <div class="reply-box reply-box2">
                        	<div class="reply-box-left">
                            	<img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img3.png"/>
                            </div>
                            <div class="reply-box-right">
                            	<h4>@billyfitch</h4>
                                <h5>2  mins ago</h5>
                                <p>Is this in Westend Park, Chicago? I remember playing in those fountains when I was a kid!</p>
                                
                            </div>
                        </div>
                        <div class="viewcoment-box">
                        	<a href="#">View more comments  +</a>
                        </div>
                        
                        
                        
                        <img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img.png"/>
                        
                        
                        <form>
                        	<textarea type="text" placeholder="Add a comment..."></textarea>
                               
                        </form>
                    </div>
                </div>
    </div>
  </div>
</div>
                                    
                                    {% endif %}
                                    
                                    {% if thot.preview|length > 2 %}
                                    <a data-toggle="modal" data-target="#peopleimage3-{{thot.person}}">
                                    
                                    <li  class="discoverpeopleli"  style="background-image: url('{{thot.preview.2.image.url}}');"></li>
                                    
                                    <div id="peopleimage3-{{thot.person}}" class="modal fade bs-example-modal-lg imagemodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    
  <div class="modal-dialog ">
    <div class="modal-content ">
    
      <div class="white-box">
                    <div class="user-post">
                        	<div class="user-post-left">
                            	{% avatar thot.person %}
                                <h4>@{{thot.person }}<span>{{ thot.preview.0.created_at|timesince }} </span></h4>
                            </div>
                        
                        
                        
                            <div class="user-post-right">
                                
                                
                                <div class="dropdown show hidden">    
  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
      
      <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/></li>
  </a>

  <div class="dropdown-menu report-menu" aria-labelledby="dropdownMenuLink">
    
      TEST THIS OUT
      
  </div>
                        
</div>
                                
                                
                                
                                
                            	<a href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/></a>
                            </div>
                        
                        
                        
                        </div>	
                    <p>{{ thot.preview.0.content }}</p>
                    <img src="https://s3.amazonaws.com/bellassets/{{ thot.preview.2.image }}"/>
                    <ul class="like-box">
                    	<li><a class="" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ thot.preview.2.total_likes }}  Likes</a></li>
                        

                        
                            <li class="postearnings"><label data-toggle="tooltip" title="Estimated Post Earnings" ><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> {% Earnings_Per_Post thot.preview.0.total_likes %}</a></label></li>
                    </ul>
                    
                    
                    
                    
                    <div class="comment-boxes">
                    	
                        
                        <div class="reply-box">
                        	<div class="reply-box-left">
                            	<img src="https://s3.amazonaws.com/bellassets/assets/images/follow-img-10.png"/>
                            </div>
                            <div class="reply-box-right">
                            	<h4>@rickyherish</h4>
                                <h5>2  mins ago</h5>
                                <p>Awesome shot! Love the tie dye shirt, it really makes the photo</p>
                                
                            </div>
                        </div>
                        <div class="reply-box reply-box2">
                        	<div class="reply-box-left">
                            	<img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img3.png"/>
                            </div>
                            <div class="reply-box-right">
                            	<h4>@billyfitch</h4>
                                <h5>2  mins ago</h5>
                                <p>Is this in Westend Park, Chicago? I remember playing in those fountains when I was a kid!</p>
                                
                            </div>
                        </div>
                        <div class="viewcoment-box">
                        	<a href="#">View more comments  +</a>
                        </div>
                        
                        
                        
                        <img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img.png"/>
                        
                        
                        <form>
                        	<textarea type="text" placeholder="Add a comment..."></textarea>
                               
                        </form>
                    </div>
                </div>
    </div>
  </div>
</div>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                                    
                                    {% endif %}
                    </div>

            {% endfor %}
        {% show_more %}