{% load i18n %}
{% load notifications_tags %}
{% block extra_head %}
{% load avatar_tags %}
{% load taggit_templatetags2_tags %}
{% load staticfiles %}
{% endblock %}
{% load widget_tweaks %}
{% load el_pagination_tags %}
{% load following %}
{% lazy_paginate 12 bellas as belas %}

{% for thot in belas %}

<article class="white-panel first todo article_{{ thot.user.id }}" id="article_{{ thot.pk }}">

    <div class="topinfobar">


      <p class="topdate namebold"><strong><a href="{% url 'found' thot.user %}">{% avatar thot.user 30 %}&nbsp{{ thot.user }}</a></strong></p>

          {% if user.is_authenticated %}

          {% if thot.user == user %}


          {% else %}
        <button value="{{ thot.user.id }}" onclick="{% isfollowing thot.user %}(this)" class="btn btn-info btn-sm followbtn {{ thot.user.id }} {% isfollowing thot.user %}">{% isfollowing thot.user %}</button>
        {% endif %}

              {% endif %}
            </div>



    <a href="https://s3.amazonaws.com/bellassets/{{ thot.image }}" alt = "Belacam Belacoin Photo" id="{{bela.pk}}" data-lightbox="image-1" data-title="">


    <img class="postedimg" data-lightbox="image-1" src="https://s3.amazonaws.com/bellassets/{{ thot.image }}" alt="">




    </a>
    <div class="likebox"> <!-- style="display:none;" -->

    {% if user.is_authenticated %}

        <button class="heart-icon likethispost btn btn-default button-blue" id="heart-icon{{ thot.pk }}" name="{{ thot.pk }}" onclick="like()">

        <i class="heart-shaped fa fa-heart-o" style="display: line-block" id='i1'></i>
            <i class="checkmark fa fa-check" style="display: line-block" id='i2'><p>Liked</p></i>
      </button>

    {% endif %}

           <div class="like_count" ><strong>Likes: </strong><div class="likecountnumber" id="{{ thot.pk }}">{{ thot.total_likes }}</div> |

           <div class="dropdown ">

                           <i class="photosettings fa fa-gear dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

    <div class="dropdown-menu dropdown-menu2" aria-labelledby="dropdownMenuButton">

        {% if thot.user == user or user.is_superuser %}

        <div class="dropdown-item gear-items delete-icon" id="delete{{ thot.pk }}" name="{{ thot.pk }}">Delete</div>

        {% else %}

      <div class="dropdown-item gear-items report-icon" id="report{{ thot.pk }}" name="{{ thot.pk }}">Report</div>

         {% endif %}

      {% if not thot.user == user %}

      <div class="dropdown-item gear-items block-icon" id="block{{ thot.pk }}" name="{{ thot.user.id }}">Block
      </div>
      {% endif %}


  </div>
</div>
        </div>
  <h4>

      <p class='comment'>

          <strong class="namebold"><a href="{% url 'found' thot.user %}">@{{ thot.user }}</a></strong> {{ thot.content|slice:":255" }} {% get_tags_for_object thot as "tags" %}{% for tag in tags %} #{{tag}} {% endfor %}</p></h4>

  <div class="likewrapper" id = "commentsection{{ thot.pk }}">

      {% for comment in thot.comments.all %}
          <div name="commenting" id="OP{{ thot.pk }}" class="comment">
             <p class="the_comment"><b><a href="{% url 'found' comment.author %}">@{{ comment.author }}</a></b> {{ comment.text }}</p>
          </div>
        {% empty %}

      {% endfor %}
    </div>

</article>

{% endfor %}
{% show_more %}
{% if user.is_authenticated %}
<script>
function Follow(elem){
$.ajax({
         type: "POST",
         url: "{% url 'ajaxFollow' %}",
         data: {'want_to_follow': $(elem).attr('value'),'csrfmiddlewaretoken': '{{ csrf_token }}'},
         dataType: "json",
         success: function(response) {
           $("." + response.followed_user_id).attr("onclick", "" );
           $("." + response.followed_user_id).unbind('click');
           $("." + response.followed_user_id).html( "Unfollow" );
           $("." + response.followed_user_id).attr('onClick','Unfollow(this)');

          },
          error: function(rs, e) {
            {% if user.is_superuser %}
            //alert(rs.responseText);
            {% endif %}
          }
    });
}
function Unfollow(elem){
  $.ajax({
           type: "POST",
           url: "{% url 'ajaxUnfollow' %}",
           data: {'want_to_unfollow': $(elem).attr('value'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
           dataType: "json",
           success: function(response) {
             $("." + response.unfollowed_user_id).attr("onclick", "" );
             $("." + response.unfollowed_user_id).unbind('click');
             $("." + response.unfollowed_user_id).html( "Follow" );
             $("." + response.unfollowed_user_id).attr('onClick','Follow(this)');
            },
            error: function(rs, e) {
                   {% if user.is_superuser %}
                   //alert(rs.responseText);
                   {% endif %}
            }
      });
}
</script>
<script>
$('.block-icon').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'block' %}",
               data: {'pk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      $(".article_" + response.blocked).remove();
                },
                error: function(rs, e) {
                  $(".article_" + response.blocked).remove();
                       {% if user.is_superuser %}
                       alert(rs.responseText);
                       {% endif %}
                }
          });
    })
</script>
<script>
$('.delete-icon').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'delete' %}",
               data: {'pk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      $("#article_" + response.pk).remove();
                },
                error: function(rs, e) {
                  $("#article_" + response.pk).remove();
                       {% if user.is_superuser %}
                       alert(rs.responseText);
                       {% endif %}
                }
          });
    })
</script>
<script>
$('.report-icon').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'report' %}",
               data: {'pk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      $("#article_" + response.pk).remove();
                },
                error: function(rs, e) {
                  $("#article_" + response.pk).remove();
                       {% if user.is_superuser %}
                       alert(rs.responseText);
                       {% endif %}
                }
          });
    })
</script>
<script>
$('.heart-icon').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'like' %}",
               data: {'pk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                 //alert(response.belacoin);
                      var likeClass = document.getElementById("heart-icon" + response.pk).classList;
                      if(response.liked) {
                        likeClass.add("active");
                      }
                      else {//likeClass.remove("active");
                    }
                      document.getElementById("Bela").innerHTML = response.belacoin;
                      document.getElementById(response.pk).innerHTML = response.likes_count;
                      document.getElementById("i1").toggleClass = "heart-shaped fa fa-heart fa-2x";
                      document.find('i').toggleClass("heart-shaped fa fa-heart fa-2x"); /*d*/

                },
                error: function(rs, e) {
                       //alert(rs.responseText);
                }
          });
    })
</script>
<script type="text/javascript">
    $(document).ready(function() {
      {% for thot in belas %}
           $.ajax({
             type: "POST",
             url: "{% url 'likeCheck' %}",
             data: {'pk': {{ thot.pk }}, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {
               if(!response.liked) {
                 var likeClass = document.getElementById("heart-icon" + response.pk).classList;
                 likeClass.add("active");
                 /*
                 var buttons = document.getElementsByClassName("likebox");
                 for (i = 0; i < buttons.length; i++) {
                   buttons[i].style.display = 'block';
                 }*/
               }
              },
              error: function(rs, e) {
                     //alert(rs.responseText);
              }
         });
         {% endfor %}

      }
      /*var buttons = document.getElementsByClassName("likebox");
      for (i = 0; i < buttons.length; i++) {
        alert("d");
        buttons[i].style.display = 'block';
      }*/
  )
</script>
{% endif %}
