<style>
                   

</style>
            

{% load el_pagination_tags %}
{% load taggit_templatetags2_tags %}
{% load avatar_tags %}
{% load math %}
{% lazy_paginate 1 bellas using "photos" %}

    {% for thot in bellas %}


                            	
<div class="white-box">
                    <div class="user-post">
                 
                      
                        	<div class="user-post-left">
                            	<a href="{% url 'found' thot.user %}" alt="Belacam User">{% avatar thot.user 50 %}</a>
                                    
                                <h4><a href="{% url 'found' thot.user %}" alt="Belacam User">@{{ thot.user }}</a><span>{{ thot.created_at|timesince }} ago </span></h4>
                            </div>
                        
                        
                        
                            <div class="user-post-right">
                                
                                
                                <div class="dropdown show hidden">    
  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
      
      <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/></li>
  </a>

  <div class="dropdown-menu report-menu" aria-labelledby="dropdownMenuLink">
    
      TEST THIS OUT
      
  </div>
                        
</div>
                                
                                
                                
                                
                            	<a href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/></a>
                            </div>
                        
                        
                        
                        </div>	
                    <p style="word-wrap: break-word;">
                        {{ thot.content }}
                        {{ thot.content|length }}
                        
                        
                        
    
    {{ array.last.text|slice:":255" }} {% get_tags_for_object thot as "tags" %}{% for tag in tags %}  <a href="discover/{{tag}}">#{{tag}}</a> {% endfor %} </p>
    
    
                    <img class="post-img" src="https://s3.amazonaws.com/bellassets/{{ thot.image }}"/>
                    <ul class="like-box">
                    	<li><a class="" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ thot.total_likes }} Likes</a></li>
                        

                        
                            <li class="postearnings"><label data-toggle="tooltip" title="Estimated Post Earnings" ><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> {% Earnings_Per_Post thot.total_likes %}</a></label></li>
                    </ul>
                    
                    
    
    
                    
                    
                    <div class="comment-boxes">
                    	
                        
                        {% if thot.comments.all|length > 0 %}
                        
                        <div class="reply-box reply-box2 photo{{ thot.pk }}">
                            {% with thot.comments.all as array %}
                            {% for comment in array|dictsortreversed:"created_at"|slice:"2"  %}
                        	

                            <a href="{% url 'found' comment.author %}" alt="Belacam User"><div class="reply-box-left">
                            	{% avatar comment.author 50 %}
                                </div></a>
                            <div class="reply-box-right" style="word-wrap: break-word;">
                                <a href="{% url 'found' comment.author %}" alt="Belacam User"><h4>@{{ comment.author }}</h4></a>
                                <h5>{{ comment.created_at|timesince }} ago</h5>
                                
                                <p style="word-wrap: break-word;"> {{ comment.text }} </p>
                                
                                 
                            </div>
                            {% endfor %}
                            {% endwith %}
                        </div>
                        
                        <a data-toggle="modal" data-target="#comments-{{thot.pk}}">
         
                        {% if thot.comments.all|length > 2 %}
<div class="viewcoment-box">
                        	View more comments
                        </div>
              {% else %}
                            
              {% endif %}
                            
                            
                        
                            
                        </a>
                        
                        
               
                        
                        <div id="comments-{{thot.pk}}" class="modal fade bs-example-modal-lg imagemodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            

                            <div class="modal-dialog lightboxmodal">
                                <div class="modal-content">
                        
                        <div class="white-box">
                    <div class="user-post">
                 
                      
                        	<div class="user-post-left">
                            	<a href="{% url 'found' thot.user %}" alt="Belacam User">{% avatar thot.user 50 %}</a>
                                    
                                <h4><a href="{% url 'found' thot.user %}" alt="Belacam User">@{{ thot.user }}</a><span>{{ thot.created_at|timesince }} ago </span></h4>
                            </div>
                        
                        
                        
                            <div class="user-post-right">
                                
                                
                                <div class="dropdown show hidden">    
  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
      
      <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/></li>
  </a>

  <div class="dropdown-menu report-menu" aria-labelledby="dropdownMenuLink">
    
      TEST THIS OUT
      
  </div>
                        
</div>
                                
                                
                                
                                
                            	<a href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/></a>
                            </div>
                        
                        
                        
                        </div>	
                    <p style="word-wrap: break-word;">{{ thot.content }}
    
    {{ array.last.text|slice:":255" }} {% get_tags_for_object thot as "tags" %}{% for tag in tags %}  <a href="discover/{{tag}}">#{{tag}}</a> {% endfor %} </p>
    
    
                    <img class="post-img" src="https://s3.amazonaws.com/bellassets/{{ thot.image }}"/>
                    <ul class="like-box">
                    	<li><a class="" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ thot.total_likes }} Likes</a></li>
                        

                        
                            <li class="postearnings"><label data-toggle="tooltip" title="Estimated Post Earnings" ><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> {% Earnings_Per_Post thot.total_likes %}</a></label></li>
                    </ul>
                    
                    
<style>
                            
                            
</style>
    
                    
                    
                    <div class="comment-boxes">
                    	
                        
                        {% if thot.comments.all|length > 0 %}
                        
                    



                                    {% for comment in thot.comments.all %}
                                    <a href="{% url 'found' comment.author %}" alt="Belacam User"><div class="reply-box-left">
                            	{% avatar comment.author 50 %}
                                </div></a>
                            <div class="reply-box-right" style="word-wrap: break-word;">
                                <a href="{% url 'found' comment.author %}" alt="Belacam User"><h4>@{{ comment.author }}</h4></a>
                                <h5>{{ comment.created_at|timesince }} ago</h5>

                                
                                            <p style="word-wrap: break-word;"> {{ comment.text }} </p>
                                
                                 
                                        </div>
                                    {% endfor %}



                        
                        
                        {% endif %}
                
                       
                    </div>
                          
                             <span class="commentavatar">{% avatar user 40 %}
                            </span>
                        
                        {% if user.is_authenticated %}
                        <form method="POST" id = "{{ thot.pk }}" name = "{{ thot.pk }}" class="comment"> {% csrf_token %}
                        {{ form.text }}

                        <input class="commentsubmit" type="submit" value="Submit" />
                        </form>
                        {% endif %}
                </div>
                        
                        
                                </div></div></div>
                        
                        
            
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        {% endif %}
                
                        <span class="commentavatar">{% avatar user 40 %}
                            </span>
                        
                        {% if user.is_authenticated %}
                        <form method="POST" id = "{{ thot.pk }}" name = "{{ thot.pk }}" class="comment"> {% csrf_token %}
                        {{ form.text }}

                        <input class="commentsubmit" type="submit" value="Submit" />
                        </form>
                        {% endif %}
                    </div>
                </div>


            {% endfor %}

<script>
    $('.comment').submit(function (event) {
      //alert("submitted");
        var name = $(this).attr('name');
          event.preventDefault();
          $.ajax({ // create an AJAX call...
              type: 'POST',
              data: $(this).serialize() + "&pk=" + $(this).attr('name'),
              dataType: 'json',
              url: "{% url 'comment2' %}", // the file to call
              success: function(response) { // on success..
                  $('.photo' + name).load("http://localhost:8000/feed/discover" +  ' .photo' + name);
                  alert("{{page_number}}")
              },
              error: function(e, x, r) { // on error..
                  //alert('failure'); // update the DIV
              }
          });
    });
    </script>
        {% show_more %}