<html>
{% block body %}
{% block head %}
{% load i18n %}


{% block extra_head %}
     <script src="https://use.fontawesome.com/afdb82143d.js"></script>
    
<link rel="stylesheet" href="{{STATIC_URL}}/css/site-c179c6a5f4.css">
{% endblock %}
{% load bootstrap %}
<head>
	<style>

	html {
        background: #FFF;
 
	}

	h1 {
	    color: maroon;
 	   margin-left: 40px;
	} 
        
     
/* Menu Styling START */ 
        #uppermenu{
            border-bottom: 1px solid #EEEEEE;
        }        
.umbutton{
    color: #555 !important;
    height: 80px;
    text-align: center;
    font-size: 40px;
    line-height: 80px;
     display: inline-block;
}
    #lamenu{
        padding-left: 50px;
        width: 40%;
         display: inline-block;
        margin-right: 0%;
        margin-top: 20px;
    }

        #lamenu a{
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .usersearchhold{
           
            display: inline-block;
            margin-top: 0px;
        }
        .usersearchhold p{
            color: #FFF;
            margin-top: -22px;
        }
        
        .tempusersearch{
            margin-left: 20px;
            margin-top: -50px !important;
            border: 2px solid #555555;
            height: 40px;
            padding-left: 10px;
            width: 200px;
        }
        
        .submitsearch{
            background: #FFF;
            height: 40px;
            width: 40px;
            padding-top: 5px;
            margin-left: -31px;
            border: 1px solid #555555;
            color: #555555;

        }
        
    #menulogo{
        vertical-align: top;
        margin: 0px;
        display: inline-block;
    text-align: center !important;
    }
    #menulogo img{
        padding-top: 8px;
        padding-bottom: 8px;
        max-width:100%;
max-height:100%;

    }
        
        .belacount{

            display: inline-block;
            vertical-align: top;
            float: right;
            margin-right: 30px;
                height: 80px;
            line-height: 80px;
            font-size: 30px;
            font-weight: 300;
            padding-left: 30px;
        }
        
        .belacoin{
            width: 40px;
            height: 40px;
            display: inline-block;
            margin-top: -10px;
        }
        
    #postbutton{

        display: inline-block;
        height: 40px;
    font-weight: 300 !important;
    margin-right: 50px;
    vertical-align: top;
    float: right;
}
        #postbutton p{
            font-size: 20px !important;
            margin-top: 15px !important;
    line-height: 50px !important;
             border: 1px solid #DDD;
        padding-left: 40px !important;
        padding-right: 40px !important;
            height: 50px !important;
        }
    #postbutton:hover{
        text-decoration: none;
        color: #FFF;
    }
        
/* Menu Styling END */   

	
}
	</style>
</head>
</section>
{% endblock %}
{% block content %}
<div id="uppermenu">
        <div id="lamenu">
    <a href="/belacam/apps/thoughts/mythots" class="umbutton"><i class="fa fa-home" aria-hidden="true"></i></a>

        <a href="/thoughts/users/{{user}}" class="umbutton"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            <a href="/messages" class="umbutton"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
<form class="usersearchhold">
<input class="tempusersearch" type="text" name="usersearchtemp" placeholder="Search Users or Tags">  <button type="submit" class="submitsearch"><i class="fa fa-search"></i></button><p>.</p></form>
        </div>

        <a href="/belacam/apps/thoughts/thot" class="umbutton" id="menulogo"><img src="http://belacoin.org/assets/img/longbelacam.png" alt="Belacoin Logo" ></a>
 

    

    
    <a href="/belacam/apps/thoughts/thot" class="umbutton" id="postbutton">

        <p>Upload</p>

    </a>
       <div class="belacount"><span id="Bela"> {{user.user1.belacoin}} </span>
    
    <img class="belacoin" src = "http://belacoin.org/assets/img/common/favicon/bela.png" alt = "Belacoin Remaining">
    
    
    </div> 
    
    

    

   

    </div>

<!--
    <div class="panel right">
        <h1>Create a Thought</h1>
        <p11 class="lead">
            <form action="/submit" method="post">
            {% for field in ribbit_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Ribbit!">
            </form>
        </p>
    </div>
    -->
    <div class="panel left">
        <h1>Directory of Users</h1>
        {% for user, thought in obj %}
        <p11 class="lead">
        <div class="ribbitWrapper">
            <a href="/thoughts/users/{{ user.username }}">
                <img class="avatar" src="{{ user.profile.gravatar_url }}">
                
           
            @{{ user.username }}
              
                
       </a>
           
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% endblock %}