<style>

    .none header{
        display: none;
    }
</style>



<div class="none">
    {% extends "theme_bootstrap/base.html" %}
</div>



{% load staticfiles %}

{% load pinax_webanalytics_tags %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
