
{% load staticfiles %}
{% load static from staticfiles %}
<html>
 
    
<style>
.twitter-typeahead, .typeahead, .empty-message  {
    width: 100%;
    
}

.tt-menu {
    background: #EDF2F6;
    width: 100%;
}
.tt-suggestion {
    overflow: hidden;
    display: table;
    width: 100%;
    padding: 10px 10px;
    border-bottom: 1px solid #e9ecf2;
}
/** Movie Card (Movie Suggestions) **/
.movie-card {
    position: relative;
    padding: 8px;
}
.movie-card-poster {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 52px;
    height: 52px;
    border: 2px solid #ccd6dd;
    border-radius: 5px;
}
.movie-card:hover .movie-card-poster {
    border-color: #f5f8fa;
}
.movie-card-details {
    min-height: 60px;
    padding-left: 60px;
}
.movie-card-name,
.movie-card-year {
    display: inline-block;
}
.movie-card-name {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
.movie-card-year {
    color: #8899a6;
}
.movie-card:hover .movie-card-year {
    color: #fff;
}
.movie-card-plot {
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
}
.movie-card:hover,
.movie-card.is-active {
    color: #fff;
    background: #0088CC;
    cursor: pointer;
}
.empty-message {
    position: relative;
    padding: 10px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
</style>
    
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
<input type="text" class="form-control typeahead" name="q" id="q" placeholder="Search Users or Tags">
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>

<script src="https://s3.amazonaws.com/bellassets/typeahead.js/typeahead.bundle.js"></script>
<script src="https://s3.amazonaws.com/bellassets/typeahead.js/bloodhound.js"></script>
<script>
var states = [];

function handleData(response) {
   for(var i = 0; i < response.length; i++) {
     states[i] = response[i].name.username;
   }
}

function funcA(){
  $.ajax({
    type: "GET",
    url: "/apiusers/",
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
    dataType: "json",
    success: handleData
   });
}

$(document).ready(function(){
  funcA();
});

var states2 = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // `states` is an array of state names defined in "The Basics"
  prefetch: '/apiusers/'
});

var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

$('.typeahead').typeahead(null, {
  highlight: true,
  name: 'states',
  display: 'value',
  source: substringMatcher({{users|safe}}),
  templates: {
    header: '<h3 class="league-name">Users</h3>',
    empty: [
      '<div class="empty-message">',
        'Unable to find any Users that match the current query',
      '</div>'
    ].join('\n'),
    suggestion: function(data) {
                return ['<div class="movie-card">',
                      '<img style="float:left;" src="http://belacoin.org/assets/img/blueicon.png" width="35" height="35"/>',
                      '<div style="padding-left: 5px;" class="movie-card-name">' + data + '</div>',
                      '</div>',
                      ].join('\n');
            },
  }
},
{
  highlight: true,
  name: 'states',
  display: 'value',
  source: substringMatcher({{tags|safe}}),
  templates: {
    header: '<h3 class="league-name">Tags</h3>',
    empty: [
      '<div class="empty-message">',
        'Unable to find any Tags that match the current query',
      '</div>'
    ].join('\n'),
    suggestion: function(data) {
                return ['<div class="movie-card">',
                      '<img style="float:left;" src="http://belacoin.org/assets/img/blueicon.png" width="35" height="35"/>',
                      '<div style="padding-left: 5px;" class="movie-card-name">#' + data + '</div>',
                      '</div>',
                      ].join('\n');
            },
  }
}
);

</script>
