{% comment %}
This demonstrates how to setup session security client side stuff on your own.
It provides sensible defaults so you could start with just::

    {% include 'session_tracking/all.html' %}

{% endcomment %}

{# If the user is not authenticated then there is no session to secure ! #}
{% if request.user.is_authenticated %}

    {% load session_tracking_tags %}
    {% load i18n l10n %}
    {% load static from staticfiles %}

    {# The modal dialog stylesheet, it's pretty light so it should be easy to hack #}
    <link rel="stylesheet" type="text/css" href="{% static 'session_tracking/../../static/session_tracking/style.css' %}">

    {# Include the template that actually contains the modal dialog #}
    {% include 'session_tracking/dialog.html' %}

    {# Load SessionActivity javascript 'class', jquery should be loaded - by you - at this point #}
    <script type="text/javascript" src="{% static 'session_tracking/../../static/session_tracking/script.js' %}"></script>

    {# Bootstrap a SessionActivity instance as the sessionTracking global variable #}
    {% localize off %}
        <script type="text/javascript">
            var sessionTracking = new yourlabs.SessionTracking({
                pingUrl: '{% url 'session_tracking_ping' %}',
                expireAfter: {{ request|expire_after|unlocalize }},
                warnAfter: {{ request|warn_after|unlocalize }},
                confirmFormDiscard: "{% trans 'You have unsaved changes in a form of this page.' %}"
            });
        </script>
    {% endlocalize %}    
{% endif %}
