{% load i18n %}

<div id="session_tracking_warning" class="session_tracking" style="display:none" aria-hidden="true" role="dialog">
    <div class="session_tracking_overlay"></div>
    <div class="session_tracking_modal" role="document" tabindex="-1">
        <h3>{% trans 'Your session is about to expire' %}</h3>
        <p>{% trans 'Click or type to extend your session.' %}</p>
    </div>
</div>

