<div class="row">


  <p class="reftext" translate>Belacam referral links pay generously. Therefore, we require referral links to be manually requested, and we hand-pick who to approve.</p>


  <div class="referredusers" *ngIf="!requesting_user.id || !requesting_user.verified">
    <h3 translate>Notice</h3>
    <p class="reftext" translate>Please confirm your email before applying for a Belacam referral link. Once you confirm your email, this message will disappear, and you will be able to apply for a referral link.</p>
  </div>
  <br>


  <div class="referredusers" *ngIf="requesting_user.id && requesting_user.verified">
    <form (ngSubmit)="submit()">

      <h3 translate>Reminder to Play Fair</h3>
      <p class="reftext" translate>As per the <a  [routerLink]="['/terms']">terms and conditions of Belacam</a>, you agree to not rig, cheat, and game the referral system through fake sign-ups or other deceptive methods. Doing so can result in the loss of Bela that you obtained through those methods.</p>


      <h3 translate>How will you promote Belacam with your referral link? If you're promoting it on a website or social media accounts, please link us to those so we can preview them.</h3>
      <textarea class="applytextarea" name="message" rows="5" maxlength="2048"
            
                [(ngModel)]="applyText"
                translate>
      </textarea>

      <button type="submit" name="subscribe" class="long_submitbutton" translate> Submit </button>
    </form>

  </div>

</div>
