<div class="lb-outerContainer transition" #outerContainer>
  <div class="lb-container" #container>
    <img [src]="album[currentImageIndex].src" class="lb-image animation fadeIn" [hidden]="ui.showReloader" #image>
    <div class="lb-nav" [hidden]="!ui.showArrowNav" #navArrow>
      <a class="lb-prev" [hidden]="!ui.showLeftArrow" (click)="prevImage()" #leftArrow></a>
      <a class="lb-next"[hidden]="!ui.showRightArrow" (click)="nextImage()" #rightArrow></a>
    </div>
    <div class="lb-loader" [hidden]="!ui.showReloader" (click)="close($event)">
      <a class="lb-cancel"></a>
    </div>
  </div>
</div>
<div class="lb-dataContainer" [hidden]="ui.showReloader" #dataContainer>
  <div class="lb-data">
    <div class="lb-details">
      <span class="lb-caption animation fadeIn" [hidden]="!ui.showCaption" #caption>{{ album[currentImageIndex].caption }}</span>
      <span class="lb-number animation fadeIn" [hidden]="!ui.showPageNumber" #number>{{ content.pageNumber }}</span>
    </div>
    <div class="lb-closeContainer">
      <a class="lb-close" (click)="close($event)"></a>
    </div>
  </div>
</div>
