<div class="post-lightbox" [hidden]="curPageID != 0">
  <div class="lb-outerDiv" #outerDiv>
    <div *ngIf="album.length > 0" class="lb-outerContainer transition" style="height: auto" #outerContainer>

      <div class="lb-container" #container>
        <div class="white-box">



          <div class="lb-image-wrapper">
            <app-insufficient-bela #insufficientMessage [user]="requesting_user" *ngIf="requesting_user">
            </app-insufficient-bela>

            <img class="lb-image animation fadeIn" [src]="album[currentImageIndex].src" [hidden]="ui.showReloader"
                 #image/>

            <video controls *ngIf="showVideo(album[currentImageIndex])" preload="metadata" width="100%" height="400">
              <source [src]="videoSrc">
            </video>

            <div class="lb-nav" [hidden]="!ui.showArrowNav" #navArrow>
              <a class="lb-prev" [hidden]="!ui.showLeftArrow" (click)="prevImage()" #leftArrow></a>
              <a class="lb-next" [hidden]="!ui.showRightArrow" (click)="nextImage()" #rightArrow></a>
            </div>
            <div class="lb-loader" [hidden]="!ui.showReloader" (click)="close($event)">
              <a class="lb-cancel"></a>
            </div>
          </div>
          <div class="user-post">

            <div class="user-post-left">
              <a [routerLink]="['/user/', currentThot.user.username]"
                 alt="Belacam User"
                 class="circlephoto user-avatar"
                 (click)="handleAvatarClick($event)">
                <span class="avatar-wrapper" [innerHTML]="currentThot.user.avatar"></span>
              </a>


              <h4 class="post-user-info">
                <!-- Links username to user's profile page -->
                <a [routerLink] = "['/user/', currentThot.user.username]" alt="Belacam User" (click)="handleAvatarClick($event)">
                  {{ currentThot.user.username }}
                </a>
                <span class="postlocation" *ngIf="currentThot.location && !currentThot.editableLocation">
                  <i class="fas fa-map-marker-alt"></i> {{currentThot.location}}
                </span>
                <span class="posttime">{{ currentThot.created_at|messageTime }} </span>
              </h4>
            </div>


            <div class="user-post-right">
              <div class="dropdown">
                <a class="dropdown-toggle image-btn" id="dropdownMenuLink3" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  <img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/>
                </a>
                <div class="dropdown-menu deletereport-menu" aria-labelledby="dropdownMenuLink3">
                  <div class="dropdown-caret">
                    <div class="caret-outer"></div>
                    <div class="caret-inner"></div>
                  </div>
                  <a class="" href="#" *ngIf="requesting_user && requesting_user.id && currentThot.user.id != requesting_user.id"
                     (click)="follow(currentThot.user);false" translate>
                    Follow
                  </a>

                  <a class="dropdown-item" target="_blank"
                     [attr.href]="['https://twitter.com/home?status=https://www.belacam.com/n/post/' +  currentThot.user.username +'/' + currentThot.id]"
                     translate>Share on Twitter</a>

                  <ng-container *ngIf="requesting_user">
                    <a class="dropdown-item"
                       href="#"
                       *ngIf="requesting_user.id && (currentThot.user.id==requesting_user.id)"
                       (click)="editable(true);false" translate>Edit</a>

                    <a class="dropdown-item"
                       href="#"
                       *ngIf="requesting_user.id && (currentThot.user.id==requesting_user.id)"
                       (click)="delete();false" translate>Delete</a>

                    <a class="dropdown-item"
                       href="#"
                       *ngIf="requesting_user.is_superuser"
                       (click)="deleteAdmin();false" translate>Admin Delete</a>

                    <a class="dropdown-item"
                       href="#"
                       *ngIf="requesting_user.id && (currentThot.user.id!=requesting_user.id)"
                       (click)="report();false" translate>Report</a>

                    <a class="dropdown-item"
                       href="#"
                       *ngIf="requesting_user.id && (currentThot.user.id!=requesting_user.id)"
                       (click)="block_user();false" translate>Block User</a>
                  </ng-container>

                </div>
              </div>
            </div>



            <p class="lightboxcaption" *ngIf="!currentThot.editable">
              <app-dynamic-html [innerHTML]="currentThot.content|tagify"></app-dynamic-html>
            </p>

            <div *ngIf="currentThot.editable" style="float: left; width: 100%; margin-bottom: 15px; margin-left: 5px; margin-right: 5px;">
              <textarea class="caption-edit-box" [(ngModel)]="currentThot.tempContent"></textarea>
              <input class="savebutton" (click)="update();false" type="button" value="Save">
              <input class="cancelbutton" (click)="editable(false);false" type="button" value="Cancel">
            </div>

            <ul class="like-box like-box-lightbox">
              <li class="heart"
                  [class.unlikedheart]="!currentThot.is_liked"
                  [class.likedheart]="currentThot.is_liked" >
                <a class="" href="#" (click)="like(currentThot);false">

                  <img class="grayheart"
                       src="https://s3.amazonaws.com/bellassets/assets/images/grayheart.png"
                       [alt]="'Give some Bela'|translate" />

                  <img class="redheart"
                       src="https://s3.amazonaws.com/bellassets/assets/images/redheart.png"
                       [alt]="'Give some Bela'|translate" />


                </a>
                <a (click)="openLikes()">
                  {{ currentThot.total_likes_count }}
                </a>


                  <!--<span class="viewscount" >
                  <i class="far fa-eye"></i><b> {{currentThot.views.length}}</b>
                </span>-->
              </li>


              <li class="postearnings">
                <img src="https://s3.amazonaws.com/bellassets/assets/images/orangebela.png">
                {{ album[currentImageIndex].thot.belas|number:'1.2-2' }}<br>
                <i class="fas fa-dollar-sign"></i>
                {{ album[currentImageIndex].thot.earnings|number:'1.2-2' }}
              </li>
            </ul>

            <div class="comment-boxes comment-box">
              <app-comment [thot]="currentThot" [hideForm]="true"></app-comment>
            </div>

            <div class="comment-boxes add-comment-box">
              <app-comment-form [thot]="currentThot"
                                (success)="addCommentToAlbumPost($event)"></app-comment-form>
            </div>

          </div>

        </div>
      </div>

      <div class="lb-loader" [hidden]="!ui.showAlbumRequestLoader">
        <a class="lb-cancel"></a>
      </div>
    </div>


    <div *ngIf="album.length > 0" class="lb-dataContainer" [hidden]="ui.showReloader" #dataContainer>
      <div class="lb-data">
        <div class="lb-details">
                <span class="lb-caption animationBelacam Growth fadeIn" [hidden]="true"
                      #caption>{{ currentThot.caption }}</span>
          <span class="lb-number animation fadeIn" [hidden]="true" #number>{{ content.pageNumber }}</span>
        </div>
        <div class="lb-closeContainer">
          <a class="lb-close" (click)="close($event)"></a>
        </div>
      </div>
    </div>
  </div>

</div>

<div app-likes-modal [thot]="currentThot" [user]="requesting_user" *ngIf="curPageID == 1" style="height: 0;">
</div>

<div app-views-modal [thot]="currentThot" [user]="requesting_user" *ngIf="curPageID == 2" style="height: 0;">
</div>

