<div class="user-profile-contain">
  <div class="alert fade in {{ message_type }}" *ngIf="alert_message">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ alert_message }}
  </div>
  <div class="mid-con">
    <div class="container">

      <div class="row">
        <div class="col-sm-2 col-lg-2 col-md-2">

        </div>
        <div class="col-sm-8 col-lg-8 col-md-8 content-body">
          <legend>Forgot password</legend>

          <form method="post" id="reset_password_form">
            <div class="form-group">
              <label for="id_email">Email:</label>
              <input id="id_email" class="form-control" maxlength="254" name="email" type="email" [(ngModel)]="email">
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit" (click)="$event.preventDefault();reset_password_form();">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
