<div class="user-profile-contain">
  <div class="mid-con">
    <div class="container">

      <div class="row">
        <div class="col-sm-2 col-lg-2 col-md-2">

        </div>
        <div class="col-sm-8 col-lg-8 col-md-8 content-body" *ngIf="status=='loading'">
          <legend>Loading...</legend>
        </div>
        <div class="col-sm-8 col-lg-8 col-md-8 content-body" *ngIf="status=='success'">
          <legend>Change password</legend>

          <form method="post" id="reset_password_confirm_form">
            <div class="form-group">
              <label for="id_new_password">New Pasword:</label>
              <input id="id_new_password" class="form-control" maxlength="254" name="new_password" type="password"
                     [(ngModel)]="password_new">
            </div>
            <div class="form-group">
              <label for="id_new_password_confirm">New Pasword Confirmation:</label>
              <input id="id_new_password_confirm" class="form-control" maxlength="254" name="new_password_confirm"
                     type="password" [(ngModel)]="password_new_confirm">
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit"
                      (click)="$event.preventDefault();reset_password_confirm_form();">
                Change password
              </button>
            </div>
          </form>
        </div>
        <div class="col-sm-8 col-lg-8 col-md-8 content-body" *ngIf="status=='incorrect'">
          <p>
            The password reset link was invalid, possibly because it has already been used. Please request a new
            password reset.
          </p>
        </div>
        <div class="col-sm-8 col-lg-8 col-md-8 content-body" *ngIf="status=='done'">
          <p>
            Your password has been set. You may go ahead and <a href="#" [routerLink]="['']">sign in</a> now.
          </p></div>
      </div>
    </div>
  </div>
</div>
