.midsectioninfo h2 {
  font-size: 80px;
  margin-top: 40px;
  display: block;
  color: #888;

}

.midsectioninfo div:hover {
  background-color: #EEE;

}

.midsectioninfo div {
  display: block;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -2px;
    margin-bottom: -30px;
    padding: 10px;

}

.midsectioninfo a:hover {
text-decoration: none;
}

.midsectioninfo p {
  font-size: 24px;
  color: #888;
  margin-top: 10px;
}

.midsectioninfo i {
  font-size: 120px;
  margin-top: 40px;
  display: block;
  color: #f87433;
}

.withdebit {
  border-right: 2px solid #CCCCCC;

}

.withbtc {
  margin-left: -4px;

}

.midsectioninfo {
  white-space: nowrap;
  width: 100%;

  border-top: 2px solid #CCCCCC;
  text-align: center;
}

.depowith:hover {
  cursor: pointer;
}

.depositbox, .withdrawbox {
  text-align: center;
}

.depositbox .followerbox, .withdrawbox .followerbox {
  border: none !important;
  padding-bottom: 0px !important;
  height: auto !important;

}

.depositbox h4 {
  width: 100%;
  color: #FFF;
  font-size: 28px;
  text-align: left;
  font-family: 'ProximaNovaRegular', sans-serif;
  background-color: #64A9EB;
}

.depositinstructions {
  color: #888;
  font-size: 24px;
  padding-left: 10%;
  padding-right: 10%;

}

.depositbox h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #F9F9F9;
  border-radius: 5px;
  color: #64A9EB;

  border: 1px solid #D5D5D5;
}
.depositbox button.depositaddress {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #F9F9F9;
  border-radius: 5px;
  color: #64A9EB;
  width: 100%;
  border: 1px solid #D5D5D5;
  cursor: pointer;
}
.depositbox a.depositaddress:hover {
  text-decoration: none;
}
