<div class="depositbox">
  <div class="white-box">
    <h4 translate>Deposit Bela</h4>
    <h3 class="depositaddress" translate *ngIf="deposit_address.startsWith('0xbe1a')">{{ deposit_address }}</h3>
    <button class="depositaddress" translate (click)="request_deposit_address()" *ngIf="!deposit_address.startsWith('0xbe1a')" [disabled]="processing">Click for deposit address</button>
    <p class="depositinstructions" translate>To deposit Bela to your account, send Bela from an exchange or wallet to your deposit address listed above. </p>
    <br>
    <div class="midsectioninfo">


      <a href="https://mercatox.com/?referrer=308520" target="_blank"
         alt="Bela on Mercatox">
        <div class="withbtc">
          <i class="fab fa-bitcoin"></i>
          <p translate>Buy Bela with Bitcoin</p>
        </div>
      </a>


    </div>

  </div>
</div>
