<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>

<div class="user-profile-contain">



  <div class="mid-con">
    <div class="container">
      <div class="row">

        <div class="col-sm-3 col-lg-3 col-md-3 user-profile-left">
        </div>

        <div class="col-sm-6 col-lg-6 col-md-6 middle-section">

          <div class="discover-box">
            <div class="panel with-nav-tabs ">

              <h1 translate>Snap, Post, Paid. It’s that easy.</h1>
              <h3 translate>On Belacam, a picture of your food can pay for your lunch, and your regular vacation photos can help fund the vacation itself.</h3>
              <p translate>
              Belacam is a photo-sharing site like Instagram but with a twist. Each ‘like’ automatically sends a small amount of money from one user to another. Belacam works like any other social media site; users comment, post photos, follow others, and browse feeds, all while earning real money for posting good content. 

              </p>

              <p translate>Money is transferred using a cryptotoken called BELA. Once you earn money, you can withdraw it or use it to like other users’ posts. Belacam is a way for everyday users and quality content creators to receive monetary rewards for their hard work and creativity. 

              </p>

              <h3 translate>Our Story</h3>

              <p translate>When we set out to make our minimum viable product in early 2017, we needed to know whether or not users would give real money just to like a picture. The answer was a resounding <strong>YES!</strong>
              </p>

              <p translate>On April 14th, 2017, we launched the open Beta for Belacam at 2:30am from a University of Virginia dorm room with a 2 person team. Within 30 minutes, 250 registered users and more visitors sent our servers crashing to the ground. We allowed 3,500 users to enter the platform last summer and we watched their behavior closely.  We found that photographers, artists, and travelers receive ‘likes’ at a higher rate than others. People who post clearly copyrighted content, memes, or low-quality content tend to receive nothing. Regular users who simply post quality photos of their daily lives certainly do see their fair share of earnings. Through our Beta testing in summer 2017, we learned that people are willing to pay money to give a like. Though the product was rough, it proved our idea. Now, we are ready to take that idea to the next level. </p>
                
<h3 translate>Belacam Full Web Launch</h3>
                
              <p translate>This is the third version of Belacam, and we are finally ready to expand to the masses. Belacam has been totally overhauled from its 2017 version. We have introduced sidebar content, US Dollar balance estimates, a new discover page, smarter searching, easier registration, location tagging, support for an increasing number of languages, a referral system, photo cropping, swift posting, and beautiful styling. New additions to Belacam also reward users who give likes, making them more discoverable and increasing the chance that they get likes in return. Next features on our agenda include expanded photo editing, stories, and most importantly, an Android and iOS application.</p>


              <p translate>While we understand that a mobile app is our true bridge to mass adoption, this full web launch period is incredibly important. As we expand our user-base in this period, it will allow our team to pursue further rounds of funding to get the mobile application ready for release as well as gain invaluable insight into what users need from Belacam. The quicker Belacam’s web version gains traction, the quicker and cleaner the release of the Belacam mobile app will be.</p>

              <p translate>Our dedicated team is ready to make Belacam a viable Instagram competitor. With your help and advice to perfect our product, we know that we can achieve our goals.

              </p>

              <p translate>Thank you for being here, and welcome to Belacam.
 </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
