<div class="modal-dialog modal-m image-edit-modal">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" (click)="close();" aria-hidden="true">&times;</button>
      <h5 class="modal-title">{{ this.title }}</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="imageeditdiv col-md-8" #imageEditDiv>
          <img-cropper id="previewimage" #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
        </div>
        <div class="resultimage rounded col-md-4" *ngIf="data.image" >
          <h5 class="preview_label">Preview</h5>
          <img [src]="data.image" [width]="cropperSettings.croppedWidth">
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="saveImage($event);">Save changes</button>
      <button type="button" class="btn btn-secondary" (click)="close();">Close</button>
    </div>
  </div>
</div>
