<div class="white-box" *ngIf="user.user1">
  <h4 class="account" translate>Each <img src="https://s3.amazonaws.com/bellassets/assets/images/redheart.png">  = {{ user.bella_per_like|number:'1.2-2' }} <img src="https://s3.amazonaws.com/bellassets/assets/images/orangebela.png">
  </h4>
  <div class="trendingbox">
    <div class="balances">

      <h3 class="bigbelabalance"> {{ user.user1.belacoin }} <img src="https://s3.amazonaws.com/bellassets/assets/images/orangebela.png"></h3>

      <h5 class="usdbalance"> ${{ user.user1.account_balance|number:'1.2-2' }}</h5>





      <div class="clearfix"></div>
      <div class="clearfix">
        <span>
          <!--<a class="depowith" data-toggle="modal" data-target=".depositbox" translate>Deposit</a>-->
          <a class="depowith"  [routerLink]="['/deposit']" translate>Deposit</a>
        </span>

        <span class="pull-right">
          <a class="depowith" [routerLink]="['/withdrawal']" translate>Withdraw</a>
          <!--<a class="depowith" data-toggle="modal" data-target=".withdrawbox" translate>Withdraw</a>-->
        </span>

        <div class="modal fade bs-example-modal-lg depositbox" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel">

          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="white-box followerbox">
                <h4 translate>Deposit Bela</h4>
                <h3 translate>Deposits are currently closed</h3>
                <p class="depositinstructions" translate>To deposit Bela to your account, send Bela from an exchange or wallet to your deposit address listed above. </p>
                <br>
                <div class="midsectioninfo">


                  <a href="https://mercatox.com/?referrer=308520" target="_blank"
                     alt="Bela on Mercatox">
                    <div class="withbtc">
                      <i class="fab fa-bitcoin"></i>
                      <p translate>Buy with Bitcoin</p>
                    </div>
                  </a>


                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="modal fade bs-example-modal-lg withdrawbox" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel">

          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="white-box followerbox">

                <h4 translate>Withdraw Bela</h4>



                <form class="withdraw">

                  <div class="addressdiv">
                    <h5 translate>Address</h5>
                    <input #withdrawalAddress
                           placeholder="0xffb44851dbdc7dd2a679bf669fdae90d47d0ecac"
                           id="address" type="text" name="withdraw" value=""
                           (change)="assignAddress($event)"
                           required>
                  </div>

                  <div class="amountdiv">
                    <h5>Bela</h5>
                    <input #withdrawalAmount placeholder="5" id="amount" type="number"
                           name="amount"
                           min=".5" value="" (change)="assignAmount($event)" required>
                  </div>


                  <br><br>
                  <p class="depositinstructions" translate>Enter a Bela address to receive
                    your funds and choose how much you would like to withdraw. </p>

                  <div class="midsectioninfo">
                    <div class="withdebit">
                      <h2> {{ user.user1.belacoin }} </h2>
                      <p>BELA</p>
                    </div>

                    <div class="withbtc">
                      <h2>${{ user.user1.account_balance|number:'1.2-2' }}</h2>
                      <p translate>USD Value</p>
                    </div>

                  </div>


                  <div class="submitfooter">
                    <input (click)="withdrawal();false" class="withdrawsubmit"
                           type="submit" value="Submit">
                    <div>
                      <ngx-loading [show]="loading"></ngx-loading>
                    </div>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


