
.withdraw{

    margin-top: -10px !important;
}

.withdraw .midsectioninfo {
  background-color: #EEE;
    height: auto;
}

.withdraw .midsectioninfo .withdebit {
  border-right: none;
}

.midsectioninfo h2 {
  font-size: 80px;
  margin-top: 40px;
  display: block;
  color: #888;

}

.submitfooter {
  width: 100%;
  border-top: 2px solid #CCC;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #73CA65;
}

.submitfooter:hover{
    cursor: pointer;
    background: #73B765;
}


.withdrawsubmit {
  background: None !important;
  font-size: 24px;
  font-family: 'ProximaNovaRegular', sans-serif;
  color: white;
  width: 100%;
}

.withdraw input::-webkit-input-placeholder {
  color: #CCC;
}

.withdraw input::-moz-placeholder {
  color: #CCC;
}

.withdraw input:-ms-input-placeholder {
  color: #CCC;
}

.withdraw input:-moz-placeholder {
  color: #CCC;
}

.withdraw div {
  display: inline-block;
}

.withdraw h5 {
  color: #888;
  font-size: 24px;
  padding-left: 10%;
  padding-right: 10%;

}

.addressdiv {
  width: 60%;
  margin-right: 10px;
  color: #888;
  vertical-align: top;
}

.amountdiv {
  width: 20%;
  vertical-align: top;

}

.withdraw {
  color: #888;
  margin-top: 40px;

}

.withdrawbox h4 {
  width: 100%;
  color: #FFF;
  font-size: 28px;
  text-align: right;
  font-family: 'ProximaNovaRegular', sans-serif;
  background-color: #F87433;
  padding-right: 20px;
}

#address {
  font-size: 24px;
  display: inline-block;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  background-color: #F9F9F9;
  border-radius: 5px;
  color: #888;
  border: 1px solid #D5D5D5;
}

#amount {

  font-size: 24px;
  display: inline-block;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  background-color: #F9F9F9;
  border-radius: 5px;
  color: #888;
  border: 1px solid #D5D5D5;
}

.midsectioninfo div:hover {
  background-color: #EEE;

}

.midsectioninfo div {
  display: inline-block;
  width: 50%;

}

.midsectioninfo p {
  font-size: 18px;
  color: #888;
  margin-top: 10px;
}

.midsectioninfo i {
  font-size: 120px;
  margin-top: 40px;
  display: block;
  color: #888;
}

.withdebit {
  border-right: 2px solid #CCCCCC;

}

.withbtc {
  margin-left: -4px;

}

.midsectioninfo {
  white-space: nowrap;
  width: 100%;

  border-top: 2px solid #CCCCCC;
  text-align: center;
}

.depowith:hover {
  cursor: pointer;
}

.depositbox, .withdrawbox {
  text-align: center;


}

.depositbox .followerbox, .withdrawbox .followerbox {
  border: none !important;
    padding-bottom: 0px !important;
    height: auto !important;

}

.depositbox h4 {
  width: 100%;
  color: #FFF;
  font-size: 28px;
  text-align: left;
  font-family: 'ProximaNovaRegular', sans-serif;
  background-color: #64A9EB;
}

.depositinstructions {
  color: #888;
  font-size: 24px;
  padding-left: 10%;
  padding-right: 10%;

}

.depositbox h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #F9F9F9;
  border-radius: 5px;
  color: #64A9EB;

  border: 1px solid #D5D5D5;
}
