<i class="fas fa-check confirmedicon"></i>

<h1 class="text-center" translate>
  Your account is claimed — Now share Belacam with friends!
</h1>

<p class="text-center" translate>On July 20th, we will email you to give you $1 in Bela and let you finish making your account. Tell your friends about Belacam so they can get paid too!</p>

<br>
<h2 class="text-center" translate>While you Wait</h2>
<p class="text-center" translate>Thousands of people just like you are waiting for Belacam to launch. Here are some things to do while you wait:</p>
<ol class="confirmedol">
<li translate><a href="https://www.coinexchange.io/market/BELA/BTC">Buy some Bela</a> — Bela is the cryptocurrency that powers Belacam. You're gifted $1 of Bela on July 20th, but if you want more, you'll have to buy it or earn it.</li>
<li translate><a href="https://t.me/letslivebela"> Join the Bela Telegram Chat</a> — Talk with other Belacam future users.</li>
<li translate><a [routerLink]="['/about']"> Read more about Belacam</a></li>
<li translate><a routerLink="/discover"> Explore Belacam</a> — Nearly 200 Early-Access Testers have filled the site in a live setting with great content for you to explore.</li>


</ol>
