<h2 class="center">Weekly Leaderboards</h2>
<br>
<br>


<h4 class="center">Leaderboard bonuses are recorded and paid out at the end of each week. </h4>
    
  <div class="leaderboard_bonuses_wrapper">  
<div class="row leaderboard_bonuses">
    <div class="col-xs-4 col-sm-4 bonus_amount"><h3>100 <img src="https://s3.amazonaws.com/bellassets/assets/images/orangebela.png"/></h3></div>
    
    
    <div class="col-xs-8 col-sm-8 gold">Gold Winners</div></div>
    
<div class="row leaderboard_bonuses">
    <div class="col-xs-4 col-sm-4 bonus_amount"><h3>50 <img src="https://s3.amazonaws.com/bellassets/assets/images/orangebela.png"/></h3></div>
    
    
    <div class="col-xs-8 col-sm-8 silver">Silver Winners</div></div>
    
<div class="row leaderboard_bonuses">
    <div class="col-xs-4 col-sm-4 bonus_amount"><h3>25 <img src="https://s3.amazonaws.com/bellassets/assets/images/orangebela.png"/></h3></div>
    
    
    <div class="col-xs-8 col-sm-8 bronze">Bronze Winners</div></div>
</div>
<br>
<br>


<div class="white-box leaderboard-white-box">

    
    
    <h3 class="center">Most Likes Given</h3>
<h4 class="center no-border">August 20th - August 26th</h4>
<ul class="leaderboard">
<li class="header-li">User <span class="pull-right">Likes Given</span></li>
<li class="gold">
1) <a href="/b/user/tyler">Tyler</a> <span class="pull-right">1,684</span>
</li>
    
<li class="gold">
2) Tanner <span class="pull-right">1,511</span>
</li>
    
<li class="silver">
3) William_ikiabo <span class="pull-right">1,005</span>
</li>
    
<li class="silver">
4) luktov7777 <span class="pull-right">850</span>
</li>

<li class="silver">
5) 2icken <span class="pull-right">786</span>
</li>
    
<li class="bronze">
6) Vinateee <span class="pull-right">758</span>
</li>
    
<li class="bronze">
7) quikflip757 <span class="pull-right">605</span>
</li>

<li class="bronze">
8) serrgl <span class="pull-right">569</span>
</li>
    
<li class="bronze">
9) Gdigitax <span class="pull-right">564</span>
</li>
    
<li class="bronze">
10) greent <span class="pull-right">564</span>
</li>

</ul>
</div>

<div class="white-box leaderboard-white-box">
<h3 class="center">Most Likes Given to Different People</h3>
<h4 class="center no-border">August 20th - August 26th</h4>
<ul class="leaderboard">
<li class="header-li">User <span class="pull-right">People Given Likes</span></li>
<li class="gold">
1) <a href="/b/user/tyler">Tyler</a> <span class="pull-right">568</span>
</li>
    
<li class="gold">
2) Tanner <span class="pull-right">548</span>
</li>
    
<li class="silver">
3) William_ikiabo <span class="pull-right">384</span>
</li>
    
<li class="silver">
4) luktov7777 <span class="pull-right">379</span>
</li>

<li class="silver">
5) 2icken <span class="pull-right">362</span>
</li>
    
<li class="bronze">
6) Vinateee <span class="pull-right">320</span>
</li>
    
<li class="bronze">
7) quikflip757 <span class="pull-right">301</span>
</li>

<li class="bronze">
8) serrgl <span class="pull-right">296</span>
</li>
    
<li class="bronze">
9) Gdigitax <span class="pull-right">292</span>
</li>
    
<li class="bronze">
10) greent <span class="pull-right">279</span>
</li>

</ul>
</div>