<div class="user-profile-contain">

  <div class="mid-con">
    <div class="container">


      <div class="row">
        <div class="col-sm-3 col-lg-3 col-md-3 user-profile-left">
          <app-profile-box *ngIf="!!requesting_user.id" [user]="requesting_user"></app-profile-box>
          <app-trending [trending]="trending"></app-trending>
          <app-growth [growth]="growth"></app-growth>
        </div>

        <div class="col-sm-6 col-lg-6 col-md-6 middle-section" >
          <router-outlet>
          </router-outlet>
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3 user-profile-left">

          <app-deposit-withdrawal-form *ngIf="requesting_user.id !==  undefined "></app-deposit-withdrawal-form>
          <app-suggested [suggested]="suggested" [earners]="earners"></app-suggested>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-top-margin">
</div>
<a id="top_to_button" (click)="goToTop($event);">
  <i class="fa fa-angle-up"></i>
</a>
