#top_to_button {
  display: inline-block;
  background-color: #f87433;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#top_to_button i {
  line-height: 67px;
  font-size: 3em;
  color: #fff;
}
#top_to_button:hover {
  cursor: pointer;
  background-color: #333;
}
#top_to_button:active {
  background-color: #555;
}
#top_to_button.show {
  opacity: 1;
  visibility: visible;
}
