{% load bootstrap %}
{% load i18n %}
{% load account_tags %}
<html>
	{% block extra_head %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript">
	</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(function() {
	$("#new-user").autocomplete({
	source: "/autocomplete/newuser/",
	minLength: 1,
	});
	});
	</script>
	{% endblock %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


{% block footer %}

{{ form.media }}
{% endblock %}
</html>