<title>Belacam</title>

<link rel="shortcut icon" href="https://s3.amazonaws.com/bellassets/orangeicon.png">
<link href="https://s3.amazonaws.com/bellassets/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98202441-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

    gtag('config', 'UA-98202441-4');
    gtag('config', 'AW-855697033');
</script>


<style>

    #content_body{
        margin-top: 90px !important;
        background: #ffffff;
        right: 0px;
        margin: 0px auto;
        width: 95%;
        max-width: 800px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 15px;
        padding: 25px;
    }
    .wrapper {
      font-size: 17px;
    }
    .form-group label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .form-group input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}
{% load notifications_tags %}
{% load avatar_tags %}
{% block body %}

    {% block head %}

      {% if user.is_authenticated %}
        <script>window.location.href="/";</script>
      {% endif %}

      {% if DEBUG %}
          <link href="/static/css/customs.css" rel="stylesheet" type="text/css">
      {% else %}
          <link href="https://s3.amazonaws.com/bellassets/assets/css/customs.css" rel="stylesheet" type="text/css">
      {% endif %}
      <div class="header-box">
          <div class="container">
              <div class="row">
                  <div class="col-sm-3 col-lg-3 col-md-3 logo">

                      <a  href="/b/feed" alt="Belacam Home Feed Page"> <img src="https://s3.amazonaws.com/bellassets/orangeicon.png"/></a>

                      <div class="feedanddiscover">
                          <a href="/b/feed" alt="Belacam Feed" class="feedlink inactivelink"><h2>{% trans "Feed" %}</h2></a>
                          <a href="/b/discover" alt="Discover Belacam" class="discoverlink inactivelink"><h2>{% trans 'Explore' %}</h2></a>
                      </div>

                  </div>
                  <div class="col-sm-3 col-lg-3 col-md-3 col-sm-offset-6 col-md-offset-6 col-lg-offset-6 ">

                    <span>
                      <a class="gotologin" href="/">Login or Sign Up</a>
                    </span>

                  </div>


              </div>

          </div>

      </div>


    {% endblock %}

    <div id="content_body">
        <div class="wrapper">


            {% block content %}



            {% endblock %}
        </div>
    </div>

{% endblock %}