<title>Belacam</title>

<link rel="shortcut icon" href="https://s3.amazonaws.com/bellassets/orangeicon.png">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98202441-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-98202441-4');
    gtag('config', 'AW-855697033');
</script>


<!-- Event snippet for Pre-Registrations conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
    function alertit() {
        alert("GO SUCCESS!");
    }

    function gtag_report_conversion(url) {
        var callback = function () {
            if (typeof(url) != 'undefined') {
                window.location = url;
            }
        };
        gtag('event', 'conversion', {
            'send_to': 'AW-855697033/MLvZCO7DqYUBEInNg5gD',
            'event_callback': callback
        });
        return false;
    }
</script>


{% load i18n %}
{% block extra_head %}
  {% load avatar_tags %}
  {% load widget_tweaks %}

{% endblock %}
{% block head %}
  <head>
    {% if DEBUG %}
      <link rel="stylesheet" href="/static/assets/css/customs.css">
      <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/assets/css/search.css">
      <link rel="stylesheet" href="/static/assets/css/lightbox.css">
    {% else %}
      <link rel="stylesheet" href="https://s3.amazonaws.com/bellassets/assets/css/customs.css">
      <link rel="stylesheet" href="https://s3.amazonaws.com/bellassets/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://s3.amazonaws.com/bellassets/assets/css/search.css">
      <link rel="stylesheet" href="https://s3.amazonaws.com/bellassets/assets/css/lightbox.css">
    {% endif %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <style>
      html {
        overflow-x: hidden !important;
      }

    </style>
    <!--

    <script>
                window.onload = randombg;
                function randombg(){

                    var random= Math.floor(Math.random() * 4) + 0;
                    var bigSize = ["linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(https://s3.amazonaws.com/bellassets/assets/images/background1.jpg) left top",
                        "linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(https://s3.amazonaws.com/bellassets/assets/images/background2.jpg) left top",
                        "linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(https://s3.amazonaws.com/bellassets/assets/images/background3.jpg) left top",
                        "linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(https://s3.amazonaws.com/bellassets/assets/images/background4.jpg) left top"];
                    document.getElementById("infopart").style.background=bigSize[random];
                }
            </script>
            -->




    {% if user.is_authenticated %}
      <script>
          window.location.replace("/feed");
      </script>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
{% endblock %}

{% include "_messages.html" %}

<style>


  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .homepageheader {
    display: block;
    border: none;
    height: 120px;
    background-color: Transparent;
    padding: 20px 40px 20px 40px;
  }

  .logo_link:hover {
    text-decoration: none;
  }

  .logo {
    display: none;
    width: 50px;
    vertical-align: top;
  }

  .web_name {
    display: inline-block;
    color: #FFF;
    vertical-align: top;
    margin: 0 auto;
    line-height: 50px;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
    font-size: 35px;
  }

  .explore_belacam {
    display: inline-block;
    color: #FFF;
    vertical-align: top;
    margin: 0 auto;

    height: 50px;
    padding: 0px 10px 0px 10px;
    font-weight: 600;

  }

  .explore_belacam h2 {
    line-height: 50px;

    margin: 0 auto;
    font-size: 20px;
    font-weight: 900;
  }

  .explore_belacam:hover, .reset_password:hover {
    color: #FFF;
  }

  #login {
    float: right;
  }

  .logininput {
    margin-top: 3px;
    border-radius: 5px;
    display: inline-block !important;
    border: 1px solid #c0c0c0;
    color: #000000;
    margin-right: 10px;
    padding: 10px;
    width: 150px;
    font-size: 16px;
    font-family: 'proximanovalight';
  }

  .submitbutton {
    font-size: 18px;
    line-height: 30px;
    margin-top: 3px !important;
  }

  .reset_password {
    display: block;
    clear: both;
    float: right;
    color: #FFF;
    margin-right: 88px;
  }

  .hook_em_in {
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    color: #FFF;
  }

  .hook_title {
    font-size: 45px;
    font-weight: 600;
    max-width: 100vw;
    padding-bottom: 30px;
    margin: 0 auto;

  }

  .howitworks {

    display: flex;
    justify-content: center;
  }

  .howitworks {
    color: #FFF;
    font-size: 35px;
    text-align: center;
  }

  .howitworks i {

    text-align: center;

    width: 100px;
    height: 100px;
    border-radius: 100px;
    line-height: 100px;

    display: block;
    margin: 0 auto;
    font-size: 70px;
    margin-bottom: 10px;
  }

  .howitworks div {
    font-weight: 600;
    font-size: 30px;
  }

  .signuprow {

    border-radius: 10px;
    background-color: #FDFDFD;
    display: block;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .signup_form {
    width: 100%;
    text-align: center;

  }

  .signup_form h2 {
    font-weight: 600;
    color: #F87433;

  }

  .signup_form input {
    border: 1px solid Green;
  }
 
  .signup_form div.input-div {
    display: inline-block;
    position: relative;
    vertical-align: top;
  }

  .signup_form div.input-div label {
    display: block;
  }

  ul.errorlist {
    color: red !important;
  }

  ul.errorlist li {
    font-weight: 700;
  }

  .revealpassword {
    position: absolute;
    background: #FFF;
    color: #F87433;
    border: 2px solid #F87433;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    vertical-align: top;
    margin-top: 5px;
    right: 12px;
  }

  .revealpassword:hover {
    background: #F87433;
    color: #FFF;
  }

  .signup_form input[type="text"] {
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    color: #000000;
    margin-bottom: 7px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-family: 'proximanovalight';
  }

  .signup_form input[type="password"] {
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    color: #000000;
    margin-bottom: 7px;
    padding: 10px;
    font-size: 16px;
    font-family: 'proximanovalight';

    margin-left: 5px;
    margin-right: 5px;
  }

  #signup_submit {
    border: 2px solid #F87433;
    display: block;
    margin: 0 auto;
    clear: both;
    float: none;
  }

  .accept_the_terms {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
  }

  .Form-label-tick {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
  }

  .Form-label-checkbox:checked + .Form-label-text::before {
    background-color: lightgreen;
    border: 1px solid #CCC !important;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f058";
  }

  .Form-label-checkbox + .Form-label-text::before {
    border-radius: 5px;
    font-size: 18px !important;
    line-height: 1.6;
    background-clip: border-box;
  }

  .hidethisw {
    color: inherit !important;
    font-weight: inherit !important;
  }

  .footerrow {
    display: block;
    width: 100%;
    text-align: center;
    clear: both;
    padding-top: 10px;
    margin-bottom: 50px;
  }

  .footerrow a {
    color: #FFF;
  }

  .footerrow li {
    display: inline-block;
    padding-top: 20px;
    padding: 5px;
  }

  .signup-box {
    padding-top: 0px;

  }

  .infopart {
    background-size: cover !important;
    height: 100%;
    /*background: #7B6F6C; */

  }

  .infopart h1 {
    font-size: 100px;
    font-weight: 600;
  }

  .loginpart {
    float: right;
    background-color: #FAFCFF;
    height: 100%;
    padding: 0px !important;
  }

  .infofont {
    font-size: 22px !important;
  }

  .insta-form {
    width: 97%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FAFCFF;
  }

  .insta-form h4 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    color: #F97B45;
    font-weight: 600;
  }

  .tab-pane {
    margin-top: 0px !important;

  }

  .orange {
    color: #F97B45;
  }

  .signup-box {
    position: relative;
  }

  .fholder {
    width: calc(100% - 70px);
    padding-right: 10px;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
  }

  .fholder hr {
    margin-bottom: 60px;

  }

  .footerhelper {
    text-align: center;
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -20px;
  }

  #mc_embed_signup {
    padding: 10px;
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;

    text-align: center;

  }

  #mc_embed_signup form {
    padding: 0px !important;
  }

  #mc_embed_signup_scroll {
    height: 50px;

  }

  .preemail {
    width: 100% !important;

    height: 50px !important;
    font-size: 18px !important;
    margin-top: 20px !important;
    margin-bottom: 40px !important;
  }

  .loginrow {

    margin: 0 auto;
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: -10px;

  }

  .loginrow a {
    font-size: 20px;
    border-radius: 5px;
    color: #F87433;
  }

  .loginrow a:hover {
    text-decoration: underline;
  }

  .exit_login {
    display: none;
  }

  .explore_belacam_mobile {
    display: none;
  }

  .mobile_log_in {
    display: none;
  }

  @media only screen and (max-width: 830px) {
    .explore_belacam h2 {
      font-size: 16px;

    }

  }

  @media only screen and (min-width: 800px) {
    #login {
      display: inline-block !important;
    }
  }

  @media only screen and (max-width: 799px) {
    .logo {
      display: inline-block;
    }

    .web_name {
      display: none;
    }

    .mobile_log_in {
      display: inline-block;
      float: right;
    }

    .mobile_log_in:hover {
      cursor: pointer;
    }

    #login a:hover {
      cursor: pointer;
    }

    .signup_form input {
      width: 150px;
    }

    .explore_belacam_mobile {
      display: inline-block;
      float: right;
    }

    .explore_belacam_desktop {
      display: none;
    }

    #login {
      z-index: 999;
      display: none;
      width: 100%;
      position: absolute;
      text-align: center;
      background-color: #FFF;

      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;

    }

    .exit_login {
      display: block;
      position: absolute;
      float: right;
      top: 15px;
      right: 20px;
      font-size: 50px;
      color: #F87433;

    }

    #login h1 {
      margin-top: 100px;
      color: #F87433;
    }

    .logininput {
      width: 80%;

      display: block !important;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .reset_password {
      clear: both;
      width: 100%;
      display: block;
      margin-right: -15px !important;

    }

    #login .submitbutton {

      float: none;
    }
  }

  @media only screen and (max-width: 650px) {
    .signup_form div.input-div {
      display: block;
      position: relative;
    }

    .signup_form input {
      display: block;
      width: 80%;
      margin: 0 auto !important;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }

    .revealpassword {
      float: right;
      margin-right: 40px;
    }

  }

  @media only screen and (max-width: 500px) {

    .howitworks div {
      font-size: 18px;
    }

    .real_background {
      bottom: 0 !important;
    }

    .revealpassword {
      float: right;
      margin-right: 30px;
    }
  }

  @media only screen and (max-width: 360px) {
    .howitworks i {
      font-size: 50px;
    }

    .revealpassword {
      margin-right: 20px;
    }

    .explore_belacam h2 {
      width: 50px;
      line-height: 16px;
      margin-right: 20px;
      margin-top: 10px;
      text-align: center;
    }
  }

  .orange_background {
    position: relative;
    padding-bottom: 200px;
    margin-bottom: -200px;
  }

  .real_background {

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-image: linear-gradient(#ff9d2f, #ff6126);
    transform: skewY(6deg);
    transform-origin: top right;
    z-index: -999;
  }

  .about_belacam {
    max-width: 1100px;
    background-color: #FFF;
    border-radius: 25px;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 50px;
  }

  .about_belacam a:hover {
    cursor: pointer;
  }

  .about_belacam .submitbutton {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 250px;
  }

  .about_belacam .submitbutton:hover {
    text-decoration: none !important;
  }

  .about_belacam img {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    display: block;
  }

  .about_belacam h1, .about_belacam h2, .about_belacam h3 {
    text-align: center;
    color: #F87433;
    font-weight: 900;
  }

  .about_belacam p {
    font-size: 22px;
    font-weight: 200;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .left_align {
    text-align: left !important;
  }

</style>

<div class="orange_background">
  <div class="real_background"></div>
  <div class="homepageheader">
    <a class="logo_link" href="/discover">
      <img class="logo" src="https://s3.amazonaws.com/bellassets/orangeicon.png" alt="Belacam Logo"/>

      <h1 class="web_name">Belacam</h1>
    </a>
    <a class="submitbutton mobile_log_in" onclick="showLogin()">Log In</a>
    <a href="/discover" class="explore_belacam explore_belacam_mobile"><h2>Browse Belacam</h2></a>


    <form id="login" class="hide" role="form" method="post" action=".">
      <a href="/discover" class="explore_belacam explore_belacam_desktop"><h2>Browse Belacam</h2></a>

      <a onclick="showLogin()"><i class="fas fa-times exit_login"></i></a>
      <h1 class="showonmobile">Login</h1>
      {% csrf_token %}
      <input class="logininput" type="text" placeholder="Username" name="username">

      <input class="logininput" type="password" placeholder="Password" name="password">

      <input class="submitbutton" type="submit" value="Log in" name="login-form">


      <a class="reset_password" href="/password_reset">Reset Password</a>

    </form>
  </div>


  <div class="hook_em_in">
    <div class="row">
      <h1 class="hook_title">A Social Media Economy</h1>
    </div>

    <div class="howitworks">
      <div class="col-xs-4 col-sm-3 col-lg-3 col-md-3"><i class="fas fa-users"></i>Build a Following</div>
      <div class="col-xs-4 col-sm-3 col-lg-3 col-md-3"><i class="fas fa-camera-retro"></i>Share Photos</div>
      <div class="col-xs-4 col-sm-3 col-lg-3 col-md-3"><i class="fas fa-hand-holding-heart"></i>Earn $.05 per Like</div>
    </div>
  </div>


  <div class="row signuprow">


    <form class="signup_form" role="form" method="post" action="/account/signup/">
      {% csrf_token %}
      <h2>Start Getting Paid</h2>
      <input type="hidden" name="password_confirm" id="id_password_confirm" value=""/>
      <div style="margin-bottom: 10px">
        <div class="input-div">
          {% render_field RegistrationForm.email required="required" type="text" placeholder="Email" tabindex=1 %}
          {{ RegistrationForm.email.errors }}
        </div>
        <div class="input-div">
          {% render_field RegistrationForm.username required="required" placeholder="Username" tabindex=2 %}
          {{ RegistrationForm.username.errors }}
        </div>
        <div class="input-div">
          <button class="revealpassword">Show</button>
          {% render_field RegistrationForm.password required="required" placeholder="Password" tabindex=3 %}
          {{ RegistrationForm.password.errors }}
        </div>
      </div>
      <input class="submitbutton" id="signup_submit" type="submit" value="Sign Up">
      <p class="accept_the_terms">By clicking "Sign Up," you agree to the <a href="b/terms">Terms and Conditions</a> of
        Belacam.</p>


    </form>

  </div>

  <ul class="footerrow">
    <li><a href="b/about">About</a></li>
    <li><a href="https://belacam.zendesk.com/hc/en-us">Support</a></li>
    <li><a target="_blank" href="http://Livebela.com">Bela</a></li>
    <li><a href="b/privacy">Privacy</a></li>
    <li><a href="b/terms">Terms</a></li>

  </ul>

</div>


<div class="about_belacam">
  <img src="https://s3.amazonaws.com/bellassets/tyler.png" alt="Belacam Logo"/>

  <h1>Snap, Post, Paid. It's that easy.</h1>


  <p>Belacam is a social media site where you get paid for creating and sharing content that other people enjoy. Each
    'like' carries a $.05 - $.10 tip, so each 'like' you get means someone else enjoyed your photo. When you give
    someone else a like, you're tipping them for sharing their content too. It's an economy based around our social
    interactions.</p>


  <p>Whether motivated by goodwill, honest enjoyment, or a few economic benefits that we provide to people who give
    likes, over $5,000 has been tipped around the site to content creators. That's over 100,000 likes in our first 3
    weeks of operation. </p>

  <p>We're leading the rise of micro-entrepreneurs all around the world. With Belacam, anyone can earn a few extra
    dollars a day by sharing their own original photos. It makes you wonder: why would you ever post your photos for
    free on sites like Instagram again?</p>

  <p>The best part about Belacam is that original content and photos are the ones that earn the most. There are no ads
    or corporate-paid promotions because no one wants to give those tips. Instead, high-quality content rises to the
    top, creating a cleaner, more refined social media site. It's the Belacam social media economy.</p>


  <h3 class="left_align">I'll see you on Belacam, <br><br>Tyler Marx</h3><h4>CEO of Belacam</h4>

  <a onClick="toTop()">
    <div class="submitbutton">Create an Account</div>
  </a>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
<script>


    function toTop() {
        $("html, body").animate({scrollTop: 0}, "slow");

    }


    function showLogin() {
        $("#login").toggleClass("show");
    }


    function onSignUp(token) {
        if ($(".signup_form").valid()) {
            console.log("valid form");
            $("#id_password_confirm").val($("#id_password").val());
            $(".signup_form").submit();
        } else {
            grecaptcha.reset();
        }
    }

    var onloadCallback = function () {
        grecaptcha.render('signup_submit', {
            'sitekey': '{{ GOOGLE_RECAPTCHA_SITE_KEY }}',
            'callback': onSignUp
        });
    };
</script>

<script>


    //Show Password functionality
    $(function () {
        $(".revealpassword").click(function (e) {
            e.preventDefault();
            if ($(this).text() == "Show") {
                $(this).text("Hide");
                $(this).next().attr('type', 'text');
            } else {
                $(this).text("Show");
                $(this).next().attr('type', 'password');
            }
        });
        $(".signup_form").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                username: "required",
                password: "required",
                password_confirm: {
                    equalTo: "#id_password"
                }
            }
        });
        $("#accept_term").change(function () {
            document.getElementById("signup_submit").disabled = !$("#accept_term").is(":checked");
        });
    });
</script>