
{% load avatar_tags %}
{% load humanize %}
{% load taggit_templatetags2_tags %}

<div class="white-box">
                	<div>
          <img src="{% if request.user.user1.cover_pic %}https://s3.amazonaws.com/bellassets/{{request.user.user1.cover_pic}}{% else %}https://s3.amazonaws.com/bellassets/assets/images/c-pic.jpg{% endif %}" class="img-responsive" alt="User Cover Photo" title="">
          </div>
                    
                    
                    <div class="profilepicbox">
        
                        {% avatar user 250 %}
                        
        <div class="content3">
<a href="{% url 'found' user %}" alt="Belacam User"><h3>@{{ user }}</h3></a>


<ul>
    <a href="{% url 'found' user %}" alt="Belacam User">
        
        <li class="col-sm-4"><strong>{{thoughts.count}}</strong><br>
              {% if thoughts.count = 1%}
                    Post
              {% else %}
                   Posts
              {% endif %}</li
            
            
            
            ></a>
    <li class="col-sm-8"><strong>$853.51</strong><br>Lifetime Earnings</li>   

            
            
</ul>
            
            
            
            
</div>
        </div>
                    
                </div>


<div class="white-box">
                	<h4>Trending</h4>
                    <div class="trendingbox">
                        <ul>
                            
                            {% for tag in trending %}
                            <a class="trendinglink" href="#"><li>
                                <img src="https://s3.amazonaws.com/bellassets/assets/images/ic1.png"/>
                                
                                <div class="trendinginfo">
                                    <h5>{{ tag }}</h5>
                                     <p>{{ tag.num_times}} posts</p>

                            </div>
                            </li></a>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>