<div class="white-box totalusers">
  <h4 translate>Belacam Growth</h4>

  <p><span>{{growth.total_users|number}}</span> <ng-container translate>Total Belacam Users</ng-container></p>
  <p><span>{{growth.new_users_in_7|number}}</span> <ng-container translate>New Users in past 7 Days</ng-container></p>
  <p><span>{{growth.new_users_in_1|number}}</span> <ng-container translate>New Users in past 24 Hours</ng-container></p>
</div>
