<div class="white-box">
  <h4 translate>Earn Bela</h4>
  <div class="trendingbox trendingbox-padding">
    <form class="feedbackform">
      <p translate>
        We'll pay you for each new user you refer to Belacam. Have anyone in mind?</p>
      <a onclick="closeMobileProfile()" class="savebutton referral-btn" href="#" [routerLink]="['/referral/dashboard']" translate>Referral Dashboard</a>
    </form>
  </div>
</div>

<div class="white-box">
  <h4 translate>Top Likers</h4>
  <div class="trendingbox">

    <div class="panel-title">
      <a href="#" *ngFor="let thot of suggested" [routerLink]="['/user/', thot.username]">
        <div  class="suggestedperson">


          <span class="circlephoto" [innerHTML]="thot.avatar"></span>
          <div class="nameanduser">
            <p class="name">{{ thot.username }}</p>
            <p class="count1200">{{thot.likes_24hrs}} BELA</p>
          </div>

          <span class="pull-right">{{thot.likes_24hrs}} BELA</span>

        </div>
      </a>
    </div>

  </div>
</div>

<div class="white-box">
  <h4 translate>Top Earners</h4>

  <div class="trendingbox">

    <div class="panel-title">
      <a href="#" *ngFor="let earner of earners" [routerLink]="['/user/', earner.username]">
        <div class="suggestedperson">

          <span class="circlephoto" [innerHTML]="earner.avatar"></span>
          <div class="nameanduser">
            <p class="name">{{ earner.username }}</p>
            <p class="count1200">${{earner.earnings|number:'1.2-2'}}</p>
          </div>
          <span class="pull-right">${{earner.earnings|number:'1.2-2'}}</span>

        </div>
      </a>
    </div>

  </div>
</div>

<div class="white-box totalusers">
  <h4 translate>Notices</h4>

  <div class="trendingbox">
    <p>Chat with other Belacam users and supporters in our Telegram.</p><a class="telegram_link" href="https://t.me/letslivebela" target="_blank"><i class="fab fa-telegram-plane"></i></a>
  </div>
</div>

<app-earn-free-bela></app-earn-free-bela>

<ul class="rightsidelinks">
  <li><a onclick="closeMobileProfile()" [routerLink]="['/about']" href="#" translate>About</a></li>
  <li><a href="https://belacam.zendesk.com/hc/en-us" target="_blank" translate>Support</a></li>
  <li><a onclick="closeMobileProfile()" [routerLink]="['/privacy']" href="#" translate>Privacy</a></li>
  <li><a onclick="closeMobileProfile()" [routerLink]="['/terms']" href="#" translate>Terms</a></li>
  <li><a onclick="closeMobileProfile()" [routerLink]="['/deposit']" href="#" translate>Deposit</a></li>
  <li><a onclick="closeMobileProfile()" [routerLink]="['/withdrawal']" href="#" translate>Withdraw</a></li>
</ul>


