<div class="white-box">
  <h4 translate>Trending</h4>
  <div class="trendingbox">
    <ul>

      <a *ngFor="let tag of trending" class="trendinglink" [routerLink]="['/discover/', tag.name]">

        <li>
          <span class="lightningbolt">
            <i class="fas fa-hashtag lightningbolt"></i>
          </span>
          <div class="trendinginfo">
            <h5><span class="hashtag">#</span>{{ tag.name }}</h5>
            <p>{{ tag.num_items}} {{'posts'|translate}}</p>

          </div>
        </li>
      </a>
    </ul>
  </div>
</div>
