<div class="modal-dialog modal-m">
  <div class="modal-content">

    <div class="white-box followerbox" infiniteScroll
                       [infiniteScrollDistance]="3"
                       [infiniteScrollThrottle]="1000"
                       (scrolled)="onLikeScroll()"
                       [scrollWindow]="false">

      <h4 class="followerboxheader">Likes ({{ thot.total_likes_count }})</h4>

      <ul class="followerscroll">
        <li *ngFor="let like of thot.likes">

          <a [routerLink]="['/user/', like.username]">
            <span class="circlephoto" [innerHTML]="like.avatar"></span> <span class="modalusername">{{like.username}}</span>
          </a>

          <a  href="#"
              (click)="follow(like);false"
              *ngIf="(!user || like.id != user.id) && !like.is_following"
              class="followbtn" translate>Follow</a>

          <a *ngIf="(!user || like.id != user.id) && like.is_following"
             href="#" (click)="unfollow(like);false"
             class="followingbtn" translate>Following</a>
        </li>
      </ul>
      <sk-three-bounce *ngIf="like_loading == true"></sk-three-bounce>
    </div>
  </div>
</div>
