{% extends "postman/base.html" %}
{% load i18n postman_tags %}{% load pagination_tags %}{% comment %}
WARNING: 'pagination_tags' is a name from the django-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}
{% block content %}
{% block postman_menu %}

<style>
    
    #pm_buttons{
        margin-left: -15px;

        vertical-align: top;
        

    }
    .pmbutton{
         border: 1px solid #CCC !important;
            padding: 5px 15px !important;
            background: #FFF !important;
        font-size: 20px !important;
        margin-left: 15px !important;
        margin-bottom: 20px !important;
        color: #000 !important;
        font-weight: 300;
width: auto !important;
        line-height: 30px !important;

    }
    
    .pmcontainer{
        display: inline-block;
        float: right;
        margin-top: 24px;
    }
    
    .pmcontainer:hover{
        text-decoration: none;
    }
    
    .pmbuttoncompose{
            padding: 8.5px 15px !important;
        background: #3498DB !important;
        color: #FFF !important;
        border: none !important;

margin-right: 100px;



        
    }

    .check{
        font-weight: 400;
    padding-top: 11px;
    }

    .sender{
        line-height: 50px;

    }

    .topbox{

        width: 10000px;
    }
    html{
        background: #FFF;
    }

    .firsttable{
    display: inline-block;


    }

    .inboxtable{
        width: calc(100% - 300px);
        display: inline-block;
        margin-left: 200px !important;


    }


    .tablebody{


    }

    .messagesmenu{
        position: absolute;
        left: 0px;
        border-top: 3px solid #DDDDDD;
        border-right: 2px solid #D2D2D2;
        border-left: 2px solid #D2D2D2;
        border-bottom: 2px solid #D2D2D2;
         display: inline-block;
        height: 256px;
        margin-left: 20px;
vertical-align: top;
        width: 200px;


    }
    .messagesmenu ul{
         list-style-type: none !important;

    }

        .topmenuitem{
        text-align: center;
        margin-top: 0px;

        background: #FFF;
            height: 48px;

        border-bottom: 1px solid #DDDDDD;
    }

    .menuitem{
        padding-left: 20px;
        background: #F7F7F7;
        line-height: 45px;
        border-bottom: 1px solid #D2D2D2;
    }
    
    .menuitem:hover{
        font-weight: 700;
    }



    .messagesmenu p1{
        color: #000;
        background: none;
        font-size: 18px;

    }
    
    .mail-checkbox{
        border: 2px solid Blue !important;
    }
    
    
    @media (max-width: 731px) {
        .mail-box{

            
        }
        .topmenuitem{
            display: none;
        }
        
        .messagesmenu{
            position: relative;
            display: block ;
            width: 100%;
            height: auto;
            margin: 0 auto;
            border: none;
            text-align: center;
        }
        
        .menuitem{
            display: inline-block;
            background: none;
            border: none;
            padding: 0px;
            margin: 10px;
        }
        
        .inboxtable{

            osition: relative;

            display: block;
            width: 100%;
        margin-left: -10px  !important;

        }
        
        
        
    }

    
    @media (max-width: 500px) {
        .menuitem{
            font-size: 12px !important;

        }
    }

</style>

{% endblock %}
<div id="postman">
<center><h1 class='lead'>{% block pm_folder_title %}{% endblock %}</h1></center>
{% autopaginate pm_messages %}
{% if invalid_page %}
<p>{% trans "Sorry, this page number is invalid." %}</p>
{% else %}
<form action="{% block pm_form_action %}{% endblock %}" method="post">{% csrf_token %}
{% block pm_form_buttons %}<span id="pm_buttons">
{% block pm_delete_button %}<button type="submit" class="pmbutton" onclick="this.form.action='{% url 'postman:delete' %}'">{% trans "Delete" %}</button>{% endblock %}
{% block pm_archive_button %}<button type="submit" class="pmbutton" onclick="this.form.action='{% url 'postman:archive' %}'">{% trans "Archive" %}</button>{% endblock %}
    
{% block pm_undelete_button %}<button type="submit" class="pmbutton" onclick="this.form.action='{% url 'postman:undelete' %}'">{% trans "Undelete" %}</button>{% endblock %}
    <div class="pmcontainer">
    <a class="pmbutton pmbuttoncompose" href="{% url 'postman:write' %}">Compose</a></div>
</span>{% endblock %}



    <table id="pm_messages">
 <thead>
  <tr>
  </tr>
 </thead>
 <tbody>



   <div class="container">
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>



 <div class="mail-box" >



       <div class="messagesmenu">
    <ul >
    {% postman_unread as unread_count %}<p1>

        <li class="topmenuitem"><h2>Messages</h2></li>


 <a href="{% url 'postman:inbox' %}"><li class="menuitem"><p1>{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</p1></li></a>

 <a href="{% url 'postman:sent' %}"><li class="menuitem"><p1>{% trans "Sent Messages" %}</p1></li></a>
 
        <a href="{% url 'postman:archives' %}"><li class="menuitem"><p1>{% trans "Archives" %}</p1></li></a>
 <a href="{% url 'postman:trash' %}"><li class="menuitem"><p1>{% trans "Trash" %}</p1></li></a></p1>
     </ul>
</div>


                          <table class="table table-inbox table-hover inboxtable" >
                            <tbody class="tablebody">



                            <tr >
                              {% if pm_messages == None %}
                              <td class="inbox-small-cells"><p class="check">{% trans "No Messages" %}</p></td>
                              {% endif %}


                            <td class="inbox-small-cells"></td>


                            <td class="inbox-small-cells">{% block pm_sender_header %}   <th  ><a href="{% postman_order_by sender %}" class="sender">{% trans "Sender" %}</a></th>{% endblock %}</td>
</td>
                                  <td class="view-message dont-show topbox">
                                  </td>

                                  <td class="view-message text-right"><td><th><a href="{% postman_order_by date %}">{% block pm_date %}{% trans "Date" %}{% endblock %}</a></th></td>
                            </tr>
                            {% if not pm_messages %}

                            <tr class="unread">
                                <td class="inbox-small-cells"><p class="check"></p></td>
                                <td class="inbox-small-cells"><p class="check"></p></td>
                                <td class="inbox-small-cells"><p class="check"></p></td>
                                <td class="inbox-small-cells"><p class="check">{% trans "No Messages" %}</p></td>
                                <td class="inbox-small-cells"><p class="check"></p></td>
                                <td class="inbox-small-cells"><p class="check"></p></td>
                                <td class="inbox-small-cells"><p class="check"></p></td>
                                <td class="inbox-small-cells"><p class="check"></p></td>

                            </tr>
                            {% endif %}
                            {% for message in pm_messages %}
                              <tr class="unread">
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class='mail-checkbox' {% if by_conversation and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
                                  </td>
                                  <td></td>

                                  {% block pm_sender_cell %}   <td class="view-message dont-show">{% if message.is_new %}<strong>{% endif %}{% if message.is_replied %}<em>{% endif %}{{ message.obfuscated_sender|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}</td>{% endblock %}
                                  <td class="view-message">

                                    {% block pm_subject %}
                                  {% if message.is_new %}<strong>{% endif %}{% if message.is_replied %}<em>{% endif %}

    							<a href="{% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}">
    							{% include "postman/inc_subject_ex.html" %}
    </a>
{% endblock %} </td>
                                  <td class="view-message inbox-small-cells"></td>
                                  <td class="view-message text-right"><td>{% if message.is_replied %}</em>{% endif %}{% if message.is_new %}</strong>{% endif %}{{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}</td></td> {% endfor %}
                              </tr>
                          </tbody>
                          </table>



                      </div>

              </div>
  <tr>

  </tr>
</form>
{% paginate %}
{% endif %}

{% block pm_footer_info %}{% endblock %}
</div>
{% endblock content %}
