<div class="white-box whiteboxpost">

  <div class="user-post">

    <div class="user-post-left">
      <a href="#" [routerLink]="['/user/', thot.user.username]" class="post-avatar circlephoto" >
        <span class="avatar-wrapper" [innerHTML]="thot.user.avatar"></span>
      </a>

      <div class="post-content">
        <h4 class="post-user-info">
          <a class="postusername" [routerLink]="['/user/', thot.user.username]">
            <b>{{ thot.user.username }}</b>
          </a>
          <a class="postlocation" *ngIf="thot.location && !thot.editableLocation">
            <i class="fas fa-map-marker-alt"></i> {{thot.location}}
          </a>
          <a class="h5 posttime" href="#" [routerLink]="['/post/', thot.user.username, thot.id]">
            {{ thot.created_at|messageTime }}
          </a>
        </h4>
      </div>

    </div>

    <div class="user-post-right">
      <a class="dropdown-toggle image-btn"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/>
      </a>
      <div class="dropdown-menu deletereport-menu">
        <div class="dropdown-caret">
          <div class="caret-outer"></div>
          <div class="caret-inner"></div>
        </div>

        <!-- Follow button section start -->
        <ng-container *ngIf="user.id && (thot.user.id!=user.id)">
          <a class="" href="#" *ngIf="!thot.user.is_following" (click)="followUser();false" translate>Follow</a>
          <a class="" href="#" *ngIf="thot.user.is_following" (click)="unfollowUser();false" translate>Unfollow</a>
        </ng-container>
        <!-- Follow button section end -->


        <a onclick="copyLink()"><li id="repoFolder" [attr.value]="['https://www.belacam.com/b/post/' + thot.user.username + '/' + thot.id]">Copy Link</li></a>

        <a class="" target="_blank" [attr.href]="['https://twitter.com/home?status=https://www.belacam.com/n/post/' +  thot.user.username +'/' + thot.id]" translate>Share on Twitter</a>

        <a class="" href="#" *ngIf="user.id && (thot.user.id==user.id)" (click)="editable(true);false" translate>Edit Caption</a>
        <a class="" href="#" *ngIf="user.id && (thot.user.id==user.id)" (click)="editableLocation(true);false" translate>Edit Location</a>
        <a class="" href="#" *ngIf="user.id && (thot.user.id==user.id)" (click)="delete();false" translate>Delete</a>

        <a class="" href="#" *ngIf="user.is_superuser" (click)="deleteAdmin();false" translate>Admin Delete</a>

        <a class="" href="#" *ngIf="user.id && (thot.user.id!=user.id)" (click)="report();false" translate>Report</a>
        <a class="" href="#" *ngIf="user.id && (thot.user.id!=user.id)" (click)="blockUser();false" translate>Block User</a>
      </div>
    </div>


    <div *ngIf="thot.editableLocation" style="float: left; width: 100%; margin-bottom: 15px;">
      <textarea class="caption-edit-box" [(ngModel)]="thot.tempLocation"></textarea>
      <input class="savebutton" (click)="updateLocation();false" type="button" value="Save">
      <input class="cancelbutton" (click)="editableLocation(false);false" type="button" value="Cancel">
    </div>

  </div>

  <div class="post-img-container">
    <app-insufficient-bela #insufficientMessage [user]="user"></app-insufficient-bela>

    <a href="#" (click)="openThotBox();false">

      <img class="post-img" *ngIf="showImage()" [src]="thot.image"/>

      <video controls *ngIf="showVideo()" width="100%" height="400" preload="metadata">
        <source [src]="showVideo()" type="video/mp4">
      </video>

      <span class="full-screen-btn">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </span>
    </a>
  </div>

  <ul class="like-box">

    <span *ngIf="user.id === undefined" onclick="loginFirst()">

      <li class="heart" [class.unlikedheart]="!thot.is_liked" [class.likedheart]="thot.is_liked">
        <a class="" href="#" (click)="like();false">

          <img class="grayheart"
               src="https://s3.amazonaws.com/bellassets/assets/images/grayheart.png"
               [alt]="'Give some Bela'|translate"/>

          <img class="redheart"
               src="https://s3.amazonaws.com/bellassets/assets/images/redheart.png"
               [alt]="'Give some Bela'|translate"/>

        </a>
        <a href="#" data-toggle="modal" [attr.data-target]="'#likesbox' + thot.id">
          {{ thot.total_likes_count }}
        </a>

        <!--<span class="viewscount">
          <i class="far fa-eye"></i><b> {{thot.views.length}}</b>
        </span>-->
      </li>

    </span>


    <span *ngIf="user.id !== undefined">

      <li class="heart" [class.unlikedheart]="!thot.is_liked" [class.likedheart]="thot.is_liked">
        <a class="" href="#" (click)="like();false">

          <img class="grayheart"
               src="https://s3.amazonaws.com/bellassets/assets/images/grayheart.png"
               [alt]="'Give some Bela'|translate"/>

          <img class="redheart"
               src="https://s3.amazonaws.com/bellassets/assets/images/redheart.png"
               [alt]="'Give some Bela'|translate"/>


        </a>
        <a href="#" data-toggle="modal" [attr.data-target]="'#likesbox' + thot.id">
          {{ thot.total_likes_count }}
        </a>

        <!--<span class="viewscount">
          <i class="far fa-eye"></i><b> {{thot.views.length}}</b>
        </span>-->
      </li>

    </span>

    <li class="postearnings">
      <img src="https://s3.amazonaws.com/bellassets/assets/images/orangebela.png"> {{ thot.belas |number:'1.2-2' }}<br>
      <i class="fas fa-dollar-sign"></i> {{ thot.earnings|number:'1.2-2' }}
    </li>

    <app-likes-modal-wrapper [thot]="thot" [id]="'likesbox' + thot.id" [user]="user"></app-likes-modal-wrapper>

  </ul>

  <p class="caption" *ngIf="!thot.editable" style="word-wrap: break-word;" ><a class="captionusername" href="#" [routerLink]="['/user/', thot.user.username]">{{ thot.user.username }}</a>
    <app-dynamic-html class="captioncontent" [innerHTML]="thot.content|tagify"></app-dynamic-html>
  </p>

  <div *ngIf="thot.editable" style="float: left; width: 100%; margin-bottom: 15px;">
    <textarea class="caption-edit-box" [(ngModel)]="thot.tempContent"></textarea>
    <input class="savebutton" (click)="update();false" type="button" value="Save">
    <input class="cancelbutton" (click)="editable(false);false" type="button" value="Cancel">
  </div>

  <div class="comment-boxes">

    <app-comment [thot]="thot"></app-comment>

  </div>
</div>
