@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'proximanovasemibold';
    src: url('../fonts/proximanovasemibold.eot');
    src: url('../fonts/proximanovasemibold.eot') format('embedded-opentype'),
    url('../fonts/proximanovasemibold.woff2') format('woff2'),
    url('../fonts/proximanovasemibold.woff') format('woff'),
    url('../fonts/proximanovasemibold.ttf') format('truetype'),
    url('../fonts/proximanovasemibold.svg#proximanovasemibold') format('svg');
}
@font-face {
    font-family: 'ProximaNovaThin';
    src: url('../fonts/ProximaNovaThin.eot');
    src: url('../fonts/ProximaNovaThin.eot') format('embedded-opentype'),
    url('../fonts/ProximaNovaThin.woff2') format('woff2'),
    url('../fonts/ProximaNovaThin.woff') format('woff'),
    url('../fonts/ProximaNovaThin.ttf') format('truetype'),
    url('../fonts/ProximaNovaThin.svg#ProximaNovaThin') format('svg');
}
@font-face {
    font-family: 'proximanovalight';
    src: url('../fonts/proximanovalight.eot');
    src: url('../fonts/proximanovalight.eot') format('embedded-opentype'),
    url('../fonts/proximanovalight.woff2') format('woff2'),
    url('../fonts/proximanovalight.woff') format('woff'),
    url('../fonts/proximanovalight.ttf') format('truetype'),
    url('../fonts/proximanovalight.svg#proximanovalight') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
    url('../fonts/ProximaNovaBold.woff2') format('woff2'),
    url('../fonts/ProximaNovaBold.woff') format('woff'),
    url('../fonts/ProximaNovaBold.ttf') format('truetype'),
    url('../fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular.eot') format('embedded-opentype'),
    url('../fonts/ProximaNovaRegular.woff2') format('woff2'),
    url('../fonts/ProximaNovaRegular.woff') format('woff'),
    url('../fonts/ProximaNovaRegular.ttf') format('truetype'),
    url('../fonts/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
}

.dropdown-menu-report{

}

a:hover{
    text-decoration: none;
}

.logomobile{
    display: none;
}

.liked {
    color: #f87433 !important;
}

.panel-heading a:focus {
    outline: none;

}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 5px solid #888888;
}
.responsiv-tab {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    margin-bottom: 35px;
    width: 100%;
}

.suggestedperson {
    padding-left: 10px;
    float: left;
    display: block;
    height: 64px;
    line-height: 64px;
    width: 100%;
    margin-bottom: 5px;
}

.suggestedperson img{
    padding-right: 5px;
    margin-top: 10px !important;
    display: inline-block !important;
}

.nameanduser{
    line-height: 18px;
    display: inline-block;
    color: #000;
}

.name{
    margin-bottom: 0px;
    margin-top: 15px;
}

.user{
    font-size: 14px;
    color: #878da7;

}

.pull-right {
    margin-right: 10px;
    border: 2px solid #f87433;
    border-radius: 4px;
    padding: 4px 15px 0px 15px;
    margin-top: 15px;
    line-height: 30px;
}


.glyphicon-plus::before {
    line-height: 20px;
    font-size: 30px !important;
    font-weight: bold;
    color: #f87433;


}

.glyphicon-minus::before{
    line-height: 20px;
    font-size: 30px !important;
    font-weight: bold;
    color: #f87433;

}

.balances{
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    font-size: 16px;
    line-height: 35px;
}

.balances span{
    float: right;
}

.balances a:hover{
    text-decoration: none;
}

.sc-content{
    padding: 5px 10px 10px 10px;
}


.panel-collapse{ float:left; width:100%;}
.panel-heading{ float:left; width:100%;}
.jem img{ float:left; margin-right:10px;}
.je m h4 {
    color: #000000;
    font-size: 18px;
    margin: 9px 0 0 0;
}
.jem h4 p {
    color: #676767;
    display: block;
    font-size: 16px;
    line-height: 10px;
    margin-top: 0;
}

.panel-default {
    border-color: #dddddd;
    float: left;
    width: 100%;
    margin-bottom:0 !important;
}
.responsiv-tab h3 {
    background: rgba(0, 0, 0, 0) url("../images/icon-s.png") no-repeat scroll 97% center;
    float: left;
    font-size: 18px;
    margin: 0;
    padding: 18px 0;
    text-align: center;
    width: 100%;
}
.panel-heading-f{ border-top:1px solid #e4e6e8;}
.see-all-box{ float:left; width:100%; text-align:center;}
.see-all-box a{ font-size:18px; color:#404257; display:inline-block; margin:15px;}
.modal  {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.7);

    overflow-y: hidden !important;

}

.modal2  {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.6);

    overflow-y: hidden !important;

}

.modal-dialog {
    top: 100px;
    width: 100%;
    height: 100%;

    position: absolute;
    position: fixed;




}
.modal-content {
    border-radius: 0px;
    border: none;

}


.followerbox{
    position: fixed;
    height: 70%;
    overflow: hidden !important;
    overflow-y: scroll !important
}

.imagemodal{
    position: fixed;
    overflow: hidden !important;
    overflow-y: scroll !important
}

.followerbox h4{
    position: fixed !important;
    width: calc(100% - 2px);
    background: #FFF;
    text-align: center;

}

.followerscroll{


    width: 95%;
    margin: 0 auto;
    display: block;
    text-align: left;
    margin-top: 60px;

}

.followerscroll li{
    margin-top: 10px;
}
.followerscroll li img{
    padding-right: 10px;
}

.followerscroll a{
    font-size: 16px;
    color: #000;
}

.followerscroll a:hover{
    text-decoration: none;
    color: #f87433;
}

.followbtn{
    display: inline-block;
    padding: 7px 22px;
    border-radius: 4px;
    background:#FFF;
    border:2px solid #f87433;
    color:#f87433 !important;
    font-size:18px !important;
    margin-left:10px;
    float: right;
}

.followbtn:hover{
    text-decoration: none;

    color:#FFF !important;
    background:#f87433;}

.followingbtn{
    display: inline-block;
    padding: 7px 10px;
    border-radius: 4px;
    background:#f87433;
    border:2px solid #f87433;
    color:#fff !important;
    font-size:18px !important;
    margin-left:10px;
    float: right;
}

.followingbtn:hover{
    background-color: #ff8645;
    border: 2px solid #ff8645;
}


body{ background: #edf2f6 !important;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;

    font-weight: normal;
    outline: none;
    border: none;
    text-decoration:none;
    font-family: 'ProximaNovaRegular';
}
img {
    max-width: 100%;
}



.responsiv-tab{ display:none;}
/*Start Acounting*/
.header-box {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e4e6e8;
    float: left;
    margin-bottom: 0;
    padding: 11px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1111;

}

.contain-area{ float: left; margin-top: 121px; width:100%;}
.search-form-box form{
    display:inline-block;
    width:100%;
    background:#edf2f6;
    position:relative;
    padding:0px 20px;
}
.search-form-box form input[type="text"]{
    line-height: 55px;
    font-family: ProximaNovaRegular;
    color:#828282;
    font-size:14px;
    background:none; width:100%;
}
.search-form-box form input[type="submit"] {
    background: rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll 8px 17px;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 3px;
    width: 30px;
}
.logo img{

    margin-top:0px;
    max-height: 50px;

}
.logo-left{ display:none !important;}

.header-box ul {

    margin: 8px 0 0;
    text-align: right;
    width: 100%;
    /* border: 2px solid Blue; */
    white-space: nowrap !important;
    display: inline-block;


}


.header-box ul li {
    display: inline-block;
    padding: 0 10px;
    position:relative;
    float: left;
    margin-top: 10px;

}


.header-box ul li.noti span {
    background: #f87433 none repeat scroll 0 0;
    border-radius: 100%;
    display: inline-block;
    height: 24px;
    position: absolute;
    right: 5px;
    top: -14px;
    width: 24px;
    text-align:center;
    font-size:14px;
    font-family: ProximaNovaRegular;
    color:#fff;
    padding-top: 3px;

}

.dropdown-toggle:hover{
    cursor: pointer;

}

.dropdown-menu{
    margin-top: 15px !important;

}

.notification-menu{
    margin-left: -170px !important;
    width: 300px;
    height: 500px;
}

.notification-bar{
    position: fixed;
    background: #FFF;
    width: 298px;


    font-weight: 900;
    height: 25px;
    line-height: 25px;
    margin-top: -5px;
    border-radius: 3px 3px 0px 0px;
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #CCC;

    padding-left: 10px;
}

.mark-all-as-read{
    display: inline-block;
    font-size: 14px !important;
    padding-right: 10px;
    float: right;
    color: #64A9EB !important;
}

.mark-all-as-read:hover{
    background-color: none !important;
}

.notification-scroll{
    margin-top: 20px;
    height: 465px;
    overflow-y: scroll;
}

.notification-menu .dropdown-item{
    height: 60px;
    border-bottom: 1px solid #CCC;
}

.unread{
    background-color: rgba(248,116,51, .4);
}

.notification-menu .dropdown-item:hover{
    background-color: rgba(248,116,51, .2);
    color: #000 !important;
    text-decoration: none;
}

.unread:hover{
    background-color: rgba(248,116,51, .6) !important;

}

.notification-menu .dropdown-item img{
    margin-top: 5px;
    width: 50px;
    margin-right: 10px;
    display: inline-block;
}

.notification-menu .dropdown-item div{
    line-height: 20px;
    display: inline-block;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
    width: 220px;
    vertical-align: top;
    margin-top: 5px;
    height: 35px;

}

.notification-menu .dropdown-item span{

    color: #888ca9;
    font-size: 12px;
    margin-top: -18px;
    margin-right: 10px;
    float: right;
}

.account-menu{
    margin-left: 154px !important;
}

.dropdown-menu a{
    font-weight: 500;
    padding-left: 10px;
    font-size: 16px;
    color: #333333;
    line-height: 30px;
    display: block;
}

#logoutdropdown{
    color: #f87433;
}

#logoutdropdown:hover{
    color: #FFFFFF;

}

.account-menu .dropdown-item:hover{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #f87433;
}

.dropdown-menu:before {
    position: absolute;
    top: -12px;
    left: 124px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ccc;
    border-left: 12px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -11px;
    left: 125px;
    display: inline-block;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #ffffff;
    border-left: 11px solid transparent;
    content: '';
}

.notification-menu:before {

    left: 245px;

}

.notification-menu:after {

    left: 246px;

}

.header-box ul li:last-child{ padding-left:16px;}
.header-box ul li:last-child img{ margin-right:10px;}
.header-box ul li:last-child a{ font-family: 'proximanovasemibold'; font-size:16px; color:#000000;}
.header-box ul li:last-child a:hover{ text-decoration:none; color:#f87433;}

.headerusername{
    margin-top: 0px !important;
}

.headerusername span{
    color: #000;
    font-size: 16px;
}
.profile-page ul li .active{

}


.profile-page ul li:focus {

    border: 2px solid Red;
}


.profile-page ul>li.active,  .profile-page ul>li.active:focus  {
    background-color: #edf2f6 !important;
    border-color:transparent;
    border-bottom: 1px solid #e4e6e8 !important;
    font-size: 16px !important;
    border-radius: 0 !important;
    text-decoration: none;
}

.profile-page ul>li.active a  {
    text-decoration: none;
    font-weight: 900;
    color: #000000;
}



.profile-page ul>li.active {border-bottom:1px solid #e4e6e8; border-top:1px solid #e4e6e8; background:url(../images/arrow-2.png) 93% center no-repeat;

}






.profile-page {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e4e6e8;
    display: inline-block;
    padding-bottom: 50px;
    width: 100%;
    padding-bottom: 193px;
}
.profile-page li {
    color: #888ca9;
    display: inline-block;
    font-family: "ProximaNovaRegular";
    font-size: 16px;
    width: 100%;
    padding: 20px 18px;
}
.profile-page li:first-child{ text-transform:uppercase; font-size:16px; font-family: 'ProximaNovaRegular';}


.profile-page li:nth-child(2){ border-bottom:1px solid #e4e6e8; border-top:1px solid #e4e6e8; background:url(../images/arrow-2.png) 93% center no-repeat;}
.profile-page li:nth-child(2) a{ color:#3a3a3a; font-family: 'proximanovasemibold';}
.profile-page li:nth-child(4){ color:#3a3a3a; font-family: 'proximanovasemibold';}
.profile-page li a{ color:#888ca9; font-size:16px; font-family: 'ProximaNovaRegular';}
.profile-page li a:hover{ color:#3a3a3a; text-decoration:none;}
.acount-setting-box{display:inline-block; width:100%; background:#fff; border:1px solid #e4e6e8; padding-bottom: 15px;}
.title{ color:#000000; font-family: 'proximanovasemibold'; font-size:16px; margin:0 0 25px 0; border-bottom: 1px solid #e4e6e8; padding: 20px;}
.left-form {
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    float: left;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 20px 6px 17px 14px;
    width: 100%;
}
.left-form select {
    appearance: none;
    float: right;
    width: 135px;
    font-size:16px;
    color:#000;
    font-family: 'proximanovasemibold';
    background: url(../images/arrow-2a.png) 90% center no-repeat;
}
.left-form label{ font-size:16px; color:#7d7d7d; font-family: proximanovalight; margin:0;}
.main-right{ padding:0 20px;}
.notification h4{
    font-size:16px;
    color:#000;
    font-family: proximanovasemibold;
}
.notification p{
    font-size:16px;
    color:#868686;
    font-family: proximanovalight;
}
.form-switcher-lg{
    float: right;
    margin-top: 19px;
}
.notification {
    margin-bottom: 18px;
    margin-top: 18px;
}
.switch {
    display: inline-block;
    float: right;
    height: 40px;
    margin-top: 22px;
    position: relative;
    width: 87px;
}
.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888ca9;
    -webkit-transition: .4s;
    transition: .4s;
}

/*.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}*/
.slider::before {
    background-color: #ffffff;
    bottom: 3px;
    content: "";
    height: 35px;
    left: 4px;
    position: absolute;
    transition: all 0.4s ease 0s;
    -webkit-transition: .4s;
    width: 35px;
}

input:checked + .slider {
    background-color: #f87433;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(45px);
    -ms-transform: translateX(45px);
    transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.save-box {
    display: inline-block;
    margin-top: 17px;
    width: 100%;
}
.save-box li{ display:inline-block; width:48%; text-align:center;}
.save-box li:last-child{ float:right;}
.save-box li a{ transition: 500ms all ease-in-out 0s; color:#ffffff; padding:20px 0; border-radius:3px; font-family: 'ProximaNovaBold'; font-size:16px; background:#f87433; display:inline-block; width:100%;}
.save-box li a:hover,.save-box li a.active{ background:#888ca9; text-decoration:none;}
.footer {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 22px 0 40px 0;
}
.footer li {
    display: inline-block;
    padding: 0 18px;
}
.footer li a{ color:#343434; font-family: 'ProximaNovaRegular'; font-size:16px; text-transform:uppercase;}
.footer li a:hover{ text-decoration:none; color:#f87433;}
.footer p{ color:#5a5a5a; font-family: 'ProximaNovaRegular'; font-size:16px; margin-top:20px;}
.footer ul {
    margin-top: 20px;
}
/*End Acounting*/



/*Start ChatPage*/

.online-user-box {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e4e6e8;
    display: inline-block;
    position: fixed;
    width: 357px;
    height: 100%;
}
.online-user-box h4{ margin:0;}
.online-user-box h4 span {
    border-bottom: 1px solid #e4e6e8;
    color: #404257;
    display: block;
    font-family: "ProximaNovaRegular";
    font-size: 16px;
    padding: 19px;
}
.online-user-box li img {
    float: left;
    margin-right: 16px;
}
.online-box{ float:left; vertical-align:top;}
.online-user-box li h3 {
    color: #878da7;
    font-family: "ProximaNovaRegular";
    font-size: 18px;
    margin: 2px 0 6px;
}
.online-user-box ul {
    display: inline-block;
    width: 100%;
    border-right: 1px solid #e4e6e8;
}
.useractive-box {
    padding-right: 20px;
}
.online-user-box li h4{ font-size:16px; font-family: "ProximaNovaRegular"; margin:0; color:#878da7;}
.online-user-box li span{ float:right; margin-top:15px;}
.online-user-box li:nth-child(2) span{ color:#f87433;}
.online-user-box li {
    float: left;
    padding: 12px 22px;
    width: 100%;
    border-bottom: 1px solid #e4e6e8;
}
.online-user-box li:hover,.online-user-box li.active{ background:#f87433; cursor:pointer;}
.online-user-box li:hover h4,.online-user-box li.active h4{ color:#fff;}
.online-user-box li:hover h3,.online-user-box li.active h3{ color:#fff;}
.online-user-box li:hover span,.online-user-box li.active span{ color:#fff;}
.typing {
    border-bottom: 1px solid #e4e6e8;
    display: inline-block;
    padding: 15px 45px;
    width: 100%;
    margin:0;
}
.typing li {
    display: inline-block;
    padding: 0 7px;
    font-size:16px;
    color:#f87433;
    font-size:16px;
    font-family: 'proximanovalight';
}
/*End ChatPage*/



/*Start Discover*/
.three-balls .ball {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: bouncedelay 3.0s infinite cubic-bezier(.62, .28, .23, .99) both;
    animation: bouncedelay 3.0s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.three-balls .ball1 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}

.three-balls .ball2 {
    -webkit-animation-delay: -.08s;
    animation-delay: -.08s;
}

@keyframes bouncedelay {
    0% {
        bottom: 0;
        background-color: #03A9F4;
    }
    16.66% {
        bottom: 10px;
        background-color: #FB6542;
    }
    33.33% {
        bottom: 0px;
        background-color: #FB6542;
    }
    50% {
        bottom: 10px;
        background-color: #FFBB00;
    }
    66.66% {
        bottom: 0px;
        background-color: #FFBB00;
    }
    83.33% {
        bottom: 10px;
        background-color: #03A9F4;
    }
    100% {
        bottom: 0;
        background-color: #03A9F4;
    }
}

@-webkit-keyframes bouncedelay {
    0% {
        bottom: 0;
        background-color: #03A9F4;
    }
    16.66% {
        bottom: 10px;
        background-color: #FB6542;
    }
    33.33% {
        bottom: 0px;
        background-color: #FB6542;
    }
    50% {
        bottom: 10px;
        background-color: #FFBB00;
    }
    66.66% {
        bottom: 0px;
        background-color: #FFBB00;
    }
    83.33% {
        bottom: 10px;
        background-color: #03A9F4;
    }
    100% {
        bottom: 0;
        background-color: #03A9F4;
    }
}
.curent-chat-box {
    display: inline-block;
    padding: 25px 30px 0 50px;
    width: 100%;
    height: 351px;
}
.curent-chat-box li{ display:inline-block; width:100%;}
.user-chat {
    border-radius: 4px;
    padding: 11px 16px;
    width: 310px;
}
.user-chat span{ float:right;}
.left .user-chat{ float:right; background:#e3e8ed; position:relative;}
.left .user-chat::after {
    background: rgba(0, 0, 0, 0) url("../images/arrow-chat.png") no-repeat scroll right top;
    content: "";
    display: block;
    height: 26px;
    position: absolute;
    right: -15px;
    top: 10px;
    width: 16px;
}
.right .user-chat {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 8px 3px #cccccc;
    float: left;
    position:relative;
}
.right .user-chat::before {
    background: rgba(0, 0, 0, 0) url("../images/arrow-chat2.png") no-repeat scroll right top;
    content: "";
    display: block;
    height: 41px;
    left: -13px;
    position: absolute;
    top: 8px;
    width: 19px;
}
.message-typing {
    background: #e3e8ed none repeat scroll 0 0;
    float: left;
    padding: 15px 28px;
    width: 100%;
    margin:10px 0 0 0;
}
.message-typing li {
    display: inline-block;
    padding: 0 12px;
}
.message-typing li:last-child{ width:85%; position:relative;}
.message-typing li:last-child input[type="text"]{ width:100%; padding: 12px 98px 12px 20px; background:none; font-size:16px; color:#000000; font-family: 'proximanovalight'; border-left:1px solid #b0b9c3;}
.message-typing li:last-child input[type="submit"]{ position:absolute; padding: 12px 26px; right:0; font-family: 'ProximaNovaRegular'; text-transform:uppercase; font-size:16px; color:#fff; background:#f87433;}
.message-typing li:last-child input[type="submit"]:hover{ background:#888ca9;}
.message-right{ padding-bottom:0;}


#peopledefault .discover-small{
    background: #FFF;
}

#tagsdefault .discover-small{
    background: #FFF;
}

#tagsdefault h4{

    margin-left: 25px;

    margin-top: 0px;
}

.discoverpeopleul a:hover{
    cursor: pointer;

}

.discover-box .panel{

    background: none !important;
    padding: none !important;
}


.discover-box .panel-body{

    padding: 0px !important;
}




.discover-box-main{ text-align:center;}
.discover-box .white-box{
    margin-bottom: 15px;
    display: inline-block;
    text-align:left;
}
.discover-box .title{ margin-bottom:0;}
.discover-small{ float:left; width:100%; padding:20px 20px 20px 20px; border-bottom: 1px solid #e4e6e8;}
.user-name img{ float:left; margin-right:17px;}
.user-name h3{ font-size:16px; color:#000000; font-family: 'proximanovasemibold'; margin: 5px 0 0 0;}
.user-name h3 span{ display:block; margin-top: 8px;}
.user-name h3 span a{ font-family: 'proximanovalight'; color:#494949;}
.user-name h3 span a:hover{
    text-decoration: none;
    color: #f87433;
}
.follow{ text-align:right;}
.follow a {
    background: #f87433;
    font-size: 16px;
    color: #fff;
    font-family: 'proximanovasemibold';
    padding: 10px 25px;
    display: inline-block;
    border-radius:4px;
}
.follow a:hover {
    text-decoration: none;
    background:#888ca9;
    color:#fff;
}

.img-box{
    padding-top: 20px;
}
.maintagimage{
    width: 100%;
}

.img-box ul{ display:inline-block; width:100%; margin-top:28px;}
.img-box ul li {
    display: inline-block;
    width: 32.8%;
    padding:0 4px;
}
.img-box ul li img{ width:100%;}
/*End Discover*/




/*Start Signup*/

.signup-box{ float:left; width:100%; background:url(../images/sign-upbanner.jpg) left top no-repeat; background-size:cover; padding:50px 0;}
.insta-form{ float:left;  border-radius: 3px; width:100%; background:#fff; border:3px; padding: 25px 0 7px;}
.signup-box h1 {
    color: #ffffff;
    font-family: "ProximaNovaRegular";
    font-size: 50px;
    margin: 81px 0 15px;
}
.signup-box p{ font-size:18px; color:#fff; font-family: 'ProximaNovaRegular'; margin:0;}
.register{ display:inline-block; border:2px solid #fff; color:#fff; padding: 13px 40px 17px; margin-top: 25px;}
.register:hover{ display:inline-block; border:2px solid #f87433; color:#f87433; text-decoration:none;}
.insta-form h2{ font-size:30px; color:#000000; font-family: 'ProximaNovaRegular'; text-align:center; margin:0;}
.insta-form h4{ font-size:16px; color:#686868; font-family: 'ProximaNovaRegular'; text-align:center; border-bottom:1px solid #e4e6e8; padding: 13px 0 17px; margin:0;}
.insta-form form{ display:inline-block; width:100%; padding:20px;}
.insta-form form input[type="text"]{
    border: 1px solid #c0c0c0;
    color: #000000;
    margin-bottom: 18px;
    padding: 15px;
    width: 100%;
    font-size:16px;
    font-family: 'proximanovalight';
}
.insta-form form input[type="password"]{
    border: 1px solid #c0c0c0;
    color: #000000;
    margin-bottom: 18px;
    padding: 15px;
    width: 100%;
    font-size:16px;
    font-family: 'proximanovalight';
}
.Form-label-tick{ float:left; width:100%; margin: 17px 0;}
.Form-label-checkbox {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden
}
.Form-label-checkbox+.Form-label-text {
    cursor: pointer;
    margin-right: 1em
}
.Form-label-checkbox+.Form-label-text::before {
    font-size: .875em;
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin-right: .25em;
    content: "\00a0";
    color: white;
    background-clip: padding-box;
    background-color: white;
    text-align: center
}
.Form-label-checkbox+.Form-label-text:hover::before {
    border-color: black !important;
    box-shadow: 0 0 0 0 black !important
}
.Form-label-checkbox:checked+.Form-label-text::before {
    background-color: black;
    border-color: black;
    box-shadow: 0 0 0 0 black;
    font-family: FontAwesome;
    content: "\f00c"
}
.Form-label-checkbox:focus+.Form-label-text::before.Form-label-checkbox:active+.Form-label-text::before {
    border-color: #3bb8ff;
    box-shadow: 0 0 2px 0 rgba(0,135,212,0.2)
}
.Form-label-text{ color:#5c5959; font-size:16px; font-family: 'proximanovalight';}
.Form-label-text a{ color:#f87433;}
.insta-form form input[type="submit"]{
    border: 1px solid #c0c0c0;
    color: #fff;
    margin-bottom: 18px;
    padding: 18px;
    width: 100%;
    font-size:16px;
    font-family: 'proximanovasemibold';
    background:#f87433;
    border:none;
    border-radius:4px;
}

.insta-form form input[type="submit"]:hover {
    text-decoration: none;
    background: #888ca9;
    color: #fff;
}
.insta-form form h4{ border-bottom:none; padding:0;}
.insta-form form h4 a{ color:#f87433;}
.shin{ padding-bottom:0;}
.shin li a{ color:#fff;}
/*End Signup*/
.left-logo{ display:none !important;}


/*Start User Profile*/
.user-profile-contain {
    float: left;
    margin-top: 80px;
    width: 100%;
}
.white-box{ float:left; width:100%; border:1px solid #e4e6e8; border-radius:4px; background:#fff; margin-bottom: 30px;}
.white-box h4 {
    border-bottom: 1px solid #e4e6e8;
    color: #404257;
    font-family: "ProximaNovaRegular";
    font-size: 16px;
    margin: 0;
    padding: 17px 20px;
}
.about-box {
    float: left;
    width: 100%;
    padding: 16px 18px;
}
.about-box h3{ font-size:18px; color:#000000; margin:0; font-family: "ProximaNovaRegular"; float:left; width:100%;}
.about-box h3 span{ float:right; font-size:14px; color:#f87433;}
.about-box p{ font-size:16px; color:#878da7; margin:0; font-family: "ProximaNovaRegular"; float:left; width:100%; margin:10px 0}
.about-box ul{ float:left; width:100%;}
.about-box ul li{ padding: 5px 10px 5px 28px; display:inline-block; width:100%; font-size:15px; color:#000000;font-family: "ProximaNovaRegular"; background:url(../images/location.png) 5px center no-repeat;}
.about-box ul li a{ color:#878da7; text-decoration:none;}
.about-box ul li a:hover{ color:#f87433;}
.about-box ul li:first-child{ background:url(../images/work-icon.png) left center no-repeat;}
.about-box ul li:nth-child(3){ background:url(../images/heart-icon.png) left center no-repeat;}
.about-box ul li:nth-child(4){ background:url(../images/book-icon.png) left center no-repeat;}
.about-box ul li:last-child{ background: url(../images/phot-icon.png)left center no-repeat; padding-left:30px;}

.profilepicbox img{
    border: 4px solid #FFF;
    margin-left: 27%;
    width: 46%;
    border-radius: 250px !important;
    margin-top: -40px;

}

.content3 h3{
    margin-top: 10px;
    text-align: center;

}
.content3 h4{
    margin-top: -10px;
    text-align: center;
    border-bottom: none;
    color: #878da7;

}

.content3 ul li{
    font-size: 16px;
    text-align: center;
    display: inline-block;
    color: #878da7;

}

.content3 ul li strong{
    color: #f87433;
}


.trendingbox {

    float: left;
    width: 100%;


}
.trendingbox ul{

    float:left;
    width:100%;
    margin-bottom: 10px;
}
.trendingbox ul li{
    padding-left: 18px;
    padding-right: 18px;
    display: block;
    padding-top: 15px;



}

.trendingbox ul li:hover{
    background: #edf2f6 !important;
    text-decoration: none !important;
}

.trendingbox ul a:hover{
    text-decoration: none;
}

.trendingbox img{
    margin-top: 5px;
    vertical-align: top;
}


.trendinginfo{
    padding-left: 10px;
    display: inline-block;
    font-size: 16px;

}

.trendinginfo h5{
    font-weight: 800;
    color: #000;
    font-size: 16px;
    margin: 0 !important;
    text-align: left !important;
}

.trendinginfo p{
    margin-top: 20px;
    color: #878da7;
}



.phot-box {
    float: left;
    width: 100%;
    padding: 16px 18px 10px;
}
.phot-box ul{ float:left; width:100%;}
.phot-box ul li{ display:inline-block; width:49%;}
.phot-box ul li img{ width:100%; margin:2px 0;}

.follow-box{
    float: left;
    width: 100%;
    padding: 16px 18px 10px;
    border-bottom: 1px solid #e4e6e8;
    margin:0;
}
.follow-box ul{ float:left; width:100%; margin:0;}
.follow-box ul li {
    display: inline-block;
    margin: 0 5px 10px;
    width: 19%;
}
.follow-box ul li img{ width:100%;}
.white-box h5{ float:left; width:100%; text-align:center; margin:20px 0;}
.white-box h5 a{ cursor:pointer; font-size:16px; font-family: "ProximaNovaRegular"; color:#404257;}

/*Milan */
/*user profile*/
.banner-sec {
    width: 100%;
    float: left;
}
.cover-pic{
    width: 100%;
    float: left;


}
.cover-pic img{
    height: 100%;
    width:100%;

}
.profile-sec {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    border: 1px solid #e4e6e8;
    padding-bottom: 18px;
    background: #fff;
}
.profile-sec ul{ display:inline-block; list-style:none; padding:0; margin:0;}
.profile-sec ul li {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 43px;
}
/*.profile-sec ul li:nth-child(1) {
    width: 380px;
}*/
.profile-sec ul li:nth-child(6) {
    margin-right:7px;
}
.profile-sec ul li h3 {
    text-align: left;
    color: #000000;
    font-family: 'proximanovasemibold';
    font-size:30px;

}
.profile-sec ul li h4 {
    text-align: left;
    color: #555555;
    font-family: 'ProximaNovaRegular';
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}
.profile-pic {
    display: inline-block;
}
.profile-pic .content2 {

    width: 215px;
    float: right;
}

.profile-pic img {
    width: 165px;
    height: 170px;
    overflow: hidden;
    border-radius: 82px;
    padding: 2px;
    background: #fff;
    display: inline-block;
    margin-top: -80px;
}
.profile-pic h2 {
    font-family: 'ProximaNovaRegular';
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    color: #000000;
    margin: 10px 0 0 0;
    padding: 0;
}
.profile-pic h2 span {
    color: #404257;
    font-size: 16px;
    margin-top: 7px;
    width: 100%;
    display: block;
}

a.edit-profile {
    background: #f87433;
    padding: 16px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    transition: 500ms ease-in-out 0.3s;
}
a.edit-profile:hover {
    background: #e65812;
    color:#fff;
    text-decoration:none;
}

/*mid-part*/
.mid-con {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.user-profile-box {
    float: left;
    position: relative;
    border: 1px solid #e4e6e8;
    background: #fff;
    width: 100%;
    margin-bottom:35px;
}


/*tab start*/
.panel.with-nav-tabs .panel-heading{
    padding:0;

}
.panel.with-nav-tabs .nav-tabs {
    border-bottom: 1px solid #e4e6e8;
}

.discover-box .panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}

/*Tab Milan*/
.panel-default>.panel-heading {
    background:none !important;
    border-color: #ddd;
}
.panel {
    box-shadow: none!important;
    border:none !important;
}
.nav-tabs li{
    width: 100%;
}

.discover-box .nav-tabs{
    margin-bottom: 10px;
}

.discover-box .nav-tabs li{

    width: 33.33%;
    border: 1px solid #e4e6e8;
}

.discoverheader{
    width: 100% !important;
    margin-bottom: 20px !important;
    background-color: #FFF;
}

.nav-tabs li a {

    color: #000000 !important;

    border-top: none !important;
    border-bottom: none !important;
    border-radius: 0 !important;
    border-left: 0 !important;
    font-size: 16px !important;
    font-family: 'ProximaNovaRegular';
    margin-right: 0 !important;
    padding:13px 0 !important;

    text-align: center;
    height: 50px !important;


}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {

    color: #000000 !important;
    background-color: #edf2f6 !important;
    border-color:transparent;
    /*border-left: none !important;*/
    border-bottom: 1px solid #e4e6e8 !important;
    font-size: 16px !important;
    border-radius: 0 !important;
}


.discover-box .nav-tabs>li.active>a, .discover-box .nav-tabs>li.active>a:hover, .discover-box .nav-tabs>li.active>a:focus {
    color: #000 !important;
    background-color: #FFF !important;
    border-color:transparent;
    /*border-left: none !important;*/
    border-bottom: none !important;
    font-size: 16px !important;
    border-radius: 0 !important;
}

.panel-body {
    min-height: 190px;


}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #edf2f6 !important;
}

/*Tab end*/

.tab-pane{
    margin-top: 55px;
}

.acount-setting-box{
    margin-top: 0px;
}


.fild{

    float:left;
    width:100%;
    height: auto;

}

.file-input-3{
    position:absolute;
    width:300px;
    height:400px;
    top:-50px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;

}

#previewimage{
    width: 100%;
    text-align: center;
    z-index: 1 !important;
}

#removeimage{
    position: absolute;
    width: 30px;
    right: 5px;
    margin-top: -15px;
}

#removeimage:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.fild textarea{resize: none; width:100%; color:#9a9a9a; font-size:16px;height: 100%; background:url(../images/jems-img.png) left 6px no-repeat;  padding-bottom: 17px;
    padding-left: 46px;
    padding-top: 17px;}




.icon-box {
    border-top: 1px solid #e4e6e8;
    float: left;
    width: 100%;
    padding: 20px 0 10px;
}

.btn-upload:hover{
    cursor: pointer;
}

.btn-submit-post {
    display: inline-block;
    border-radius: 4px;
    background:#FFFFFF;
    border:2px solid #f87433;
    color:#f87433;
    font-size: 20px;
    margin-left:10px;
    padding: 5px 20px 5px 20px;
}

.btn-submit-post:hover {
    text-decoration: none;
    border:2px solid #f87433;
    color:#FFFFFF;
    background:#f87433;
}

.icon-box label{ margin-top:8px;}

.user-post {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.user-post-left {
    float: left;
    width: 60%;
}
.user-post-left img{ float:left; margin-right:15px;}
.user-post-left h4{ color:#000000; font-size:16px; border:none; padding:0;  margin: 11px 0 0;}
.user-post-left h4 span{ font-size:14px; color:#6d6d6d; display:block; margin-top:5px;}
.user-post-right{ float:right;}
.middle-section .white-box{ padding:20px;}
.middle-section .white-box p{ font-size:16px; color:#878da7; margin:15px 0;}
.like-box{ display:inline-block; width:100%; border-top:1px solid #e4e6e8; border-bottom:1px solid #e4e6e8; margin:22px 0; padding:20px 25px;}
.like-box li {
    color: #000000;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}
.like-box li img{ float:left;}
.postearnings{
    float: right;
}

.postearnings a{ color: #f87433 !important;}

.whohasliked {
    width: 300px;
    margin: 0 33px;
}




.like-box li span{ color: #6d6d6d; font-size:16px;}
.like-box li a{ color: #6d6d6d; font-size:16px;}
.like-box li a:hover{ text-decoration:none; color:#888ca9;}
.comment-boxes{ float:left; width:100%;}
.comment-boxes h4 {
    border: medium none;
    color: #000000;
    float: left;
    font-size: 16px;
    margin: 0 0 15px 0;
    padding: 0;
    width: 100%;
}
.whohasliked{


}

.whohaslikedimages{
    margin-left: 20px;
    width: 120px;
    margin-right: 100px;
}
.whohaslikedimages img{
    width: 45px;
    border: 2px solid #FFF;
    border-radius: 50px;
    margin-left: -20px;
}






.comment-boxes h4 a{ color:#f87433;}
.comment-boxes img {
    float: left;
    margin-top: 8px;
}
.comment-boxes form {
    border: 1px solid #9193b0;
    float: right;
    padding: 9px 21px;
    position: relative;
    width: 87%;
    border-radius:4px;
}
.comment-boxes form textarea {
    resize: none;
    height: 34px;
    padding-top: 6px;
    width: 92%;
    font-size:16px;
    font-family: 'ProximaNovaRegular';
}
.comment-boxes form label {
    position: absolute;
    right: 20px;
    top: 8px;
    cursor: pointer;
}



.reply-box {
    border-bottom: 1px solid #e4e6e8;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 13px;
    width: 100%;
    display:block;
}
.reply-box-left{ float:left; width:50px; margin-right:10px;}
.reply-box-right{ float:left; width:85%; padding-top: 15px; }
.reply-box-right h4{ margin: 11px 0 5px; font-size:18px; color: #000000; }
.reply-box-right h5{ margin:0; text-align:left; font-size:16px; color:#5a5a5a;}
.reply-box-right p{ margin:10px 0 10px 0 !important; font-size:17px; color:#9193b0;}
.reply-box-right ul{ float:left; width:100%;}
.reply-box-right ul li{ display:inline-block; padding-right:10px;}
.reply-box-right ul li a{ color:#6d6d6d; font-size:14px;}
.viewcoment-box {
    border-bottom: 1px solid #e4e6e8;
    color: #000000;
    float: left;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    display:block;
}
.reply-box2{ margin-bottom:0;}
.viewcoment-box a{ font-size:18px; color:#000;}
.viewcoment-box a:hover{ text-decoration:none;}

/*End User Profile*/

@media only screen and (max-width: 1200px) {
    .notification-menu{
        margin-left: -187px !important;
    }

    .account-menu{
        margin-left: 25px !important;
    }


    .headerusername span{
        display: none;
    }

    .content3 h3{
        font-size: 18px;
    }

    /*Start Acounting*/
    .header-box ul li {
        display: inline-block;
        padding: 0 5px;
        position: relative;
    }
    .header-box ul li:last-child a {
        font-size: 14px;
    }
    .header-box ul li:last-child {
        padding-left: 9px;
    }
    /*End Acounting*/
}
@media only screen and (max-width: 1199px) {
    /*Start ChatPage*/
    .online-user-box{ width:290px;}
    .online-user-box li h3 {
        font-size: 16px;
    }
    .online-user-box li h4 {
        font-size: 14px;
    }
    .online-user-box li h4 {
        color: #878da7;
        font-family: "ProximaNovaRegular";
        font-size: 14px;
        margin: 0;
    }
    .curent-chat-box li {
        margin: 12px 0;
    }
    .message-typing li:last-child {
        width: 78%;
    }

    /*End ChatPage*/

    /*Start Discover*/
    .img-box ul li {
        width: 31.9%;
    }
    /*End Discover*/
    /*Start User Profile*/
    .profile-pic img {
        height: 139px;
        width: 139px;
    }
    .profile-pic h2 {
        font-size: 23px;
    }
    .profile-sec ul li h3 {

        font-size: 20px;
    }
    .profile-sec ul li h4 {
        font-size: 13px;
    }
    .profile-sec ul li {
        margin-right: 30px;
    }
    .icon-box li {
        display: inline-block;
        padding: 0 18px;
    }
    .icon-box li:last-child a {
        padding: 7px 16px;
    }
    .middle-section .white-box p {
        font-size: 14px;
    }
    .phot-box ul li {
        display: inline-block;
        width: 48%;
    }
    .trendingbox ul li {
        display: block;
    }


    .follow-box ul li {
        width: 26%;
    }
    .like-box {
        padding: 20px 2px;
    }
    .like-box li:nth-child(2) {
        margin: 0 6px;
        width: 245px;
    }
    /*End User Profile*/

}
@media only screen and (max-width: 1024px) {
    /*Start Signup*/
    .Form-label-text {
        font-size: 13px;
    }
    .insta-form h4 {
        padding: 13px 10px 17px;
    }
    .signup-box h1 {
        font-size: 31px;
    }

    /*End Signup*/
}
@media only screen and (max-width: 991px) {


    .trendingbox ul{

        float:left;
        width:100%;
        margin-bottom: 10px;
    }
    .trendingbox ul li{
        padding-left: 10px;
        padding-right: 18px;
        display: block;
        padding-top: 15px;



    }

    #top_to_button {
        display: none !important;
    }


    .trendingbox img{
        margin-top: 5px;

    }


    .trendinginfo{
        padding-left: 0px;
    }

    .trendinginfo h5{
        font-weight: 800;

        font-size: 14px;
        margin: 0 !important;

    }

    .trendinginfo p{
        font-size: 12px;


    }












    .content3 h3{
        font-size: 14px;

    }
    /*Start Acounting*/
    .header-box ul li:last-child a span{ display:none;}


    .left-form label {
        width: 100%;
    }
    .left-form select {
        margin-top: 16px;
        width: 100%;
    }

    .profile-page li a {
        font-size: 13px;
    }
    .profile-page li {
        font-size: 13px;
        padding: 14px 18px;
    }
    .profile-page li:first-child {
        font-size: 13px;
    }



    /*End Acounting*/
    /*Start ChatPage*/
    .message-typing li:last-child {
        width: 75%;
    }
    .online-user-box li {
        padding: 12px 11px;
    }
    .online-user-box li h3 {
        font-size: 14px;
    }
    .online-user-box li h4 {
        font-size: 12px;
    }
    .online-user-box li img {
        margin-right: 5px;
    }
    .online-user-box {
        width: 237px;
    }
    /*End ChatPage*/
    /*Start User Profile*/
    .profile-sec ul li:first-child{ margin-right:0;
    }
    .profile-pic img {
        height: 100px;
        width: 100px;
        margin-top: -39px;
    }
    .profile-pic .content2 {
        float: right;
        width: 140px;
    }

    .profile-pic h2 {
        font-size: 18px;
    }
    .profile-pic h2 span {
        font-size: 14px;
    }
    .profile-sec ul li h4 {

        font-size: 11px;
    }
    .profile-sec ul li h3 {
        font-size: 15px;
    }
    .nav-tabs > li {


    }
    .about-box {
        padding: 16px 13px;
    }
    .about-box p {
        font-size: 14px;
    }
    .about-box ul li {
        font-size: 13px;
        padding: 5px 0 5px 28px;
    }
    .icon-box {
        text-align: center;
    }
    .icon-box li:last-child {
        float: right;
        width:100%;
    }
    .icon-box li:last-child {
        margin-top: 15px;
    }
    .user-post {
        padding: 0;
    }
    .follow-box ul li {
        width: 40%;
    }
    .like-box li:nth-child(2) {
        margin: 0 6px;
        text-align: center;
        width: 137px;
    }
    .comment-boxes form {
        width: 84%;
    }
    .comment-boxes form textarea {
        width: 88%;
        resize: none;
    }






    /*End User Profile*/
}
@media only screen and (max-width: 767px) {




    .header-box{
        margin: 0px;
        padding: 0px;
    }
    /*Start Acounting*/
    .left-logo{
        display: block !important;
        width: 250px !important;


    }
    .search-wrap{
        display:none;
        margin-top: -88px;
    }
    .search-wrap ul{
        margin:0;
        margin:0;
        margin-top: -10px;
    }

    .header-box ul {
        float: right;
        width: auto;
    }
    .logo{ padding-top:15px; padding-bottom:15px;}
    .header-box ul li {
        padding: 0 11px;
    }
    .search-form-box{ display:none;}


    .left-form label {
        float: left;
        width: auto;
    }
    .left-form select {
        float: right;
        margin-top: 0;
        width: 140px;
    }
    .switch {
        margin-bottom: 15px;
        margin-top: 6px;
        width: 87px;
    }
    .header-right{ display:none;}
    .logo-left {
        display:inline-block !important;
        float: right;
        width: auto !important;
        margin: 0 !important;
    }
    .logo img {
        margin-top: 0;
    }
    .logo-img img {
        position: relative;
        top: 6px;
        left: 38px;
    }
    /*click_menu_css*/


    .profile-page {
        flex: 1 1 0;
        left: 0;
        padding: 0;
        position: absolute;
        top: 0;
        transform: translate3d(-340px, 0px, 0px);
        transition: transform 0.3s ease 0s;
        width: 320px;
        z-index: 111;
    }
    .profile-page.isOpen {
        transform: translate3d(0,0,0);
    }
    .online-user-box {
        flex: 1 1 0;
        left: 0;
        padding: 0;
        position: absolute;
        top: 0;
        transform: translate3d(-340px, 0px, 0px);
        transition: transform 0.3s ease 0s;
        width: 320px;
        z-index: 111;
        height:515px;
    }
    .online-user-box.isOpen {
        transform: translate3d(0,0,0);
    }


    .smobitrigger {
        display: block;
        height: 40px;
        margin-top: 7px;
        position: absolute;
        text-align: center;
        transition: background 0.3s ease 0s;
        width: 40px;
        z-index: 9999;
    }

    .smobitrigger::before {
        color: #035b8d;
        content: "≡";
        font-size: 34px;
    }

    .smobitrigger:hover {
        background: rgba(3,91,141,0.4) none repeat scroll 0 0;
        cursor: pointer;
    }

    .smobitrigger.active {
        background: rgba(3,91,141,0.4);
    }
    /*End Acounting*/
    /*Start Discover*/
    .discover-box {
        width: 100%;
    }
    .user-flower{ float:left; width:70%;}
    .follow{ float:right; width:30%}
    /*End Discover*/

    /*Start Signup*/

    .signup-box h1 {
        color: #ffffff;
        font-family: "ProximaNovaRegular";
        margin: 0 0 15px;
    }
    .register {
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .signup-box {
        text-align: center;
    }
    /*End Signup*/
    /*Start User Profile*/
    .profile-sec ul li:first-child {
        margin-right: 0;
        margin-left: 0;
    }
    .like-box li:nth-child(2) {
        margin: 0 23px;
    }
    .user-profile-left{ display:none;
    }

    .icon-box {
        text-align: left;
    }
    .icon-box li:last-child {
        float: right;
        width: auto;
    }
    .icon-box li:last-child {
        margin-top: 0;
    }
    .profile-sec ul li:first-child {
        margin-bottom: 11px;
        text-align: center;
        width: 100%;
    }
    .profile-pic .content2 {
        float: none;
        width: 100%;
    }

    .profile-pic img {
        height: 170px;
        margin-top: -84px;
        width: 170px;
    }
    .profile-pic h2 {
        font-size: 22px;
    }
    .profile-pic h2 span {
        font-size: 16px;
    }

    .profile-sec ul li h3 {

        font-size: 30px;
    }
    .profile-sec ul li h4 {
        font-size: 18px;
    }
    .profile-sec ul li {
        margin: 0 30px;
    }
    .profile-sec ul li:nth-child(5){  margin-right:0;}
    .user-profile-box.white-box img{ width:100%;}
    .like-box li:nth-child(2) {
        margin: 0 124px;
        text-align: center;
        width: 257px;
    }
    img.post-img{ width:100%;}
    .responsiv-tab{ display:inline-block;}
    /*Start tab*/
    .faq-cat-content {
        margin-top: 25px;
    }

    .faq-cat-tabs li a {
        padding: 15px 10px 15px 10px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        color: #777777;
    }

    .nav-tabs li a:focus,
    .panel-heading a:focus {
        outline: none;
    }

    .panel-heading a,
    .panel-heading a:hover,
    .panel-heading a:focus {
        text-decoration: none;
        color: #777777;
    }

    .faq-cat-content .panel-heading:hover {
        background-color: #efefef;
    }

    .active-faq {
        border-left: 5px solid #888888;
    }
    .responsiv-tab {
        background: #ffffff none repeat scroll 0 0;
        float: left;
        margin-bottom: 35px;
        width: 100%;
    }
    .jem {
        float: left;
        width: 200px;

    }
    .panel-collapse{ float:left; width:100%;}
    .panel-heading{ float:left; width:100%;}
    .jem img{ float:left; margin-right:10px;}
    .jem h4 {
        color: #000000;
        font-size: 18px;
        margin: 9px 0 0 0;
        margin: 9px 0 0 0;
    }
    .jem h4 p {
        color: #676767;
        display: block;
        font-size: 16px;
        line-height: 10px;
        margin-top: 0;
    }
    .glyphicon-plus::before {
        line-height: 30px;
        font-size: 40px;
        font-weight: bold;
        color: #f87433;
    }

    .glyphicon-minus::before{
        line-height: 30px;
        font-size: 40px;
        font-weight: bold;
        color: #f87433;
    }
    .pull-right {
        border: 2px solid #f87433;
        border-radius: 4px;
        height: 40px;

        margin-top: 8px;

    }
    .panel-default {
        border-color: #dddddd;
        float: none;
        width: 100%;
        margin-bottom:0 !important;
    }
    .responsiv-tab h3 {
        background: rgba(0, 0, 0, 0) url("../images/icon-s.png") no-repeat scroll 97% center;
        float: left;
        font-size: 18px;
        margin: 0;
        padding: 18px 0;
        text-align: center;
        width: 100%;
    }
    .panel-heading-f{ border-top:1px solid #e4e6e8;}
    .see-all-box{ float:left; width:100%; text-align:center;}
    .see-all-box a{ font-size:18px; color:#404257; display:inline-block; margin:15px;}
    /*End tab*/
    .reply-box{ display:inline-block;}
    .viewcoment-box{ display:inline-block;}
    /*End User Profile*/
}
@media only screen and (max-width: 730px) {
    .like-box li:nth-child(2) {
        margin: 0 102px;
    }
}
@media only screen and (max-width: 690px) {
    .like-box li:nth-child(2) {
        margin: 0 80px;
    }
}
@media only screen and (max-width: 645px) {
    .like-box li:nth-child(2) {
        margin: 0 50px;
    }
}
@media only screen and (max-width: 580px) {
    /*Start Acounting*/
    .save-box li { margin-bottom: 10px; width: 100%;}
    .header-box ul li {
        padding: 0 5px;
    }
    /*End Acounting*/
    .like-box li:nth-child(2) {
        margin: 0 20px;
    }
}
@media only screen and (max-width: 520px) {
    .logodesktop{
        display: none;
    }

    .logomobile{
        display: inline-block;
        float: left;
        margin-left: -30px;
    }

    .like-box li:nth-child(2) {
        margin: 0 7px;
    }
    .banner-sec {
        float: left;
        margin-top: 64px;
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    /*Start Accounting*/

    .header-box ul {
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center !important;


    }

    .logomobile{
        margin-top: -9px;

    }

    .footer li {
        display: inline-block;
        padding: 0 18px;
        width: 100%;
        text-align: left;
    }
    .footer li a {
        display: inline-block;
        padding: 12px 17px;
        width: 100%;
        border-bottom: 1px solid #fff;
    }
    /*End Acounting*/

    /*Start ChatPage*/
    .curent-chat-box {
        display: inline-block;
        padding: 25px 30px 0 26px;
    }
    .message-typing li {
        display: inline-block;
        padding: 7px 12px;
    }
    .message-typing li:last-child {
        width: 100%;
    }
    /*End ChatPage*/
    /*Start Discover*/
    .discover-box {
        width: 100%;
    }
    .user-flower{ float:left; width:100%;}
    .follow{ float:left; width:100%; text-align:left; padding-top:20px;}
    /*End Discover*/


    /*Start User Profile*/
    .like-box li img {
        float: left;
        width: 84px;
    }
    .like-box li:nth-child(2) {
        text-align: center;
        width: 200px;
        margin: 0px 15px;
    }
    .like-box li a {
        color: #6d6d6d;
        font-size: 14px;
    }
    .like-box li {
        font-size: 14px;
    }
    .like-box li span {
        font-size: 14px;
    }
    .like-box li a {
        font-size: 13px;
    }
    .profile-sec ul li h3 {
        font-size: 20px;
    }
    .profile-sec ul li h4 {
        font-size: 13px;
    }
    .icon-box li {
        display: inline-block;
        padding: 0 10px;
    }
    .reply-box-right {
        float: left;
        width: 77%;
    }
    .banner-sec {
        margin-top: 85px;
    }
    /*End User Profile*/
}
@media only screen and (max-width: 400px) {
    /*Start Acounting*/
    .left-form select {
        float: right;
        margin-top: 17px;
        width: 100%;
    }
    .left-form label {
        float: left;
        width: 100%;
    }
    /*End Acounting*/
    /*Start ChatPage*/
    .user-chat {
        width: 100%;
    }
    .message-typing {
        padding: 15px 6px;
    }
    .message-typing li:last-child input[type="submit"] {

        padding: 6px 15px;
        right: 10px;
        top: 14px;
    }
    .message-typing li:last-child input[type="text"] {
        padding: 12px 77px 12px 20px;
    }
    /*End ChatPage*/
    .like-box li {
        font-size: 14px;
        width: 100%;
        margin: 4px 0 !important;
    }
    .profile-sec ul li {
        margin: 0 10px;
    }
    .icon-box {
        text-align: center;
    }
    .icon-box li:last-child{ width:100%; margin-top:10px;}
    .nav-tabs li a {
        width: 130px;
    }
}

@media only screen and (max-width: 360px) {
    /*Start Discover*/
    .img-box ul li {
        width: 100%;
        margin-bottom:10px;
    }
    /*End Discover*/

    /*Start Signup*/
    .signup-box h1 {
        font-size: 24px;
    }
    .signup-box p {
        font-size: 14px;
    }
    .insta-form h2 {
        font-size: 22px;
    }
    /*End Signup*/
    .profile-pic img {
        height: 120px;
        margin-top: -51px;
        width: 120px;
    }
    .pull-right {
        padding: 0 14px;
    }
    .reply-box-right {
        float: left;
        width: 74%;
    }
}