<div class="notification-list white-box" infiniteScroll
     [infiniteScrollDistance]="0.4"
     [infiniteScrollThrottle]="1000"
     (scrolled)="onNotificationScroll()">


  <h3>Notifications</h3>
  <div class="center">
    <button class="btn btn-primary" *ngIf="new_notifications" (click)="loadNewNotifications()">
      View {{new_notifications}} new notifications
    </button>
  </div>

  <span *ngFor="let notification of notification_list">
    <a [ngClass]="{'unread': notification.unread}"
       class="notification-list-item"
       href="#" (click)="goToAction(notification);false">

      <span class="circlephoto notify-avatar"
            (click)="handleClickAvatar($event, notification);false"
            [innerHTML]="notification.actor_thumbnail">
      </span>
      <div class="notification-item-right vertical-list">
        <div class="vertical-list-item">
          <span class="notify-text">{{notification.actor}}{{notification.verb}}</span>
        </div>
        <div class="vertical-list-item">
          <div class="notify-actions">
            <button *ngIf="notification.actor_user && !notification.actor_user.is_following && (notification.verb == ' has followed you!')" 
              class="btn-follow" style="
              background-color: #F87433;
              color: white;
              display: inline;
              font-size: 14px;
              font-weight: 600;
              padding-left: 50px;
              padding-right: 50px;" 
              (click)="followUser($event, notification.actor_user);false" translate> Follow </button>
            <button *ngIf="notification.actor_user.is_following && (notification.verb == ' has followed you!')" 
              class="btn-follow" style="
              background-color: white;
              border: 1.5px solid #F87433;
              color: #F87433;
              display: inline;
              font-size: 14px;
              font-weight: 600;
              padding-left: 52%;
              padding-right: 52%;"
              (click)="unfollowUser($event, notification.actor_user);true" translate> Following </button>
          </div>
          <span class="notify-time">
            {{ notification.timestamp |messageTime }}
          </span>
        </div>
      </div>

    </a>
  </span>
  <sk-three-bounce *ngIf="loading == true"></sk-three-bounce>
</div>
