<div class="d-inline-block">
  <div class="dropdown show" style="position: relative;">

    <a id ="notification-dropdown" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <li class="noti">
        <img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/>
        <span class="notificationspan" *ngIf="unread_count > 0"  >{{unread_count}}</span>
      </li>
    </a>

    <div class="dropdown-menu notification-menu" aria-labelledby="dropdownMenuLink">
      <div class="dropdown-caret">
        <div class="caret-outer"></div>
        <div class="caret-inner"></div>
      </div>
      <div class="notification-bar clearfix">
        <span [routerLink]="['/notifications']" class="notification-menu-header" title="Notifications" translate>
          Notifications
        </span>
        <a href="#" (click)="markAllRead();false" class="mark-all-as-read" translate>Mark all as read</a>
      </div>

      <div class="notification-scroll">
        <span  *ngFor="let notification of notification_list">
            <a class="dropdown-item notification-list-item clearfix" [ngClass]="{'unread': notification.unread}" href="#" (click)="goToAction(notification);false">
              <span class="circlephoto notify-avatar"
                    (click)="handleClickAvatar($event, notification);false"
                    [innerHTML]="notification.actor_thumbnail"></span>

              <div class="notification-item-right vertical-list">
                <span class="notify-text vertical-list-item"><span class="bold">{{notification.actor}}</span>{{notification.verb}}</span>

                <div class="vertical-list-item clearfix">
                  <button *ngIf="(notification.verb == ' has followed you!') && notification.actor_user && !notification.actor_user.is_following " 
                      class="btn-follow" style="background-color: #F87433;
                      color: white;
                      display: inline;
                      font-size: 14px; 
                      font-weight: 600;
                      padding-left: 35%;
                      padding-right: 35%;"
                      (click)="followUser($event, notification.actor_user);false" translate>Follow</button>
                    <button *ngIf="(notification.verb == ' has followed you!') && notification.actor_user.is_following" 
                      class="btn-follow" style="
                      background-color: white;
                      border: 1.5px solid #F87433;
                      color: #F87433;
                      display: inline;
                      font-size: 14px;
                      font-weight: 600;
                      padding-left: 29%;
                      padding-right: 29%;"
                      (click)="unfollowUser($event, notification.actor_user);true" translate>Following</button>
                </div>
              </div>

            </a>
        </span>
      </div>
    </div>

  </div>
</div>
