{% extends "admin/base.html" %}
{% load static %}

{% block branding %}
<h1>session-security demo</h1>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="{% static 'jquery.js' %}" type="text/javascript"></script>
    {% include 'session_tracking/../../../../templates/session_tracking/all.html' %}
{% endblock %}
