
<a class="profile-box-a" href="#" [routerLink]="['/user/', user.username]">
  <div class="white-box">
    <div>
      <img id="cover_image" [src]="cover_pic_url()" class="img-responsive">
    </div>


    <div class="profilepicbox">

      <span [innerHTML]="user.avatar"></span>

      <div class="content3">
        <h3>{{ user.username }}</h3>


        <ul>
          <li class="col-sm-4"><strong>{{user.thought_count}}</strong><br>

            <ng-template #posts>
              {{'Post'|translate}}
            </ng-template>
            <ng-container *ngIf="user.thought_count>1; else posts">
              {{'Posts'|translate}}
            </ng-container>
          </li>

          <li class="col-sm-8"><strong>${{user.earnings|number:'1.2-2'}}</strong><br>
            {{'Lifetime Earnings'|translate}}
          </li>
        </ul>

      </div>
    </div>

  </div>
</a>


