<div class="outofbela" [hidden]="!visible">
  <a class="close" (click)="close()">
    <i class="fas fa-times" aria-label="Close message"></i>
  </a>

  <h3>Not enough Bela!</h3>

  <h4 class="account" translate>Each <img src="https://s3.amazonaws.com/bellassets/assets/images/redheart.png"> gives {{user.bella_per_like}} <img src="https://s3.amazonaws.com/bellassets/assets/images/orangebela.png">
  </h4>

  <p>In Belacam, likes give money. When you give a like, you give Bela from your account to someone else. And for every like you get, that's another real person giving you some Bela as well.</p>

  <a class="btn-submit-post" [routerLink]="['/deposit']" translate>Deposit Bela</a>
  <a class="btn-submit-post" [routerLink]="['/referral/dashboard']" href="#" translate>Earn Bela</a>

</div>
