<div class="white-box">
  <h4 translate>Earn Free Bela</h4>
  <div class="trendingbox trendingbox-padding">
    <p class="sidebar-verify center" *ngIf="!requesting_user.user1.phone_number" translate>
      <a [routerLink]="'/verify/'">Click here to verify your identity and earn free Bela</a>
    </p>
    <p *ngFor="let task of tasks">
      <i
        [ngClass]="{
         'fas fa-check-circle text-green': task.is_complete,
         'far fa-circle': !task.is_complete
         }"></i>
      {{task.description}}
      <span class="task-reward"> ({{task.reward}} Bela)</span></p>

  </div>
</div>
