<div class="row">

  <span *ngIf="referrer.id; else noReferrer">
    <h3 class="text-center">Your Belacam Referral Link</h3>
    <h3 class="reflink">{{referrer.link}}</h3>
    <br>

    <div class="row refstatrow">

      <div class="refstat refstat1"><h2>{{referrerStatistics.num_users}}</h2>
        <ng-template #justone>
          {{'User'|translate}}
        </ng-template>
        <ng-container *ngIf="referrerStatistics.num_users>1; else justone">
          {{'Users'|translate}}
        </ng-container> Referred
      </div>

      <div class="refstat"><h2>{{referrerStatistics.belas_income}}</h2> Bela Earned</div>
      <div class="refstat refstat3"><h2>${{referrerStatistics.dollar_income | number : '1.2-2' }}</h2> Dollar Value</div>

    </div>
  </span>
  <ng-template #noReferrer>

    <span *ngIf="referrerApplication; else noApplication">
      <h3 class="text-center">Your Belacam Referral Application</h3>
      <h3 class="reflink">{{referrerApplication.statusText}}</h3>
      <h4 class="text-center" *ngIf="referrerApplication.status == 'DENIED'">
        <a href="https://belacam.zendesk.com/hc/en-us/articles/360008405992" translate>
          Why was I deferred, and when can I reapply?
        </a>
      </h4>

    </span>

    <ng-template #noApplication>

      <p class="center reftext">Before you can apply for a referral link, you must complete the following requirements.</p>
      <ul class="referredusers">


        <li><i class="fas"
               [ngClass]="{'fa-times text-red': !requesting_user.id || !requesting_user.verified,
               'fa-check text-green': requesting_user.id && requesting_user.verified}"></i> Confirm your Email</li>

        <!-- Temporary disabled requirements (https://trello.com/c/YbKKwtV5/779-remove-some-barriers-to-referral-links) -->

        <!--<li><i class="fas"-->
               <!--[ngClass]="{'fa-times text-red': !requesting_user.id || requesting_user.earnings < 1,-->
               <!--'fa-check text-green': requesting_user.id && requesting_user.earnings >= 1}"></i> Lifetime Earnings of $1 or more</li>-->

        <!--&lt;!&ndash; A total of 50, so 3 deposits of 20 Bela each would change this to a check &ndash;&gt;-->
        <!--<li><i class="fas"-->
               <!--[ngClass]="{'fa-times text-red': !requesting_user.id || requesting_user.total_deposit < 50,-->
               <!--'fa-check text-green': requesting_user.id && requesting_user.total_deposit >= 50}"></i> Deposit 50 Bela or more <a [routerLink]="['/deposit']" href="#">to your account</a></li>-->

        <!--&lt;!&ndash; This should only show if the 3 requirements above are met &ndash;&gt;-->
        <!--<h3 class="text-center"-->
            <!--*ngIf="requesting_user.id-->
                  <!--&& requesting_user.verified-->
                  <!--&& requesting_user.earnings >= 1-->
                  <!--&& requesting_user.total_deposit >= 50">-->
          <!--<a [routerLink]="'/referral/apply'">Click here to apply for a referral link</a>-->
        <!--</h3>-->

        <!-- This should only show if the 1 requirement above are met -->
        <h3 class="text-center"
            *ngIf="requesting_user.id
                  && requesting_user.verified">
          <a [routerLink]="'/referral/apply'">Click here to apply for a referral link</a>
        </h3>
      </ul>

    </ng-template>

  </ng-template>
  <p class="reftext">We are paying you for each person that you refer to Belacam. The more people you refer, the more you earn per referral. Share your Belacam referral link with others, and when they sign up through that link, we will credit Bela to your account.</p>

  <ul class="referredusers">
    <li class="reftitle"># of Users <span>Payout per Referral</span></li>
    <li *ngFor="let setting of referralSettings">
      <ng-container *ngIf="setting.range_to">
        {{setting.range_from}} - {{setting.range_to}} <span>{{setting.payout}} Bela</span>
      </ng-container>
      <ng-container *ngIf="!setting.range_to">
        {{setting.range_from}}+ <span>{{setting.payout}} Bela</span>
      </ng-container>

    </li>
  </ul>


  <ul *ngIf="referrer.id" class="referredusers">
    <li class="reftitle">Referred User <span>Earnings for User</span></li>
    <p class="removeifusers">Once you refer some users, they will show up here.</p>
    <li *ngFor="let user of referrer.users">
      @{{user.username}}
      <span>{{user.belas}} Bela</span>
    </li>
  </ul>
</div>
