<form enctype="multipart/form-data" (ngSubmit)="postThought($event);false" class="post-form dropzone" method="post" id="header_post_form" action="">
  <div class="panel-body">
    <div class=" fade in active" id="tab2default" >
      <div class="fild">
        <span class="uploadavatar"> <span [innerHTML]="requesting_user.avatar"></span></span>
        <textarea
          typeahead
          col="80"
          data-wow="w"
          #headerContent
          rows="2"
          name="content"
          class="tag autoExpand"
          [placeholder]="'Upload and caption your photo.'|translate"
        ></textarea>


        <div class="previewdiv">
          <div class="row imagetools" *ngIf="showHeaderPreview && !showHeaderGifPreview">
            <a (click)="setCrop();false"><i class="fas fa-crop" [ngClass]="{'fa-selected': enableCrop}"></i></a>
            <a (click)="rotate();false"><i class="fas fa-circle-notch selected"></i></a>
            <a (click)="toggleFilterPreview(); isPreviewApplied()" *ngIf="!enableCrop"><i class="fas fa-palette"></i></a>
          </div>

          <a id="removeimageHeader"
             *ngIf="showHeaderPreviewClose"
             (click)="clearHeaderPreview();false"
             class="removeimage">
            <img src="https://s3.amazonaws.com/bellassets/assets/images/remove.png" [alt]="'Remove Belacam Photo'|translate" />
          </a>

          <!-- VIDEO PREVIEW -->
          <video controls *ngIf="showMobileVideoPreview" id="previewvideo" preload="metadata" width="100%" height="210" #video (loadedmetadata)="onMetadata($event, video)">
            <source [src]="videoMobilePreview" type="video/mp4">
          </video>
          <!-- END VIDEO PREVIEW -->

          <div class="videoTooLongAlert" style="width: 520px; height: 400px;" *ngIf="videoTooLong">
              <a (click)="clickCloseDialog()" class="btn btn-block btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                Video Too Long
              </a>
          </div>

          <img id="headerpreviewgifimage" *ngIf="showHeaderPreview && (showHeaderGifPreview || !enableCrop)" [src]="headerPreviewImg" [alt]="'Belacam User Uploaded Media'|translate"/>
          <img-cropper id="headerpreviewimage" [style.display]="showHeaderPreview && !showHeaderGifPreview && enableCrop ? 'block' : 'none' " #cropper [image]="data" [settings]="cropperSettings" [alt]="'Belacam User Uploaded Media'|translate"></img-cropper>
        </div>
        <!-- START FILTER -->
        <div class="filterPreview" *ngIf="headerEnableFilter && (showHeaderPreview && !enableCrop)">
            <div class="filterImagePreview" (click)="setOriginal()">
            <img id="headerpreviewgifimage" *ngIf="showHeaderPreview && (showHeaderGifPreview || !enableCrop)" [src]="headerFilterImgPreview" [alt]="'Belacam User Uploaded Media'|translate"/>
            <h4 class="filterDesc">Original</h4>
            </div>
            <div class="filterImagePreview" (click)="setSaturated()">
            <img  id="headerpreviewgifimage" *ngIf="showHeaderPreview && (showHeaderGifPreview || !enableCrop)" [src]="headerSaturatedPreview" [alt]="'Belacam User Uploaded Media'|translate"/>
            <h4 class="filterDesc" >Saturated</h4>
            </div>
            <div class="filterImagePreview" (click)="setGrayscale()">
            <img class="imageBW" id="headerpreviewgifimage" *ngIf="showHeaderPreview && (showHeaderGifPreview || !enableCrop)" [src]="headerFilterImgPreview" [alt]="'Belacam User Uploaded Media'|translate"/>
            <h4 class="filterDesc">Grayscale</h4>
            </div>
          </div>
        <!-- END FILTER -->
        <div class="geo-picker" *ngIf="isPickerVisible">
          <p class="geo-picker-btn">
            <i class="fas fa-map-marker-alt"></i>
            <span class="">{{isLoadingLocation ? "Getting Location..." : (curLocation && curLocation.location ? curLocation.location: "Can not find your location.")}}</span>
          </p>

        </div>
      </div>
      <div>
        <ngx-loading [show]="loading"></ngx-loading>
      </div>
    </div>
  </div>
  <ul class="icon-box">
    <li>
      <label data-toggle="tooltip" [title]="'Post your photo'|translate" class="btn-upload" id="uploadlabelHeader" for="file-input-31">
        <span>
          <a class="btn icon-btn">
            <i class="fas fa-camera"></i>
            <input type="file" (change)="headerThoughtPicChange($event)" name="image" #headerThoughtFile class="hidden" id="file-input-31" accept="image/gif, image/jpeg, image/png">
          </a>
        </span>
      </label>
    </li>
    <li>
      <label data-toggle="tooltip" [title]="'Post your video'|translate" class="btn-upload" id="uploadlabel_video">
       <a class="btn icon-btn">
            <i class="fas fa-video"></i>
            <input type="file" (change)="headerThoughtVidUpload($event)" name="video" #headerThoughtVideoFile class="hidden" accept="video/mp4">
        </a>
      </label>
    </li>
    <li>
      <label data-toggle="tooltip" [title]="'Add location'|translate" class="btn-location">
        <a class="btn icon-btn" (click)="toogleGeoPicker()" *ngIf="!isPickerVisible">
          <i class="fas fa-map-marker-alt"></i>
        </a>

        <a class="btn icon-btn active"
           (click)="toogleGeoPicker()"
           *ngIf="isPickerVisible">
          <i class="fas fa-sync-alt"></i>
        </a>

      </label>
    </li>
    <li> <button class="btn-submit-post" type="submit" translate>Post</button> </li>

  </ul>
</form>
