<form enctype="multipart/form-data" (ngSubmit)="postThought($event);false" class="post-form dropzone" method="post" id="post_form" action="">
  <div class="panel-body" >
    <div class=" fade in active" id="tab2default" >
      <div class="fild">
        <span class="uploadavatar"> <span [innerHTML]="requesting_user.avatar"></span></span>
        <textarea
          typeahead
          col="80"
          #content
          rows="2"
          onfocus="inputFocus()"
          onfocusout="inputFocusOut()"
          id="postingtextarea"
          name="content"
          class="tag autoExpand"
          [placeholder]="'Upload and caption your photo.'|translate"
        ></textarea>

        <div class="previewdiv">

            <div class="row imagetools" *ngIf="showPreview && !showGifPreview">
              <a (click)="setCrop();false"><i class="fas fa-crop" [ngClass]="{'fa-selected': enableCrop}"></i></a>
              <a (click)="rotate();false"><i class="fas fa-sync-alt selected"></i></a>
              <a (click)="toggleFilterPreview(); isPreviewApplied()" *ngIf="!enableCrop"><i class="fas fa-palette"></i></a>
             
            </div>

          <a *ngIf="showPreview || showVideoPreview" (click)="clearPreview();false" id="removeimage" class="removeimage">
            <img src="https://s3.amazonaws.com/bellassets/assets/images/remove.png" [alt]="'Remove Belacam Photo'|translate" />
          </a>
          
          <!-- VIDEO PREVIEW -->
          <video controls *ngIf="showVideoPreview" preload="metadata" id="previewvideo" width="100%" height="320" #video (loadedmetadata)="onMetadata($event, video)">
            <source [src]="videoPreview" type="video/mp4">
          </video>
          <!-- END VIDEO PREVIEW -->

          <div class="videoTooLongAlert" style="width: 520px; height: 400px;" *ngIf="videoTooLong">
              <a (click)="clickCloseDialog()" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-remove"></span> Video Too Long </a>
          </div>

          <img id="previewgifimage" *ngIf="showPreview && (showGifPreview || !enableCrop)" [src]="previewImg" [alt]="'Belacam User Uploaded Media'|translate"/>

          <img-cropper id="previewimage" [style.display]="showPreview && !showGifPreview && enableCrop ? 'block' : 'none' " #cropper [image]="data" [settings]="cropperSettings" [alt]="'Belacam User Uploaded Media'|translate"></img-cropper>
       
        </div>
         <!-- FILTER PREVIEW -->
        <div class="filterPreview" *ngIf="enableFilter && (showPreview && !enableCrop)">
            <div class="filterImagePreview" (click)="setOriginal()">
            <img id="previewgifimage" *ngIf="showPreview && (showGifPreview || !enableCrop)" [src]="filterImgPreview" [alt]="'Belacam User Uploaded Media'|translate"/>
            <h4 class="filterDesc">Original</h4>
            </div>
            <div class="filterImagePreview" (click)="setSaturated()">
            <img  id="previewgifimage" *ngIf="showPreview && (showGifPreview || !enableCrop)" [src]="saturatedPreview" [alt]="'Belacam User Uploaded Media'|translate"/>
            <h4 class="filterDesc" >Saturated</h4>
            </div>
            <div class="filterImagePreview" (click)="setGrayscale()">
            <img class="imageBW" id="previewgifimage" *ngIf="showPreview && (showGifPreview || !enableCrop)" [src]="filterImgPreview" [alt]="'Belacam User Uploaded Media'|translate"/>
            <h4 class="filterDesc">Grayscale</h4>
            </div>
          </div>
        <!-- END FILTER PREVIEW -->


        <div class="geo-picker" *ngIf="isPickerVisible">
          <p class="geo-picker-btn">
            <i class="fas fa-map-marker-alt"></i>
            <span class="">{{isLoadingLocation ? "Getting Location..." : (curLocation && curLocation.location ? curLocation.location: "Can not find your location.")}}</span>
          </p>

        </div>
      </div>
      <div>
        <ngx-loading [show]="loading"></ngx-loading>
      </div>
    </div>
  </div>
  <ul class="icon-box">
    <li>
      <label data-toggle="tooltip" [title]="'Post your photo'|translate" class="btn-upload" id="uploadlabel" for="file-input-3">
        <a class="btn icon-btn transitiontime" id="posting-form-camera">
          <i class="fas fa-camera"></i>
          <input type="file" (change)="thoughtPicChange($event)" name="image" #thoughtFile class="hidden" id="file-input-3" accept="image/gif, image/jpeg, image/png">
        </a>
      </label>
    </li>
    <li>
      <label data-toggle="tooltip" [title]="'Post your video'|translate" class="btn-upload" id="uploadlabel_video">
        <a class="btn icon-btn transitiontime" id="posting-form-video">
            <i class="fas fa-video"></i>
            <input type="file" (change)="thoughtVidUpload($event)" name="video" #thoughtVideoFile class="hidden" accept="video/mp4">
        </a>
      </label>
    </li>
    <li>
      <label data-toggle="tooltip" [title]="'Add location'|translate" class="btn-location">
        <a class="btn icon-btn transitiontime" id="posting-form-location" (click)="toogleGeoPicker()" *ngIf="!isPickerVisible">
          <i class="fas fa-map-marker-alt"></i>
        </a>

        <a class="btn icon-btn active"
           (click)="toogleGeoPicker()"
           *ngIf="isPickerVisible">
          <i class="fas fa-map-marker-alt"></i>
        </a>

      </label>
    </li>
    <li class="pull-right">
      <button type="submit" class="btn-submit-post" translate>Post</button>
    </li>
  </ul>
</form>
