{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {{ opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Period</th>
            <th>Earnings</th>
            <th>Likes Given</th>
            <th>Photos Posted</th>
            <th>User Registered</th>
            <th>Bela Deposited</th>
            <th>Payout Referral</th>
            <th>Payout Reward Bonus</th>
        </tr>
        </thead>
        {% for stat in stats %}
            <tr>
                <td>{{stat.type}}</td>
                <td>{{stat.earnings}}</td>
                <td>{{stat.likes_given}}</td>
                <td>{{stat.photos_posted}}</td>
                <td>{{stat.user_registered}}</td>
                <td>{{stat.bela_deposited}}</td>
                <td>{{stat.payout_referral}}</td>
                <td>{{stat.payout_reward_bonus}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}