{% extends "admin/change_list.html" %}
{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a class="" href="{% url 'send_weekly_email_to_all' %}" >Send weekly email</a>
    </li>
{% endblock %}