<div class="withdrawbox">
  <div class="white-box">

    <h4 translate>Withdraw Bela</h4>

    <sk-three-bounce *ngIf="loading"></sk-three-bounce>

    <form class="withdraw" [hidden]="loading" #withdrawForm>

      <h5 translate>Your Balance: {{ user.user1.belacoin }} Bela </h5>


      <p class="depositinstructions" translate>Enter a Bela address to receive
        your funds and choose how much you would like to withdraw. </p>

      <div class="addressdiv">
        <h5 translate>Address</h5>
        <input
          placeholder="0xffb44851dbdc7dd2a679bf669fdae90d47d0ecac"
          id="address" type="text" name="withdraw" value=""
          (change)="assignAddress($event)"
          required>
      </div>

      <div class="amountdiv">
        <h5>Bela</h5>
        <input placeholder="5" id="amount" type="number"
               name="amount"
               min=".5" value="" (input)="assignAmount($event)" required>
      </div>

      <div class="feeandtotal" *ngIf="withdrawAmount != 0">
        <h5 class="fee">Fee: <span>{{withdrawFee}} Bela</span></h5>
        <h5 class="total">Total: <span>{{withdrawTotal}} Bela</span></h5>

      </div>

      <ul class="feeschedule">
        <li class="feetitle">Withdrawal Amount <span>Fee</span></li>
        <li *ngFor="let setting of withdrawFeeSettings">
          <ng-container *ngIf="setting.range_to != null">
            {{setting.range_from}} - {{setting.range_to}} Bela
          </ng-container>
          <ng-container *ngIf="setting.range_to == null">
            {{setting.range_from}}+ Bela
          </ng-container>
          <span> {{setting.percentage}}%</span>
        </li>
      </ul>



      <div class="submitfooter">
        <input (click)="withdraw();false" class="withdrawsubmit"
               type="submit" value="Submit">
        <div>
          <ngx-loading [show]=""></ngx-loading>
        </div>
      </div>

    </form>
  </div>
</div>

<p class="helpfultext">Need help cashing out your Bela? <a href="https://belacam.zendesk.com/hc/en-us">Click here to visit the Belacam support and help portal.</a></p>
