<div class="user-profile-contain settings-page">
  <div class="alert fade in {{ message_type }}" *ngIf="alert_message">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ alert_message }}
  </div>

  <div class="mid-con">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li>Settings</li>
            <li class="active"><a data-toggle="pill" href="#settings_account" translate>Account</a></li>
            <li class=""><a data-toggle="pill" href="#settings_password" translate>Password</a></li>
            <li class=""><a data-toggle="pill" href="#settings_delete" translate>Delete</a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="tab-content" *ngIf="loading == false">
            <div id="settings_account" class="tab-pane fade active in">

              <div class="row">
                <div class="col-md-7">
                  <form id="account_form">
                    <legend translate>Account</legend>
                    <p class="text-warning" *ngIf="!loading && verified === false" translate>
                        Your email address wasn't verified yet. If you have not received a verification email yet, you can resend verification mail.
                        <br>
                        <button class="btn btn-primary" id="resendBtn" (click)="resend_verify_email()" translate>Resend Verification Email</button>
                    </p>
                    <div class="form-group">
                      <label class="control-label" for="id_username" translate>Username</label>
                      <div class="">
                        <input class="form-control" id="id_username" name="username" type="text" [(ngModel)]="username">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="id_email" translate>Email</label>
                      <div class="">
                        <input class="form-control" id="id_email" name="email" type="email"
                                [(ngModel)]="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="id_language" translate>Language</label>
                      <div class="">
                        <select class="form-control" id="id_language" name="language"[(ngModel)]="language"  required>
                          <option *ngFor="let lang of language_list" [value]="lang.value">{{ lang.label }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="">
                        <div class="checkbox">
                          <label>
                            <input id="id_send_weekly_email" name="send_weekly_email" type="checkbox" [(ngModel)]="send_weekly_email"> <span translate>Send weekly email?</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary" type="submit" (click)="$event.preventDefault();saveAccount();" translate>Save</button>
                  </form>
                </div>
              </div>
            </div>
            <div id="settings_password" class="tab-pane fade">
              <div class="row">
                <div class="col-md-7">
                  <form id="password_form">
                    <legend translate>Change password</legend>
                    <fieldset>
                      <div class="form-group">
                        <label class="control-label" for="id_password_current" translate>Current Password</label>
                        <div class="">
                          <input class="form-control" id="id_password_current" name="password_current" type="password" [(ngModel)]="password_current">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="id_password_new" translate>New Password</label>
                        <div class="">
                          <input class="form-control" id="id_password_new" name="password_new" type="password" [(ngModel)]="password_new">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="id_password_new_confirm" translate>New Password (again)</label>
                        <div class="">
                          <input class=" form-control" id="id_password_new_confirm" name="password_new_confirm" type="password" [(ngModel)]="password_new_confirm">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary" (click)="$event.preventDefault();updatePassword();" translate>Save</button>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
            <div id="settings_delete" class="tab-pane fade">
              <h1 translate>Delete Account</h1>
              <p translate>If you go ahead and delete your account, your information will be <b>expunged within 48 hours</b>.</p>
              <form>
                <button type="submit" class="btn btn-danger" (click)="$event.preventDefault();showConfirm();" translate>Delete My Account</button>
              </form>
            </div>
          </div>
          <sk-three-bounce *ngIf="loading == true"></sk-three-bounce>
        </div>
      </div>
    </div>
  </div>
</div>
