<div *ngIf="(requesting_user.id !==  undefined) && !loading" class="user-profile-box hideonphones">
  <div class="panel with-nav-tabs">

    <app-posting-form  [requesting_user]="requesting_user" [thots]="thoughts"></app-posting-form>
  </div>
</div>


<div class="notfollowinganyone col-sm-12 col-lg-12 col-md-12"
     *ngIf="thoughts?.length < 1 && !loading">

  <img height="200px" width="200px" src="https://s3.amazonaws.com/bellassets/orangeicon.png"/>
  <h2 translate>Welcome to Belacam!</h2>


  <h4 translate>Belacam is a social media site where social interactions carry real economic value. When you post a photo and someone gives it a 'like', you receive a micro-transaction of the Bela token. <br><br>
      
      When you 'like' someone else's post, you're giving them a micro-tip as well. That means about $.025 - $.10 worth of Bela (depending on Bela's market price) is given from your account to theirs. 
    
    
    </h4>

  <hr>
  <h3><strong translate>What is Bela?</strong>  </h3>
<h4 translate>Bela is the cryptocurrency that powers Belacam. When you get or give a like, you're either receiving or giving Bela. Bela has real-world value and fluctuates as people trade it on markets and exchanges. <br><br> You can cash out Bela that you've earned at any time by withdrawing it to an exchange, selling it for Bitcoin, and then selling that Bitcoin for your country's native currency.</h4>





  <a [routerLink]="['/discover']" href="#"><h1 translate>Let's get started!</h1></a></div>


<div class="discover-box">
  <div class="panel with-nav-tabs">

    <div class="panel-body">

      <div class="tab-content">


        <div class="fade in active endless_page_template" infiniteScroll
             [infiniteScrollDistance]="0.4"
             [infiniteScrollThrottle]="1000"
             (scrolled)="onFeedScroll()" style="float:left;width:100%;">

          <app-post-box *ngFor="let thot of thoughts; index as i"
                        [user]="requesting_user"
                        [thot]="thot"
                        [index]="i"
                        (delete)="delete($event)"
                        (openThotBox)="openThotBox($event)">
          </app-post-box>

          <sk-three-bounce *ngIf="loading == true"></sk-three-bounce>


        </div>


      </div>

    </div>
  </div>
</div>
