<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>

<div class="user-profile-contain">
  <div class="mid-con">
    <div class="container">
      <div class="row">

        <div class="col-sm-3 col-lg-3 col-md-3 user-profile-left"></div>

        <div class="col-sm-6 col-lg-6 col-md-6 middle-section">

          <div class="discover-box">
            <div class="panel with-nav-tabs ">

              <h1 translate>Belacam 3.0 Privacy Policy</h1>

              <h3 translate>This Privacy Policy is effective for July 20th, 2018.</h3>

              <p translate>Belacam is a platform entering uncharted waters. As social media expands to accommodate monetization, new frontiers of data security and privacy arise. You can rest assured that your privacy is of utmost importance to us. </p>

              <p translate>It is Belacam, Inc's policy to respect your privacy regarding any information we may collect while operating our website. Accordingly, we have developed this privacy policy in order for you to understand how we collect, use, communicate, disclose and otherwise make use of personal information. We have outlined our privacy policy below.</p>

              <p translate>We will collect personal information by lawful and fair means and, where appropriate, with or without the knowledge or consent of the individual concerned. This collection may or may not employ automated scripts and data scraping programs to gather information. </p>

              <p translate>Before or at the time of collecting personal information, we may or may not identify the purposes for which information is being collected.</p>

              <p translate>We will collect and use personal information solely for fulfilling those purposes specified by us (user experience optimization, etc.) and for other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law. </p>

              <p translate>Personal data should be relevant to the purposes for which it is to be used.</p>

              <p translate>We will protect personal information by using reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</p>

              <p translate>We will make readily available to customers information about our policies and practices relating to the management of personal information, including principally updates to the Privacy Policy. </p>

              <p translate>We will only retain personal information for as long as necessary for the fulfillment of those purposes. </p>

              <p translate>We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. Belacam, Inc may change this privacy policy from time to time at Belacam, Inc's sole discretion.</p>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
