<div class="background"></div>
<div class="main-wrapper">
  <div class="container">
    <div class="showonmobile">
      <div class="balloon-wrapper">
        <img src="https://s3.amazonaws.com/bellassets/assets/images/balloon.png">
      </div>
    </div>
    <div class="left-section">
      <div class="notice-wrapper">
        <div class="notice-important" translate>Oops...</div>
        <p translate>
          We didn't find the page you are looking for.
        </p>
        <p>
          {{'Please click |here| to go back to home page.'|translate|translateCut: 0}}
          <a [routerLink]="['']">{{'Please click |here| to go back to home page.'|translate|translateCut:1}}</a>
          {{'Please click |here| to go back to home page.'|translate|translateCut:2}}
        </p>
      </div>
    </div>
    <div class="right-section hideonmobile">
      <div class="balloon-wrapper">
        <img src="https://s3.amazonaws.com/bellassets/assets/images/balloon.png">
      </div>
    </div>
  </div>


</div>
