.background {
  background: linear-gradient(to bottom, #7fc4ff 0%, #bfe2ff 50%, #fafafa 100%) no-repeat;
  height: 100vh;
  position: fixed;
}

.main-wrapper {
  font-size: 25px;
  margin-bottom: 30px;
}

.left-section {
  float: left;
  width: 60%;
  padding: 25px;
}
.right-section {
  float: left;
  width: 40%;
  padding: 25px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container::after {
  content: ' ';
  display: block;
  clear: both;
}

.notice-important {
  font-size: 1.7em;
}

.notice-wrapper {
  margin-top: calc(50vh - 100px);
}

.balloon-wrapper {
  margin-top: calc(50vh - 350px);
}

.showonmobile {
  display: none;
}

@media (max-width: 768px) {
  .main-wrapper {
    font-size: 17px;
  }
  .hideonmobile {
    display: none;
  }
  .showonmobile {
    display: block;
  }
  .showonmobile .balloon-wrapper {
    width: 40%;
    margin: auto;
    margin-top: 50px;
  }
  .balloon-wrapper img{
    width: 100%;
  }
  .left-section {
    width: 100%;
    padding: 0;
  }
  .notice-wrapper {
    margin-top: 20px;
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .balloon-wrapper img{
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
