<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>

<div class="user-profile-contain">

  <div class="mid-con">
    <div class="container">

      <div class="row">

        <div class="col-sm-3 col-lg-3 col-md-3 user-profile-left">

        </div>

        <div class="col-sm-6 col-lg-6 col-md-6 middle-section">


          <div class="discover-box">
            <div class="panel with-nav-tabs ">

              <h1 translate>Terms and Conditions</h1>

              <h3 translate>Belacam Terms and Conditions of Use v. 3.0 <br>These Terms of Use are effective on 07/20/18 for Belacam

              </h3>

              <p translate>By engaging with and utilizing the Belacam website or any applications (including future mobile applications) created by Belacam (together, the "Platform"), you agree to be bound by these terms of use ("Terms of Use"). The Platform is operated and owned by Belacam, Inc ("Belacam"). These Terms of Use affect your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, do not engage with the Platform. There will be times after the full Belacam launch when a new device or feature is enabled that has its own terms and conditions that represents an additional contract between the user and Belacam aside from the normal Terms of Use. 
</p>
              <h2 translate>Basic Terms</h2>

              <h3 translate>Eligibility and Accounts</h3>

              <p translate>You must be at least 13 years old to use the Platform. You agree that you will not manipulate, exchange, or license your account rights, username, or follower-base. This excludes individuals or organizations that are explicitly permitted to create accounts for their clients. Aside from this, you agree that you will not create an account for any individual other than yourself or impersonate another individual via an account. You maintain that all information provided to Belacam upon account creation and at all times will be accurate and current. You agree to refrain from falsifying information in an attempt to obscure the identity of your account. You are responsible for privacy and security of your password. Do not tell others your login credentials. Belacam is not liable for any damages related to or stemming from a compensation in account security. You are prohibited from using use domain names or web URLs in/as your username without prior confirmed written consent from Belacam. You must not use an automated device (e.g. bot, script, etc.) or other unauthorized means to create accounts with the Platform. If you the individual, a human being who matches your given identification, does not create the account, it is considered spam. Belacam administration may reclaim any username for any reason without explanation.</p>

              <h3 translate>Belacam User Conduct</h3>
              <p translate>You are solely responsible for your conduct on the Platform, as well as any “Content” your account produces. “Content” includes photos, other images or graphics, text/comments/messages, links, information, sounds, original works of art, GIFs and video clips, and any other content or materials that you can publicize via the Platform. You agree that you will not mine, phish, solicit or otherwise obtain/use the login credentials and other account information of other Belacam users. You must not degrade, harass, stalk, threaten, blackmail, spam (submit/conduct unwanted interaction or content) or intimidate people or other entities through any means granted within the Platform including without limitation comments, messages, captions, and other shareable content. You are prohibited from using the Platform for any illegal goals or intentions. You agree to comply with all policy and regulations (for example, federal, provincial, local) applicable to your use of the Platform and your Content, including but not limited to, copyright laws, prostitution, internet piracy, narcotics transmission, excessive gore, nudity (for now), organized crime, terrorism, hate campaigns, etc. Belacam reserves the right to remove any Content from the Platform for any reason, without prior notice. Content removed from Belacam may continue to be stored by Belacam. Belacam will not be liable for any modification, suspension, or discontinuation of the Platform, or the loss of any Content. You also acknowledge that the internet applications may be subject to breaches of security and that the submission of Content or other information may not be secure. You must not attempt to change, modify, adapt, attack, hack, spam or otherwise alter the Platform by use of means including but not limited to DDOS attack, transmission of spyware, malware, worms, viruses, and all other forms of malicious activity available to disrupt the stability of the Platform. If you do participate in any of the above operations or any other kind of hacking/injecting, you will be prosecuted to the full extent under the law. You are prohibited from restricting another user’s enjoyment of the Platform. This includes encouraging other users to violate the Belacam Terms Conditions of Use. You agree to refrain from changing or founding another website so as to impersonate Belacam. You agree to first consult Belacam support for any questions or concerns pertaining to your account. Violation of these Terms of Use can promote limitation, suspension, or termination of your Belacam account by our administration team and loss of Bela that your account earned while committing acts in violation of our terms. You understand that Belacam, Inc will not be liable for any Content posted and you agree to use Belacam at your own risk and discretion. Any creation of legal risk for Belacam, Inc such as a violation of any clause of the Terms of Use or any other legal controversy may result in termination of an account. If your account on the Platform is suspended or terminated, all rights granted to you in these Terms of Use become void. You are no longer a user of Belacam and are therefore no longer subject to any of its Terms of Use or Rights.</p>
                <p translate>For completing certain tasks, some accounts may be rewarded with Bela credited to their account. For example, some accounts may receive free Bela upon sign up or when they refer other users. However, if you try to game these systems by creating or referring fake accounts — often characterized as multiple new accounts created by an individual or a team solely for the purpose of taking advantage of our free Bela programs — or gaming the system in any other way then you may lose any and all Bela in your account. To avoid this, please do not create multiple Belacam accounts. If you do create multiple accounts for the purpose of posting content in good-faith, keeping those accounts updated, unique, and active is a good way to make it clear that you are not gaming the system.
                
                </p>

              <h3 translate>General Conditions</h3>

              <p translate>We reserve the right to alter, suspend, or terminate the Platform or your account within the Platform at any time without notice or liability to the user. If your Belacam account is terminated or you deactivate your account, all content and interactions including photos, Bela transactions, followers and those you follow, comments, messages, and other data will no longer be visible within your account. In addition, other users will not be able to access this content by searching your username or otherwise engaging with your old account through tags or tracing other interactions. Belacam administrators reserve the right to change these Terms of Use from time to time according to need. You agree that we may notify you of an update to the Terms of Use, often through a message within the Platform. If we do not require a user review of the terms of use, your interaction with the platform after the effective date of the update confirms your compliance to the alterations of the policy. It is important that you thoroughly review these Terms of Use and any Updated Terms before interacting with the Platform. Belacam administrators are permitted to monitor or become involved in disputes between you and other users, acting in the best interest for the community of the Belacam Platform. There will be links from the Platform’s posted content, as well as messages and other interactions relating to third-party web sites or features created by businesses, organizations, and individuals. You agree that Belacam does not condone nor takes liability for any third-party services or features. You understand that your interactions and relationship with third parties found on Belacam are strictly between you and the third parties and do not include Belacam in any way. We have no responsibility for the results of these interactions. You agree that the platform is not responsible for all data charges you will incur through use of the Platform. Belacam strictly prohibits caching, phishing, scraping or otherwise accessing any content on the Platform via automated means, including but not limited to, user profiles and photos. The only exception for this clause will be data extraction as the result of analytics methods or technologies used by a search engine with Belacam's express consent.</p>
              <p translate>
               Belacam will have occasions when the Platform is not online or has bugs. Main reasons for this include breakdown of telecommunications equipment, site maintenance, or addition of new features. You agree that you will be patient with the system as it will typically be back online within a reasonable amount of time. You agree that Belacam is not responsible for Content posted on the Platform. We will not be liable for any use of Content by users inside or outside of the platform. This includes screenshots and other references to Content produced. You acknowledge and agree that your relationship with Belacam is not any kind of special relationship other than that that the public typically maintains with Belacam.</p>
                <p translate>When withdrawing Bela, please allow the Belacam team 48 hours to verify and process your withdrawal. We often manually verify withdrawals to make sure that there are no errors or withdrawal hacks that could drain users’ funds, and this added security takes some extra time. Only supply us with an ERC20 Bela compatible address. Once we process and send your Bela from your withdrawal, we cannot reverse the transaction, so we rely on you to provide accurate information regarding your withdrawal address.</p>

              <p translate>You hereby comply that Belacam may place advertising and promotions on the Service or on, about, or in conjunction with your Content and data garnered by Belacam data extraction. The extent and methodology of Belacam advertisements may or may not change without notice to users. </p>

              <h3 translate>Disclaimers</h3>

              <p translate>You agree that the risk and liability of using Belacam rests on the user alone. In coordination with the General Terms, you agree that your conduct on the Platform is fully legal in the jurisdiction in which you utilize Belacam. Belacam, Inc. does not claim that the Platform will be perfect or bug-free. Belacam also does not maintain that the service will be free from illegal and dangerous devices such as spy-ware or viruses. However, the administration does ensure that defects and harmful devices will be resolved/removed within full capacity of the team. Belacam, Inc. expressly disclaims all responsibility for any damages resulting from content or interactions within the system. These damages, applicable to both organizations and individuals include but are not limited to legal consequences, loss of reputation, and actual damages.This includes claims relating to broken Bela transactions (mistyped address, etc.), forgotten or stolen login credentials, and other unauthorized third party conduct on the Platform.
              </p>

              <h3 translate>Indemnification</h3>

              <p translate>You or your representative third-party agree to indemnify and hold Belacam, Inc safe and free-of-harm from any expenses, losses or damages. This includes without limitation, all legal fees and attorney rates from damages affiliated with breach of account security, content posted by your account, interactions with other users or connected to any facet of the platform.

              </p>

              <h2 translate>Arbitration and Time Limitations</h2>

              <p>
                <strong translate>By agreeing to the Terms and Conditions of Belacam, you waive the right to filing or participating in a class-action lawsuit against Belacam, Inc, Live Bela LLC, or The Ambia Fund LLC. You agree to settle all legal disputes via individual arbitration between Belacam, Inc and the user. You may bring claims only on your own behalf. You will not participate in any class-action arbitration claims. You also agree not to participate in claims brought in a private attorney general or representative capacity, or consolidated claims involving another person's account, if Belacam is a party to the proceeding. All claims must be brought to Belacam, Inc within ninety (90) days of the original incident or conflict. After this time has passed, all individual arbitration claims are permanently barred and void.
</strong> </p>
                
                <h3 translate>DMCA Takedown Notice Policy</h3>
                <h2>DMCA</h2>
                <p translate>Belacam has adopted the following policy regarding copyright infringement in accordance with the Digital Millennium Copyright Act ("http://http://lcweb.loc.gov/copyright/legislation/dmca.pdf"). Contact information for the Designated Agent to receive the DMCA takedown notice of Claimed Infringement ("Designated Agent") is listed at the end of this policy.</p>
                <h2 translate>PROCEDURE FOR REPORTING COPYRIGHT INFRINGEMENT:</h2>
                <p translate>If you have firm belief that content accessible through the Belacam platform infringes a copyright, please send a notice of copyright infringement containing all the following information to the Designated Agent listed at the end of this section:</p>
                <p translate>1. An electronic or physical signature of the owner of alleged copyrighted content or a person authorized to act on behalf of the owner (“claiming party”) of the copyright that has been allegedly infringed;
</p>
         <p translate>2. A location within the Belacam platform where the copyright infringement is present (a URL of the content and usernames of any/all users who shared copyrighted content) as well as a description of the copyrighted content—we must be able to find the content;
</p>      
                 <p translate>3. Contact details of the claiming party filing the takedown notice (name, email address, telephone number, and physical mailing address;
</p>       
<p translate>4. A statement confirming that the claiming party has “good faith” that they have not authorized the use of the copyrighted material; </p>
                <p translate>5. A statement made under penalty of perjury that all supplied details regarding the alleged copyrighted content, authorization of any claiming 3rd party to act on behalf of owner of copyrighted content, contact details of the claiming party, and any other above information is accurate.</p>
                <p translate>If we receive a takedown notice in accordance with the above requirements, Belacam will attempt to notify the user(s) that uploaded content infringing upon the copyright that we will remove the content in question. Any of these users are allowed to deliver a counter-notice to Belacam (see procedure below). Habitual offenders that upload copyrighted content on a repeated basis will be disabled and swiftly removed.</p>
    
                <h3 translate>PROCEDURE TO DELIVER COUNTER-NOTICE:
</h3>
                <p translate>Any user that is confident that they have the right to use the removed content or that the content removed is not infringing on a copyright owned by copyright owner, the copyright owner’s agent, or pursuant to the law, the user may send a counter-notice comprised of the information below to the Designated Agent listed at the end of the section:</p>
                <p translate>1. A physical or electronic signature of the user; <br>
2. A location within the Belacam platform where the content existed before it was removed (a URL of the content) as well as a description of the removed content—we must be able to find the content; <br>
3. A statement claiming that the user has “good faith” that the content was removed due to an inaccurate understanding of the content’s identity or other mistake on the part of the Belacam team or claiming party; <br>
4. Contact details of the user filing the counter-notice (name, email address, telephone number, and physical mailing address); <br>
5. A statement consenting to the jurisdiction of the Federal Court for the district in which the user resides, or if the user resides outside of the United States, for the laws and regulations of the State of Delaware; <br>
6. A statement accepting service of process from the claiming party of the alleged infringement.</p>
                <p translate>If a counter-notice is received by the Designated Agent, Belacam will forward a copy of the counter-notice to the claiming party informing that Belacam may restore the content in question 10 days after the counter-notice has been received. The claiming party then must notify Belacam within those 10 days that the claiming party has filed further legal action relating to the copyrighted content in question. If Belacam does not receive the notification of legal action within that 10 day period, we may restore the content to Belacam the platform.
</p>
                <p translate>Please contact the Designated Agent for Belacam at mail@ambiafund.com or at: <br>
Belacam, Inc. <br>
1038 Wertland St. Ste. A <br>
Charlottesville, VA 22903
</p>
                <h3 translate>These Terms of Use are drafted in accordance with the laws of the State of Delaware. </h3>

              <p translate>The effective date of these Terms of Use is February 20th, 2018. The Terms of Use are subject to substantial change after the Gamma Early Access testing phase, and users may not be notified when changes are made.</p>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
