<!-- <div *ngIf="showLoader" class="loading"></div> -->
<div class="user-profile-contain">
  <div class="banner-sec">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">


          <div class="coverphotoholder">
            <a href="#" class="editcoverphotolink"(click)="selectCoverPic();false">
              <span id="edit_cover_icon" class="editcoverphoto" *ngIf="edit_clicked" translate>
                Change
              </span>
            </a>
            <input type="file" #coverfileInput (change)="coverFileChangeEvent($event)" name="cover_pic" style="position:absolute;top:-1000px;" />
            <a href="#" (click)="openCoverLightbox(coverImage.src);false">
              <img id="cover_image" [src]="cover_pic_url" class="img-responsive" #coverImage>
            </a>
          </div>


        </div>
      </div>


      <div class="row">

        <div class="col-md-12">


          <div class="profile-sec">
            <ul class="upper">
              <li>
                <div class="profile-pic">
                  <form id="edit_profile_pic">
                    <input type="file" #profilefileInput (change)="profileFileChangeEvent($event)" name="profile_pic"
                           style="width:0; height: 0; overflow: hidden;" accept="image/gif, image/jpeg, image/png" />
                  </form>

                  <div class="profilepicturecircle" *ngIf="requesting_user.id ==  user.id">
                    <span [innerHTML]="user.avatar"></span>

                    <a href="#" (click)="selectProfilePic();false">
                        <span id="edit_pic_icon" class="profilepicedit" *ngIf="edit_clicked" translate>
                          Change
                        </span>
                    </a>
                  </div>

                  <div class="profilepicturecircle" *ngIf="requesting_user.id !=  user.id">
                    <a class="btn-avatar-lightbox" href="#" (click)="openAvatarLightbox();false">
                      <span [innerHTML]="user.avatar"></span>
                    </a>

                  </div>

                  <div class="content2">
                    <form name="edit_username" id="edit_username" *ngIf="edit_username_clicked">
                      <br>
                      <input class="usernameinput" name="username" [placeholder]="'Enter your name'|translate"
                             [(ngModel)]="user.username">
                      <input class="savebutton" (click)="saveName($event);" type="button" value="Save">
                    </form>
                    <h2 class="profile-username">
                      {{ user.username }}
                      <a href="#" (click)="edit_username_clicked = !edit_username_clicked;false">
                        <span id="edit_username_icon" *ngIf="false">
                          <i class="usernameedit fa fa-pencil" aria-hidden="true"></i>
                        </span>
                      </a>
                    </h2>
                  </div>
                </div>
              </li>


            </ul>
            <div class="showonmobile mobilebio">


              <form class="clearfix" name="edit_bio" *ngIf="edit_bio_clicked">

                <textarea class="biotextarea"
                          name="bio"
                          [placeholder]="'Enter your bio'|translate"
                          [(ngModel)]="bio_in_edit" rows="3">{{ bio_in_edit }}</textarea>
                <input class="savebutton" (click)="saveBio($event);" type="button" value="Save">
                <input class="cancelbutton" (click)="cancelBioEdit($event);" type="button" value="Cancel">

              </form>

              <span class="commentspan">
                <app-dynamic-html class="user_bio" [innerHTML]="user.user1.bio|tagify"></app-dynamic-html>
              </span>

              <a href="#" *ngIf="edit_clicked && !edit_bio_clicked"
                 (click)="startBioEdit($event)">
                <span><i class="bioedit fas fa-pencil-alt" aria-hidden="true"></i></span>
              </a>

            </div>


            <a href="#" class="mobileseeall mfs1 mobilefollowerstat" data-toggle="modal" data-target=".followersbox2">
              <h4 class=""><strong>{{ followers_count }}</strong><br>
                <ng-container translate>Followers</ng-container>
              </h4>

            </a><a href="#" class="mobileseeall mfs2 mobilefollowerstat" data-toggle="modal" data-target=".followingbox2">
            <h4 class=""><strong>{{ followings_count }}</strong><br>
              <ng-container translate>Following</ng-container>
            </h4>
          </a>


            <ul class="userstatmobilerow">

              <li class="userstatmobile poststatmobile">
                <h3>{{ user.thought_count }}</h3>

                <h4>
                  <ng-template #posts>
                    {{'Post'|translate}}
                  </ng-template>
                  <ng-container *ngIf="user.thought_count>1; else posts">
                    {{'Posts'|translate}}
                  </ng-container>
                </h4>

              </li>


              <li class="userstatmobile">
                <h3>${{ user.earnings|number:'1.2-2' }}</h3>
                <h4 translate>Earnings</h4>
              </li>
              <li *ngIf="!loading && (requesting_user.id ==  user.id)">
                <a href="#" class="edit-profile" (click)="edit_clicked = !edit_clicked;false">

                  <span *ngIf="!edit_clicked"> {{'Edit Profile'|translate}}</span>
                  <span *ngIf="edit_clicked"> {{'Save'|translate}}</span>

                </a>
              </li>
              <ng-container *ngIf="!loading && (requesting_user.id !=  user.id)">
                <li *ngIf="!!requesting_user.id && !user.is_following">
                  <a href="#" class="edit-profile" (click)="follow(user);false">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'Follow'|translate}}
                  </a>
                </li>
                <li *ngIf="!!requesting_user.id && user.is_following">
                  <a href="#" class="edit-profile" (click)="unfollow(user);false">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'Unfollow'|translate}}</a>
                </li>
              </ng-container>

            </ul>
          </div>


        </div>

      </div>


    </div>
  </div>


  <div class="mid-con">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3 col-md-3 showonmobile">
          <div class="modal fade bs-example-modal-lg followersbox2" tabindex="-1" role="dialog"
               aria-labelledby="myLargeModalLabel">

            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <div class="white-box followerbox" infiniteScroll
                      [infiniteScrollDistance]="3"
                      [infiniteScrollThrottle]="1000"
                      (scrolled)="onFollowerScroll()"
                      [scrollWindow]="false">

                  <h4 class="followerboxheader">{{'Followers'|translate}} ({{ followers_count }})</h4>

                  <ul class="followerscroll">
                    <li *ngFor="let follower of followers">
                      <a [routerLink]="['/user/', follower.username]">
                        <span class="circlephoto" [innerHTML]="follower.avatar"></span><span class="modalusername">{{ follower.full_name }}</span>
                      </a>
                      <ng-container *ngIf="follower.id != requesting_user.id">
                        <a href="#" (click)="follow(follower);false"
                           *ngIf="!follower.is_following" class="followbtn">
                          {{'Follow'|translate}}
                        </a>
                        <a class="followingbtn"
                           *ngIf="(follower.id != requesting_user.id) && follower.is_following" href="#"
                           (click)="unfollow(follower);false">
                          {{'Following'|translate}}
                        </a>
                      </ng-container>
                    </li>
                  </ul>
                  <sk-three-bounce *ngIf="follow_loading == true"></sk-three-bounce>

                </div>
              </div>
            </div>
          </div>
          <div class="modal fade bs-example-modal-lg followingbox2" tabindex="-1" role="dialog"
               aria-labelledby="myLargeModalLabel">

            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <div class="white-box followerbox" infiniteScroll
                      [infiniteScrollDistance]="3"
                      [infiniteScrollThrottle]="1000"
                      (scrolled)="onFollowingScroll()"
                      [scrollWindow]="false">>

                  <h4 class="followerboxheader">Following ({{ followings_count }})</h4>

                  <ul class="followerscroll">
                    <li *ngFor="let following of followings">
                      <a
                        [routerLink]="['/user/', following.username]"><span
                        class="circlephoto"
                        [innerHTML]="following.avatar"></span><span class="modalusername">{{ following.full_name }}</span>
                      </a>
                      <a href="#" *ngIf="(following.id != requesting_user.id) && !following.is_following" class="followbtn"
                         (click)="follow(following);false" translate>Follow</a>

                      <a *ngIf="(following.id != requesting_user.id) && following.is_following"
                         href="#"
                         (click)="unfollow(following);false"
                         class="followingbtn" translate>Following</a>
                    </li>
                  </ul>
                  <sk-three-bounce *ngIf="follow_loading == true"></sk-three-bounce>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-lg-3 col-md-3 user-profile-left">
          <div class="white-box">
            <h4 translate>About Me</h4>
            <div class="about-box">
              <form class="clearfix" name="edit_bio" *ngIf="edit_bio_clicked">
                <br>
                <textarea class="biotextarea" name="bio" [placeholder]="'Enter your bio'|translate"
                          [(ngModel)]="bio_in_edit" rows="3">{{ user.user1.bio }}</textarea>
                <input class="savebutton" (click)="saveBio($event);" type="button" value="Save">
                <input class="cancelbutton" (click)="cancelBioEdit($event);" type="button" value="Cancel">
              </form>
              <span class="commentspan">
                <app-dynamic-html class="user_bio" [innerHTML]="user.user1.bio|tagify"></app-dynamic-html>
              </span>

              <a href="#" *ngIf="edit_clicked && !edit_bio_clicked"
                 (click)="startBioEdit($event)">
                  <span>
                    <i class="bioedit fas fa-pencil-alt" aria-hidden="true"></i>
                  </span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-md-6 middle-section" infiniteScroll [infiniteScrollDistance]="0.4"
             [infiniteScrollThrottle]="1000"
             (scrolled)="onScroll()" style="float:left;">

          <div class="user-profile-box hideonphones" *ngIf="requesting_user.id ==  user.id">
            <div class="hideonmobile panel with-nav-tabs">
              <div class="panel-heading">
                <ul class="uploadanimagebar nav nav-tabs">

                </ul>
              </div>

              <app-posting-form [requesting_user]="requesting_user" [thots]="thoughts"></app-posting-form>
            </div>
          </div>

          <div class="container-fluid feed-view-switch">
            <div class="row">
              <a class="col-xs-6 text-center btn-switch" [ngClass]="{'active': viewMode=='list'}" href="javascript:void(0)"
                 (click)="switchViewMode('list')">
                <i class="glyphicon glyphicon-th-list"></i>
              </a>
              <a class="col-xs-6 text-center btn-switch" [ngClass]="{'active': viewMode=='thumbnail'}" href="javascript:void(0)"
                 (click)="switchViewMode('thumbnail'); false;">
                <i class="glyphicon glyphicon-th"></i>
              </a>
            </div>
          </div>

          <ng-container *ngIf="viewMode == 'list'">
            <app-post-box *ngFor="let thot of thoughts; index as i" [user]="requesting_user" [thot]="thot" [index]="i" (delete)="delete($event)" (openThotBox)="openThotBox($event)"></app-post-box>
          </ng-container>

          <ng-container *ngIf="viewMode == 'thumbnail'">

            <div class="white-box clear-fix" *ngIf="thoughts.length > 0">

              <div class="col-xs-6 col-md-4 thumbnail-list-item" *ngFor="let thot of thoughts;index as i">

                <div class="thumbnail-img-container">
                  <a href="#" (click)="openThotBox(i);false">

                    <img class="thumbnail-img" *ngIf="showImage(thot)" [src]="thot.image"/>

                    <video controls *ngIf="showVideo(thot)" class="thumbnail-video" preload="metadata">
                      <source [src]="showVideo(thot)" type="video/mp4">
                    </video>

                    <span class="full-screen-btn">
                      <i class="fa fa-expand" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>

          </ng-container>

          <sk-three-bounce *ngIf="loading == true"></sk-three-bounce>

        </div>

        <div class="col-sm-3 col-lg-3 col-md-3 user-profile-left">
          <div class="white-box">
            <h4 class="text-center">
              <a class="header-link" data-toggle="modal" data-target=".followersbox">
                {{'Followers'|translate}} ({{ followers_count }})
              </a>
            </h4>
            <div class="follow-box">
              <ul>
                <li *ngFor="let follower of followers.slice(0,15)">
                  <a [routerLink]="['/user/', follower.username]">
                    <span class="circlephoto" [innerHTML]="follower.avatar"></span>
                  </a>
                </li>
              </ul>
            </div>
            <h5 *ngIf="followers_count!=0">
              <a data-toggle="modal" data-target=".followersbox" translate>See All</a>
            </h5>

            <div class="modal fade bs-example-modal-lg followersbox" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel">

              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="white-box followerbox" infiniteScroll
                      [infiniteScrollDistance]="3"
                      [infiniteScrollThrottle]="1000"
                      (scrolled)="onFollowerScroll()"
                      [scrollWindow]="false">

                    <h4 class="followerboxheader">{{'Followers'|translate}} ({{ followers_count }})</h4>

                    <ul class="followerscroll">
                      <li *ngFor="let follower of followers">
                        <a [routerLink]="['/user/', follower.username]">
                          <span class="circlephoto" [innerHTML]="follower.avatar"></span><span class="modalusername">{{ follower.full_name }}</span>


                        </a>
                        <ng-container *ngIf="follower.id != requesting_user.id">
                          <a *ngIf="!follower.is_following"
                             href="#"
                             (click)="follow(follower);false"
                             class="followbtn" translate>Follow</a>

                          <a *ngIf="follower.is_following"
                             href="#"
                             (click)="unfollow(follower);false"
                             class="followingbtn" translate>Following</a>
                        </ng-container>

                      </li>
                    </ul>
                    <sk-three-bounce *ngIf="follow_loading == true"></sk-three-bounce>

                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="white-box">
            <h4 class="text-center">
              <a class="header-link" data-toggle="modal" data-target=".followingbox">
                {{'Following'|translate}} ({{ followings_count }})
              </a>
            </h4>
            <div class="follow-box">
              <ul>
                <li *ngFor="let following of followings.slice(0,15)">
                  <a [routerLink]="['/user/', following.username]">
                    <span class="circlephoto" [innerHTML]="following.avatar"></span>
                  </a>
                </li>

              </ul>
            </div>
            <h5 *ngIf="followings_count!=0">
              <a data-toggle="modal" data-target=".followingbox" translate>See All</a>
            </h5>

            <div class="modal fade bs-example-modal-lg followingbox" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel">

              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="white-box followerbox" infiniteScroll
                      [infiniteScrollDistance]="3"
                      [infiniteScrollThrottle]="1000"
                      (scrolled)="onFollowingScroll()"
                      [scrollWindow]="false">>

                    <h4 class="followerboxheader">Following ({{ followings_count }})</h4>

                    <ul class="followerscroll">
                      <li *ngFor="let following of followings"><a
                        [routerLink]="['/user/', following.username]"><span
                        class="circlephoto"
                        [innerHTML]="following.avatar"></span><span class="modalusername">{{ following.full_name }}</span>
                      </a>
                        <ng-container *ngIf="(following.id != requesting_user.id)">
                          <a href="#"  *ngIf="!following.is_following"
                             class="followbtn"
                             (click)="follow(following);false" translate>Follow</a>

                          <a *ngIf="following.is_following"
                             href="#"
                             class="followingbtn"
                             (click)="unfollow(following);false" translate>Following</a>
                        </ng-container>

                      </li>
                    </ul>
                    <sk-three-bounce *ngIf="follow_loading == true"></sk-three-bounce>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
