<div class="discover-box">
  <div class="panel with-nav-tabs">


    <div class="panel-heading">

      <ul class="nav nav-tabs">
        <li class="discoverheader hidden">
          <a href="#" data-toggle="tab" translate>Discover</a>
        </li>

        <li class="active">
          <a href="#photosdefault" data-toggle="tab" (click)="change_tab('photo')">
           <i class="fas fa-camera-retro lightningbolt"></i>
            <span class="hideonphones" translate>&nbsp;&nbsp;&nbsp;Photos</span>
          </a>
        </li>
        <li>
          <a href="#peopledefault" data-toggle="tab" (click)="change_tab('people')">
           <i class="fas fa-users lightningbolt"></i>
            <span class="hideonphones" translate>&nbsp;&nbsp;&nbsp;People</span>
          </a>
        </li>
        <li>
          <a href="#tagsdefault" data-toggle="tab" (click)="change_tab('tag')">
            <i class="fas fa-hashtag lightningbolt"></i>
            <span class="hideonphones" translate>&nbsp;&nbsp;&nbsp;Tags</span></a></li>

      </ul>
    </div>


    <div class="panel-body">

      <div class="tab-content">


        <div class="tab-pane fade in active endless_page_template" id="photosdefault" style="float: left; width: 100%;">
          <app-photos [user]="user" [hidden]="tab_name!='photo'"></app-photos>
        </div>

        <div class="tab-pane fade endless_page_template" style="float:left;width:100%;"
             id="peopledefault">
          <app-people [user]="user" [hidden]="tab_name!='people'"></app-people>
        </div>

        <div class="tab-pane fade endless_page_template" id="tagsdefault">
          <app-tags [user]="user" [hidden]="tab_name!='tag'"></app-tags>
        </div>

      </div>

    </div>

  </div>
</div>
