<div class="modal bs-example-modal-lg imagemodal">
  <div class="modal-dialog ">
    <div class="modal-content ">

      <div class="white-box">
        <div class="user-post">
          <div class="user-post-left">
            <span class="avatar-wrapper" [innerHTML]="thot.avatar"></span>
            <h4>@{{thot.username }}<span>{{ preview.created_at|messageTime }} </span></h4>
          </div>

          <div class="user-post-right">


            <div class="dropdown show hidden">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


                <li class="noti"><img src="https://s3.amazonaws.com/bellassets/assets/images/notification-icon.png"/></li>
              </a>

              <div class="dropdown-menu report-menu" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-caret">
                  <div class="caret-outer"></div>
                  <div class="caret-inner"></div>
                </div>
                TEST THIS OUT
              </div>

            </div>

            <a href="#"><img src="https://s3.amazonaws.com/bellassets/assets/images/doted-icon.png"/></a>
          </div>

        </div>
        <p>{{ preview.content }}</p>
        <img [src]="thot.preview[0].image"/>
        <ul class="like-box">
          <li>
            <a class="" href="#">
              <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ preview.total_likes_count }}  {{'Likes'|translate}}
            </a>
          </li>

          <li class="postearnings">
            <label data-toggle="tooltip" [title]="'Estimated Post Earnings'|translate">
              <a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> {{ preview.earnings|number:'1.2-2' }}</a>
            </label>
          </li>
        </ul>




        <div class="comment-boxes">


          <div class="reply-box">
            <div class="reply-box-left">
              <img src="https://s3.amazonaws.com/bellassets/assets/images/follow-img-10.png"/>
            </div>
            <div class="reply-box-right">
              <h4>@rickyherish</h4>
              <h5>2  mins ago</h5>
              <p translate>Awesome shot! Love the tie dye shirt, it really makes the photo</p>

            </div>
          </div>
          <div class="reply-box reply-box2">
            <div class="reply-box-left">
              <img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img3.png"/>
            </div>
            <div class="reply-box-right">
              <h4>@billyfitch</h4>
              <h5>2  mins ago</h5>
              <p>Is this in Westend Park, Chicago? I remember playing in those fountains when I was a kid!</p>

            </div>
          </div>
          <div class="viewcoment-box">
            <a href="#">View more comments  +</a>
          </div>

          <img src="https://s3.amazonaws.com/bellassets/assets/images/jems-img.png"/>

          <form>
            <textarea type="text" [placeholder]="'Add a comment...'|translate"></textarea>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
