<div infiniteScroll
     [infiniteScrollDistance]="0.4"
     [infiniteScrollThrottle]="1000"
     (scrolled)="onPeopleScroll()">
  <div *ngFor="let user of people" class="discover-small white-box">

    <div class="user-name table">
      <div class="user-flower clearfix">

        <a href="#" [routerLink]="['/user/', user.username]" >
          <div class="user-post-left">
            <span class="circlephoto avatar-wrapper" [innerHTML]="user.avatar"></span>
            <h4 >{{ user.username }}<span class="block">{{'Earnings'|translate}}: ${{user.earnings|number:'1.2-2'}}</span></h4>
          </div>
        </a>

      </div>

      <ng-container>
        <div *ngIf="!user.is_following" class="follow notfollowing">
          <a href="#" (click)="follow(user);false" translate>Follow</a>
        </div>


        <div *ngIf="user.is_following" class="follow following">
          <a href="#" (click)="unfollow(user);false" translate>Following</a>
        </div>
      </ng-container>

    </div>

    <div class="row threetags">
      <div *ngFor="let preview of user.album; let i=index" class="threetagslink">

        <a data-toggle="modal" data-target="#peopleimage1-{{user.username}}" (click)="openPostBox(user.album, i);false">
          <img class="threetagsimage" src="{{preview.src}}" />
        </a>

      </div>

    </div>

  </div>
  <sk-three-bounce *ngIf="loading == true"></sk-three-bounce>
</div>
