.discoverpeopleli{

  width: 32% !important;
  position: relative !important;
  overflow: hidden;
  background-position: center center;
  background-size: cover;

}

.discoverpeopleli:after {
  content: "" !important;
  display: block !important;
  padding-bottom: 100% !important;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
  opacity: 0.5 !important;
}
