.lightboxmodal .comment-boxes{

  overflow: scroll;
  height: 200px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.inlinecomment{
  margin-top: -10px;
  margin-left: -25px;
  padding-left: 25px;
  margin-bottom: -10px;
  line-height: 25px !important;
  height: 55px;
  background: none;
  width: calc(100% - 75px);
}

.commentsubmit{
  background: #FFF;
  color: #F87433;
  border: 2px solid #F87433;
  padding: 5px 10px 5px 10px;
  float: right;
  border-radius: 5px;
  vertical-align: top;
}
