<div infiniteScroll
     [infiniteScrollDistance]="0.4"
     [infiniteScrollThrottle]="1000"
     (scrolled)="onPhotoScroll()" style="float:left;width:100%;">
  <div class="row sortrow">
    <div class="dropdown">
      <button onclick="dropdownSort()" class="dropbtn">
      <span>
        <i class="fa fa-fire" aria-hidden="true"></i>
        &nbsp;Hot&nbsp;
      </span>
        <i class="fa fa-angle-down" aria-hidden="true"></i></button>
      <div id="dropdownsort" class="dropdown-content dropdown-content-sort">
        <a href="#" onClick="select_sort_btn(this);false" (click)="sort_by_hot();false" class="hide" translate><i class="fa fa-fire" aria-hidden="true"></i> &nbsp;Hot&nbsp;</a>
        <a href="#" onClick="select_sort_btn(this);false" (click)="sort_by_new();false" translate> <i class="fa fa-hourglass"></i> &nbsp;New&nbsp;</a>
        <a href="#" onClick="select_sort_btn(this);false" (click)="sort_by_likes();false" translate><i class="fa fa-heart"></i> &nbsp;Most Liked&nbsp;</a>
      </div>
    </div>


    <div class="dropdown" *ngIf="select_most_liked">
      <button onclick="dropdownTime()" class="dropbtn">
        <i class="fa fa-clock" aria-hidden="true"></i>
        <span>
        &nbsp;Today&nbsp;
        </span>
        <i class="fa fa-angle-down" aria-hidden="true"></i></button>
      <div id="dropdowntime" class="dropdown-content dropdown-content-time">
        <a href="#" onClick="select_sort_btn(this);false" (click)="sort_by_likes('today');false" class="hide" translate>Today</a>
        <a href="#" onClick="select_sort_btn(this);false" (click)="sort_by_likes('week');false" translate>This Week</a>
        <a href="#" onClick="select_sort_btn(this);false" (click)="sort_by_likes('month');false" translate>This Month</a>
        <a href="#" onClick="select_sort_btn(this);false" (click)="sort_by_likes('all');false" translate>All Time</a>
      </div>
    </div>
  </div>

  <app-post-box *ngFor="let thot of bellas;index as i" [thot]="thot" [user]="user" [index]="i" (delete)="delete($event)" (openThotBox)="openPostBox($event)"></app-post-box>
  <sk-three-bounce *ngIf="loading == true"></sk-three-bounce>
</div>
