<div infiniteScroll
     [infiniteScrollDistance]="0.4"
     [infiniteScrollThrottle]="1000"
     (scrolled)="onTagScroll()" class="d-tags-container">

  <div *ngFor="let tag of tags" class="discover-smmal white-box">


    <div class="col-sm-12 col-lg-12 col-md-12 user-post-left">

      <div class="tagsheader">
        <a [routerLink]="['/discover/', tag.tag]">
          <i class="fas fa-hashtag lightningbolt"></i>
          <h4 class="trendingtags"><span class="bold">#{{ tag.tag }}</span>
            <span class="block"> {{tag.posting_count}}
                      <ng-template #posts>
                       {{'Post'|translate}}
                      </ng-template>
                      <ng-container *ngIf="tag.posting_count!=1; else posts">
                        {{'Posts'|translate}}
                      </ng-container>
                    </span>
          </h4>
        </a>
        <a href="#" [routerLink]="['/discover/',tag.tag]" class="viewall">View All</a>
      </div>



    </div>

    <a class="maintaglink" href="#" (click)="openPostBox(tag, 0);false">
      <img class="maintagimage" [src]="tag.preview[0].image"/>
    </a>

    <div class="row threetags">
      <a class="threetagslink" href="#" *ngFor="let preview of tag.preview.slice(1,4) ; let i=index;"
         (click)="openPostBox(tag, i+1);false">
        <img class="threetagsimage" [src]="preview.image"/>
      </a>
    </div>


  </div>

  <sk-three-bounce *ngIf="loading == true"></sk-three-bounce>
</div>
