<div class="top-search-box">
  <div class="panel with-nav-tabs">

    <div class="panel-body">

      <div class="tab-content">

        <div class="white-box">
          <h3>Users</h3>
          <ng-container *ngFor="let item of items">
            <a href="#" *ngIf="item.type=='relevant_user'" [routerLink]="['/user/', item.username]">
              <li class="clearfix">
                <span class="item-user-info"><span class="item-fullname">{{ item.full_name }}</span> <span
                    class="item-username">@{{ item.username }}</span></span>
                <span class="pullright">(${{ item.earnings|number:'1.2-2' }} earned)</span>
              </li>
            </a>
          </ng-container>
        </div>

        <div class="white-box">
          <h3>Hashtags</h3>
          <ng-container *ngFor="let item of items">
            <a href="#" *ngIf="item.type=='relevant_tag'" [routerLink]="['/discover/', item.name]">
              <li class="clearfix">#{{ item.name }}<span
                  class="pullright">({{ item.num_items }} {{ 'posts'|translate }}) </span></li>
            </a>
          </ng-container>
        </div>

      </div>

    </div>

  </div>
</div>
