{% extends 'base.html' %}

{% block content %}

  <legend>Forgot password</legend>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form }}
    </div>
    <div class="form-group">
     <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
{% endblock %}
