{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form }}
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Change password</button>
      </div>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
