<div class="col-sm-6 col-lg-6 col-md-6 search-form-box show">
  <form name="msearch" id="msearch" #searchForm>

    <input id="mobilesearch1" type="text" (keyup)="search($event.target.value)" (keyup.enter)="search($event.target.value)" placeholder=" Search users or tags" #mterm autocomplete="off" autocapitalize="none" />
    <input type="submit" value="" (click)="goToTopSearch()" onclick="mobileSearch()">
    <ul class="msearchresults">
      <ng-container *ngFor="let item of items">
        <a href="#" *ngIf="item.type=='user'" [routerLink]="['/user/', item.username]" onclick="mobileSearch()">
          <li>
            <span class="item-user-info"><span class="item-fullname">@{{item.username}}</span> </span>
            <div class="item-user-earning">${{item.earnings|number:'1.2-2'}} earned</div>
            <div class="item-social-context">
              {{item.social_context}}
            </div>
          </li>
        </a>
      </ng-container>
      <ng-container *ngFor="let item of items">
        <a href="#" *ngIf="item.type=='tag'" [routerLink]="['/discover/', item.name]" onclick="mobileSearch()">
          <li>#{{item.name}}<span class="pullright">({{item.num_items}} {{'posts'|translate}})</span>
          </li>
        </a>
      </ng-container>

    </ul>

  </form>
  <app-trending [trending]="trending"></app-trending>
  <app-growth [growth]="growth"></app-growth>
</div>
