<div class="col-sm-6 col-lg-6 col-md-6 search-form-box">

  <form name="search" id="search" class="dropdown" title="Search a user or tag" #searchForm
        [ngClass]="{'open': showSuggestions}">

    <input
      id="desktopsearch"
      type="text"
      (keyup)="search($event.target.value)"
      (keyup.enter)="search($event.target.value)"
      [placeholder]="'Search users or tags'|translate"
      #term
      autocomplete="off" />
    <input type="submit" value="" (click)="goToTopSearch()">
    <div class="searchresults-wrapper dropdown-menu">
      <div class="search-backdrop" (click)="hideSuggestions()"></div>
      <div class="dropdown-caret">
        <div class="caret-outer"></div>
        <div class="caret-inner"></div>
      </div>
      <ul class="searchresults">
        <ng-container *ngFor="let item of items">
          <a href="#" *ngIf="item.type=='user'" [routerLink]="['/user/', item.username]" (click)="handleSelectItem()">
            <li class="clearfix">
              <span class="item-user-info"><span class="item-fullname">@{{item.username}}</span> </span>
              <span class="pullright">(${{item.earnings|number:'1.2-2'}} earned)</span>
              <div class="item-social-context">
                {{item.social_context}}
              </div>
            </li>
          </a>
        </ng-container>
        <ng-container *ngFor="let item of items">
          <a href="#" *ngIf="item.type=='tag'" [routerLink]="['/discover/', item.name]" (click)="handleSelectItem()">
            <li class="clearfix">#{{item.name}}<span class="pullright">({{item.num_items}} {{'posts'|translate}}) </span></li>
          </a>
        </ng-container>
      </ul>

    </div>

  </form>

</div>
