<div class="modal-dialog modal-m">
  <div class="modal-content">

    <div class="white-box followerbox">

      <h4 class="followerboxheader">Views ({{ thot.views.length }})</h4>

      <ul class="followerscroll">
        <li *ngFor="let view of thot.views">

          <a [routerLink]="['/user/', view.username]">
            <span class="circlephoto" [innerHTML]="view.avatar"></span> @{{view.username}}
          </a>

          <a  href="#"
              (click)="follow(view);false"
              *ngIf="(!user || view.id != user.id) && !view.is_following"
              class="followbtn" translate>Follow</a>

          <a *ngIf="(!user || view.id != user.id) && view.is_following"
             href="#" (click)="unfollow(view);false"
             class="followingbtn" translate>Following</a>
        </li>
      </ul>

    </div>
  </div>
</div>
