.show{
    display: block !important;
}

.hide{
    display: none;
}

.disabled_button{
    background-color: #F2F2F2 !important;
    color: #929292 !important;
    border: 2px solid #F2F2F2 !important;
    transition-duration: 1s;
    cursor: default !important;

}

.form_logo{
    width: 60%;
    display: block;
    margin: 10px auto;
}

.close{
    cursor: pointer;
    border: 2px solid Blue;
}

.signup_title{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    
    margin-bottom: 20px;
    color: #2F3338;
}

.accept_the_terms{
    color: #999;
    width: 80%;
    margin: 0 auto;
}


.signup_form input {
    border-radius: 5px;
    border: 1px solid silver;
    color: #000;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-family: sans-serif;
    width: 80%;
    display: block;
}

.animation-side{
    width: 50%;
    float: left;
    height: 100vh;
    font-family: sans-serif;
    background-color: #EEF2F6;
}



.signup-side{
background-color: #FFFFFB;
    width: 50%;
    float: right;
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
    display: flex;
  justify-content: center;
  align-items: center;
    
    background: linear-gradient(to top, #EEF2F6 0%, #FFFFFB 15%);
}

.signup_form{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}


.sack {
  width: 500px;
  height: 500px;
  background: url('https://s3.amazonaws.com/bellassets/assets/images/spritepack.png') left -200px center;
    display: block;
    margin: 0 auto;
}

#sack_background{
    display: block;
    margin: 0 auto;
   width: 550px;
    height: 550px;
    margin-top: 50px;
    margin-bottom: -550px;
    top: 0;
    background-image: url('https://s3.amazonaws.com/bellassets/assets/images/icons.png');
    background-size: contain;
}



.sack_tag{
    font-weight: 100;
    text-align: center;
}

#sack_tag_balance{
    display: none;
}

.prelim_sack_tag{
    font-weight: 100;
    text-align: center;
}

.continue_text{
    font-weight: 100;
    text-align: center;
    color: #666;
}

.green_font{
    color: #4BA068;
}

.playit{
     animation: play .6s steps(21) 1;
}

@keyframes play {
   100% { background-position-x: -19100px; }
}







  .homepageheader {
    display: block;
    border: none;
    height: 120px;
    background-color: Transparent;
    padding: 20px 40px 20px 40px;
  }

  .logo_link:hover {
    text-decoration: none;
  }

  .logo {
    display: none;
    width: 50px;
    vertical-align: top;
  }

  .web_name {
    display: inline-block;
    color: #FFF;
    vertical-align: top;
    margin: 0 auto;
    line-height: 50px;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
    font-size: 35px;
  }

  .explore_belacam {
    display: inline-block;
    color: #FFF;
    vertical-align: top;
    margin: 0 auto;

    height: 50px;
    padding: 0px 10px 0px 10px;
    font-weight: 600;

  }

  .explore_belacam h2 {
    line-height: 50px;

    margin: 0 auto;
    font-size: 20px;
    font-weight: 900;
  }

  .language_button{
    position: absolute;
      top: 20;
      right: 125;
      width: 70px;
      text-align: center;
      font-weight: 600;
  }
 
  #language_dropdown{
      position: absolute;
      top: 70;
      right: 125;
      width: 70px;
      text-align: center;
      border: 2px solid #F87433;
      background: #FFF;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      vertical-align: top;
      font-size: 18px;
      line-height: 30px;
  }
 
  #language_dropdown a{
      color:#F87433;
  }
 
  #language_dropdown a:hover{
      color: #FFF;
      text-decoration: none;
  }
 
  #language_dropdown:hover{
      color: #FFF !important;
      cursor: pointer;
      background-color: #F87433;
  }

.login_button{
    position: absolute;
    top: 20;
    right: 40;
}

.login_button:hover, .language_button:hover{
    cursor: pointer;
}


  .submitbutton {
    font-size: 18px;
    line-height: 30px;
    margin-top: 3px !important;
  }



  .reset_password {
    display: block;
    color: #F87433;
      margin-top: 30px;
      margin: 0 auto;
      font-size: 16px;
      margin-top: 25px;
  }

  .hook_em_in {
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    color: #FFF;
  }

  .hook_title {
    font-size: 45px;
    font-weight: 600;
    max-width: 100vw;
    padding-bottom: 30px;
    margin: 0 auto;

  }


  .signup_form h2 {
    font-weight: 600;
    color: #F87433;

  }

  .signup_form input {
    border: 1px solid Green;
  }

  ul.errorlist {
    color: red !important;
  }

  ul.errorlist li {
    font-weight: 700;
  }

.input-div{
        display: block;
    position: relative;
    vertical-align: top;
}

  .revealpassword {
    position: absolute;
    background: #FFF;
    color: #F87433;
    border: 2px solid #F87433;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    vertical-align: top;
    margin-top: 5px;
    right: 11%;
    cursor: pointer;
  }

  .revealpassword:hover {
    background: #F87433;
    color: #FFF;
    text-decoration: none;
  }

  .signup_form input{
      display: block;
      margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    color: #000000;

    padding: 10px;
    margin-bottom: 7px;

    font-size: 16px;
    font-family: 'proximanovalight';
  }


  #signup_submit {
    border: 2px solid #F87433;
    display: block;
    margin: 0 auto;
    clear: both;
    float: none;
      font-size: 20px;
      color: #FFF;
      background-color: #F87433;
      transition-duration: 1s;
  }

#signup_submit:hover{
    
}

  .accept_the_terms {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
  }

.about_text{
    text-align: left !important;
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #999;
}

  .Form-label-tick {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
  }

  .Form-label-checkbox:checked + .Form-label-text::before {
    background-color: lightgreen;
    border: 1px solid #CCC !important;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f058";
  }

  .Form-label-checkbox + .Form-label-text::before {
    border-radius: 5px;
    font-size: 18px !important;
    line-height: 1.6;
    background-clip: border-box;
  }

  .hidethisw {
    color: inherit !important;
    font-weight: inherit !important;
  }

  .footerrow {
    display: block;
    width: 100%;
    text-align: center;
    clear: both;
    padding-top: 10px;
    margin-bottom: 50px;
  }

  .footerrow a {
    color: #F87433;
  }

  .footerrow li {
    display: inline-block;
    padding-top: 20px;
    padding: 5px;
  }

  .signup-box {
    padding-top: 0px;

  }

  .infopart {
    background-size: cover !important;
    height: 100%;
    /*background: #7B6F6C; */

  }

  .infopart h1 {
    font-size: 100px;
    font-weight: 600;
  }

  .loginpart {
    float: right;
    background-color: #FAFCFF;
    height: 100%;
    padding: 0px !important;
  }

  .infofont {
    font-size: 22px !important;
  }


  .insta-form h4 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    color: #F97B45;
    font-weight: 600;
  }

  .tab-pane {
    margin-top: 0px !important;

  }

  .orange {
    color: #F97B45;
  }

  .signup-box {
    position: relative;
  }

  .fholder {
    width: calc(100% - 70px);
    padding-right: 10px;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
  }

  .fholder hr {
    margin-bottom: 60px;

  }

  .footerhelper {
    text-align: center;
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -20px;
  }

  #mc_embed_signup {
    padding: 10px;
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;

    text-align: center;

  }

  #mc_embed_signup form {
    padding: 0px !important;
  }

  #mc_embed_signup_scroll {
    height: 50px;

  }

  .preemail {
    width: 100% !important;

    height: 50px !important;
    font-size: 18px !important;
    margin-top: 20px !important;
    margin-bottom: 40px !important;
  }

  .loginrow {

    margin: 0 auto;
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: -10px;

  }

  .loginrow a {
    font-size: 20px;
    border-radius: 5px;
    color: #F87433;
  }

  .loginrow a:hover {
    text-decoration: underline;
  }

  .exit_login {
    display: none;
  }

  .explore_belacam_mobile {
    display: none;
  }

  .mobile_log_in {
    display: none;
  }

  @media only screen and (max-width: 830px) {
    .explore_belacam h2 {
      font-size: 16px;

    }

  }


  @media only screen and (max-width: 799px) {
      .animation-side{
          display: none;
      }
      
      .signup-side{
          width: 100%;
      }
      
    .mobile_log_in {
      display: inline-block;
      float: right;
    }

    .mobile_log_in:hover {
      cursor: pointer;
    }

    #login a:hover {
      cursor: pointer;
    }

    .explore_belacam_mobile {
      display: inline-block;
      float: right;
    }

   .signup_form{
    width: 90%;
   
}

    
  }



  @media only screen and (max-width: 650px) {
    .signup_form div.input-div {
      display: block;
      position: relative;
    }

    .signup_form input {
      display: block;
      width: 80%;
      margin: 0 auto !important;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }

    .revealpassword {
      float: right;
        right: 12%;
    }

  }
#login {
      z-index: 999;
      display: none;
      width: 100%;
      position: absolute;
      text-align: center;
      background-color: #FFF;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
    }



    .exit_login {
      display: block;
      position: absolute;
      float: right;
      top: 15px;
      right: 20px;
      font-size: 50px;
        cursor: pointer;
      color: #F87433;
        
    }

    #login h1 {
      margin-top: 100px;
      color: #F87433;
    }

    .logininput { 
    width: 80%;
    display: block !important;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;

    border: 1px solid #c0c0c0;
    color: #000000;
    padding: 10px;
    font-size: 16px;
    font-family: 'proximanovalight';
    margin-top: 10px;
    margin-bottom: 10px;
    }

    .reset_password {
      clear: both;
      width: 100%;
      display: block;

    }

    #login .submitbutton {

      float: none;
    }
  @media only screen and (max-width: 500px) {
      .signup-side{
          padding: 0px !important;
      }
      
      
      .signup_title{
          
          width: 100%;
      }
      
      .about_text{
          font-size: 16px;
          width: 100%;
      }

    .revealpassword {
      float: right;

    }
  }

  @media only screen and (max-width: 360px) {
      .signup_title{
          display: none;
      }
      
      

    .explore_belacam h2 {
      width: 50px;
      line-height: 16px;
      margin-right: 20px;
      margin-top: 10px;
      text-align: center;
    }
  }

  .orange_background {
      height: 100vh;
      display: block;
    position: relative;
    padding-bottom: 200px;
  }

  .about_belacam {
      display: block;
    max-width: 1100px;
    background-color: #FFF;
    border-radius: 25px;
    margin: 0 auto;
      margin-top: 30px;
    padding: 30px;
    margin-bottom: 50px;
  }

  .about_belacam a:hover {
    cursor: pointer;
  }

  .about_belacam .submitbutton {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 250px;
  }

  .about_belacam .submitbutton:hover {
    text-decoration: none !important;
  }

  .about_belacam img {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    display: block;
  }

  .about_belacam h1, .about_belacam h2, .about_belacam h3 {
    text-align: center;
    color: #F87433;
    font-weight: 900;
  }

  .about_belacam p {
    font-size: 22px;
    font-weight: 200;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .left_align {
    text-align: left !important;
  }

