<div class="alert fade in alert-danger" *ngIf="alert_message">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ alert_message }}
</div>
<div class="orange_background">

    <form id="login" class="hide" role="form" (ngSubmit)="signin($event);false">
      

      <a (click)="showLogin()"><i class="fas fa-times exit_login"></i></a>
      <h1 *ngIf="!languageToggle">Login</h1>
      <h1 *ngIf="languageToggle">Входите</h1>
      

      <input class="logininput" *ngIf="!languageToggle" type="text" placeholder="Username" name="signin_username" [(ngModel)]="signin_username">
      <input class="logininput" *ngIf="languageToggle" type="text" placeholder="Имя пользователя" name="signin_username" [(ngModel)]="signin_username">

      <input class="logininput" *ngIf="!languageToggle" type="password" placeholder="Password" name="signin_password"  [(ngModel)]="signin_password">
      <input class="logininput" *ngIf="languageToggle" type="password" placeholder="Пароль" name="signin_password"  [(ngModel)]="signin_password">

      <input class="submitbutton" *ngIf="!languageToggle" type="submit" value="Log in" name="login-form">
      <input class="submitbutton" *ngIf="languageToggle" type="submit" value="Вход" name="login-form">


      <a class="reset_password" href="#" [routerLink]="['/password_reset']" *ngIf="!languageToggle">Reset Password</a>

      <a class="reset_password" href="#" [routerLink]="['/password_reset']" *ngIf="languageToggle">Сброс пароля</a>
    </form>

    <div class="animation-side">
    <div class="sack_wrapper">
       <div id="sack_background"></div>
    <div class="sack" id="sack"></div>

        <h1 class="prelim_sack_tag" *ngIf="!languageToggle">Sign up to <span class="green_font" >get paid</span></h1>

        <h1 class="prelim_sack_tag" *ngIf="languageToggle"> Регистрируйтесь и <span class="green_font" > зарабатывайте!</span></h1>

        <div id="sack_tag_balance">
        
        <h1 class="sack_tag" *ngIf="!languageToggle">You have earned <span class="green_font">$</span><span id="balance_counter" class="green_font">.00</span></h1>
        
        <h1 class="sack_tag" *ngIf="languageToggle">Вы получили <span class="green_font">$</span><span id="balance_counter" class="green_font">.00</span></h1>

        <h3 class="continue_text" *ngIf="!languageToggle">Continue to Belacam for more earnings!</h3>

        <h3 class="continue_text" *ngIf="languageToggle">Войдите в Belacam чтобы заработать больше!</h3>
            
            </div>
     </div>   
</div>

  


  <div class="signup-side">
    
      <a class="submitbutton language_button" (click)="showLanguage()">
        <span id="current_language" *ngIf="!languageToggle">En</span> 
        <span id="current_language" *ngIf="languageToggle">Ru</span>
        <i class="fas fa-angle-down"></i>
      </a>
       
      <ul id="language_dropdown" class="hide">
      <a (click)="switchLanguage()" id="language-option">
        <li *ngIf="!languageToggle">Ru</li>
        <li *ngIf="languageToggle">En</li>
      </a>
      </ul>
<a class="submitbutton login_button" (click)="showLogin()" *ngIf="!languageToggle">Log In</a>
<a class="submitbutton login_button" (click)="showLogin()" *ngIf="languageToggle">Вход</a>
<!--<a class="submitbutton login_button"  (click)="switchLanguage()">EN</a>-->




    <form class="signup_form" role="form" method="post">
        
        
 <a href="#" [routerLink]="['/discover']" class="Explore Belacam"><img class="form_logo" src="https://s3.amazonaws.com/bellassets/assets/images/belacamo.png" /></a>
        
        
      <h1 class="signup_title" style="font-size: 26px;" *ngIf="!languageToggle">Make Your Free Account</h1>

      <h3 class="signup_title" style="font-size: 23px;" *ngIf="languageToggle">Создайте аккаунт бесплатно</h3>

        <p class="about_text" style="font-size: 18px" *ngIf="!languageToggle">Belacam is a site where you earn money for sharing content that becomes popular. The more likes you get, the more you earn! </p>
        
        <p class="about_text" style="font-size: 14px" *ngIf="languageToggle">Belacam - это сайт, где вы зарабатываете деньги, размещая фото и видео, интересные вам и другим пользователям. Чем больше лайков вы получите, тем больше заработаете!</p>

          
        <div class="input-div">
          <input (focusout)="focusOutEmail()" *ngIf="!languageToggle" id="signup_email" name="signup_email" placeholder="Email" required="required" tabindex="1" type="text" aria-required="true" aria-invalid="false" [(ngModel)]="signup_email" tabindex=1 >
          
          <input (focusout)="focusOutEmail()" *ngIf="languageToggle" id="signup_email" name="signup_email" placeholder="Адрес эл.почты" required="required" tabindex="1" type="text" aria-required="true" aria-invalid="false" [(ngModel)]="signup_email" tabindex=1 >
        </div>
          
          
          
        <div class="input-div">
          <input (focusout)="focusOutUsername()" *ngIf="!languageToggle" id="signup_username" name="signup_username" maxlength="100" placeholder="Username" required="required" tabindex="2" type="text" aria-required="true" aria-invalid="false" [(ngModel)]="signup_username" tabindex=2 >
          
          <input (focusout)="focusOutUsername()" *ngIf="languageToggle" id="signup_username" name="signup_username" maxlength="100" placeholder="Имя пользователя" required="required" tabindex="2" type="text" aria-required="true" aria-invalid="false" [(ngModel)]="signup_username" tabindex=2 >
        </div>
          
        <div class="input-div">
            
                  <a class="revealpassword" *ngIf="!languageToggle" (click)="$event.preventDefault();togglePassword($event)">Show</a>

                  <a class="revealpassword" *ngIf="languageToggle" (click)="$event.preventDefault();togglePassword($event)">Показать</a>
            
          <input (focusout)="focusOutPassword()" *ngIf="!languageToggle" id="signup_password" name="signup_password" placeholder="Password" required="required" tabindex="3" type="password" aria-required="true" aria-invalid="false" [(ngModel)]="signup_password" tabindex=3 >

          <input (focusout)="focusOutPassword()" *ngIf="languageToggle" id="signup_password" name="signup_password" placeholder="Пароль" required="required" tabindex="3" type="password" aria-required="true" aria-invalid="false" [(ngModel)]="signup_password" tabindex=3 >
            
           
        </div>
        <re-captcha size="invisible" #captchaRef="reCaptcha" (resolved)="$event && signup($event)"></re-captcha>

    
    <input *ngIf="!languageToggle" class="disabled_button submitbutton" id="signup_submit" type="submit" value="Sign Up"  (click)="$event.preventDefault();is_signup_form_valid() && captchaRef.execute();" tabindex=4 >
    
    <input *ngIf="languageToggle" class="disabled_button submitbutton" id="signup_submit" type="submit" value="Зарегистрироваться"  (click)="$event.preventDefault();is_signup_form_valid() && captchaRef.execute();" tabindex=4 >

      <p class="accept_the_terms" *ngIf="!languageToggle">By clicking "Sign Up," you agree to the <a [routerLink]="['/terms']" >Terms and Conditions</a> of
        Belacam.</p>

        <p class="accept_the_terms" *ngIf="languageToggle">Нажимая "Зарегистрироваться", вы соглашаетесь с <a [routerLink]="['/terms']" >Правилами и Условиями</a> использования.</p>
      

      
      


    </form>
      
      

      
  </div>

  

</div>


<div class="about_belacam">
  <img src="https://s3.amazonaws.com/bellassets/tyler.png" alt="Belacam Logo"/>

  <h1 *ngIf="!languageToggle">Snap, Post, Paid. It's that easy.</h1>

  <h1 *ngIf="languageToggle">Снимай, публикуй, зарабатывай. Это просто!</h1>

  <p *ngIf="!languageToggle">Belacam is a social media site where you get paid for creating and sharing content that other people enjoy. Each
    'like' carries a $.03 - $.10 tip, so each 'like' you get means someone else enjoyed your photo. When you give
    someone else a like, you're tipping them for sharing their content too. It's an economy based around our social
    interactions.</p>

    <p *ngIf="languageToggle">Belacam - это новая социальная сеть, где вам платят за создание публикаций, которые нравятся другим людям. Каждый "лайк" здесь, это $.03 - $.10 "чаевых" вам, поэтому каждый "лайк" означает, что ваше фото кому-то реально нравится! Когда вы отдаете кому-то свой "лайк", вы также платите "чаевые", вознаграждая других пользователей за интересный контент. Это экономика, основанная на наших социальных взаимодействиях.</p>


  <p *ngIf="!languageToggle">Whether motivated by goodwill, honest enjoyment, or a few economic benefits that we provide to people who give
    likes, over $10,000 has been tipped around the site to content creators. That's over 250,000 likes in our first 3 months of operation. </p>

    <p *ngIf="languageToggle">Наш сайт устроен так, что пользователи, которые отдают лайки, получают взамен для себя экономическую выгоду. Фактически своими "лайками", вы продвигаете выше собственные публикации в событиях соц.сети. За первые 3 месяца работы сайта более 10 000 долларов США были заработаны нашими пользователями. Это более 250 000 лайков. </p>

  <p *ngIf="!languageToggle">We're leading the rise of micro-entrepreneurs all around the world. With Belacam, anyone can earn a few extra
    dollars a day by sharing their own original photos. It makes you wonder: why would you ever post your photos for
    free on sites like Instagram again?</p>

    <p *ngIf="languageToggle">В Belacam каждый может заработать несколько дополнительных долларов в день, делясь своими оригинальными фотографиями. Это заставляет задуматься: зачем вы продолжаете публиковать свои фото "бесплатно" на сайтах, таких как Instagram? У нас каждый из вас сразу становится микро-блогером, с собственной зарплатой. И по мере роста вашего персонального блога и роста Belacam по всему миру, растет и ваша зарплата!</p>

  <p *ngIf="!languageToggle">The best part about Belacam is that original content and photos are the ones that earn the most. There are no ads
    or corporate-paid promotions because no one wants to give those tips. Instead, high-quality content rises to the
    top, creating a cleaner, more refined social media site. It's the Belacam social media economy.</p>

    <p *ngIf="languageToggle">Лучшей частью Belacam является то, что оригинальный контент и персональные фотографии зарабатывают больше всего. Нет рекламы, объявлений, проплаченных акций, потому что никто не отдаст за это свой "лайк", и подобные материалы остаются всегда "на дне". Только высококачественный контент и публикации поднимаются вверх, создавая чистую и более изысканную, новую социальную сеть. Belacam - это экономическая модель наших социальных взаимодействий.</p>

  <h3 class="left_align" *ngIf="!languageToggle">I'll see you on Belacam, <br><br>Tyler Marx</h3><h4 *ngIf="!languageToggle">CEO</h4>

  <h3 class="left_align" *ngIf="languageToggle">Увидимся в Belacam, <br><br>Тайлер Маркс</h3><h4 *ngIf="languageToggle">Генеральный директор </h4>

  <a class="submitbutton" onClick="toTop()" *ngIf="!languageToggle">
    Create an Account
  </a>

  <a class="submitbutton" onClick="toTop()" *ngIf="languageToggle">
      Создать аккаунт
    </a>
  
</div>

<ul class="footerrow">
    <li *ngIf="!languageToggle"><a [routerLink]="['/about']" >About</a></li>
    <li *ngIf="languageToggle"><a [routerLink]="['/about']" >О платформе</a></li>

    <li *ngIf="!languageToggle"><a href="https://belacam.zendesk.com/hc/en-us" >Support</a></li>
    <li *ngIf="languageToggle"><a href="https://belacam.zendesk.com/hc/en-us" >Поддержка</a></li>

    <li><a target="_blank" href="http://Livebela.com" >Bela</a></li>


    <li *ngIf="!languageToggle"><a [routerLink]="['/privacy']" >Privacy</a></li>
    <li *ngIf="languageToggle"><a [routerLink]="['/privacy']" >Конфиденциальность</a></li>

    <li *ngIf="!languageToggle"><a [routerLink]="['/terms']" >Terms</a></li>
    <li *ngIf="languageToggle"><a [routerLink]="['/terms']" >Условия</a></li>
  </ul>
