<h1>Your Belacam Account has been Banned</h1>
<hr/>
<p>
    Hi {{username}},<br>
    <br>
    Unfortunately, your Belacam.com account has been suspended indefinitely for strong or repeated violations of our <a href="{{ term_page_url }}"><b>terms and conditions</b></a><br>
    <br>
    The most common reason why users are suspended is for posting overly explicit content or attempting to game, rig, or cheat our generous referral program and sign up bonuses. Please note that as per the terms, accounts that are banned due to gaming the referral program or sign up bonuses may forfeit the Bela that was given as a result of that rigging.<br>
    <br>
    Belacam can be a wonderful site when used properly, and we’re a forgiving company. We do encourage you to hop back on Belacam in a new account for a fresh, rule-following start.<br>
    <br>
    Thank you, <br>
    <br>
    The Belacam Team
</p>
