<p>
    Hi {{ username }},<br>
    <br>
    You requested to withdraw {{ withdraw_amount }} Bela from Belacam.com to {{ withdraw_address }}.
    To confirm this withdrawal, please click this confirmation link: {{ confirm_link }}.<br>
    <br>
    Once you have clicked the link, please allow up to 48 hours for your withdrawal to be processed.
    If you did not request this withdrawal, someone else with access to your account may have requested it.
    If so, please change your password.<br>
    <br>
    Thanks,<br>
    <br>
    The Belacam Team
</p>