<h1>Your withdrawal was denied due to providing an improper address.</h1>
<hr/>
<p>
    Hi {{username}},<br>
    <br>
    Unfortunately, your withdrawal request was denied due to improper address. Please make sure the address is correct.<br>
    <br>
    Your requested Bela amount was credited back in your account.
    <br>
    Thank you,<br>
    <br>
    The Belacam Team
</p>