{{ username }}, <br>
<br>
You have earned {{ dollar_earning }}USD ({{ bela_earning }}) from Belacam since you have joined us.<br>
<br>
You are one of the first {{ num_users }} users on Belacam. By joining us, you are leading a revolution in social media. Keep up the great work!<br>
<br>
See you on Belacam.<br>
<br>
Co-Founder and COO<br>
Tanner Roughton<br>
<br>
If you wish to opt out of these emails, please <a href="{{ account_setting_url }}">change your settings here</a>. <br>