<div class="discover-box">
  <div class="panel with-nav-tabs">

    <div class="panel-body">

      <div class="tab-content">

        <div class=" fade in active endless_page_template">
          <app-post-box
            *ngFor="let thot of thoughts; index as i "
            [thot]="thot"
            [user]="requesting_user"
            [index]="i"
            (openThotBox)="openThotBox($event)"
          ></app-post-box>
        </div>

      </div>

    </div>

  </div>
</div>
