<div *ngIf="thot.comments.length>2 && !thot.show_all_comment" class="viewcoment-box">
  <a href="#" (click)="viewAllComments();false;" translate>View all comments  +</a>
</div>

<div *ngFor="let comment of thot.displayed_comments" class="reply-box reply-box2">

  <a href="#" [routerLink]="['/user/', comment.author.username]">
    <div class="reply-box-left circlephoto">
      <span [innerHTML]="comment.author.avatar"></span>
    </div>
  </a>

  <div class="reply-box-right" *ngIf="!comment_in_edit || comment.id != comment_in_edit.id; else replyEditBox">
    <h4 class="commenttext">
      <a class="commentuserlink" href="#" [routerLink]="['/user/', comment.author.username]">
        {{ comment.author.username }}
      </a>
      <span class="commentspan">
        <app-dynamic-html [innerHTML]="comment.text|tagify"> </app-dynamic-html>
      </span>
    </h4>
    <h5>{{timeService | async | messageTime: comment.created_at}}</h5>
  </div>

  <ng-template #replyEditBox>
    <div class="reply-edit-box">
      <textarea class="autoExpand comment" title="Comment" [(ngModel)]="comment_text" typeahead rows="1">
      </textarea>
    </div>
  </ng-template>

  <div class="reply-box-actions"
       [ngClass]="{'comment-edit-mode': comment_in_edit && comment.id == comment_in_edit.id }">
    <a href="#" class="btn btn-reply-action" (click)="enterEditMode(comment); false"
       *ngIf="!comment_in_edit || comment.id != comment_in_edit.id; else actionInEdit"
       [hidden]="!requesting_user || comment.author.id !== requesting_user.id">
      <i class="glyphicon glyphicon-pencil"></i>
    </a>

    <ng-template #actionInEdit>
      <a href="#" class="btn btn-reply-action" (click)="finishEdit(comment); false">
        <i class="glyphicon glyphicon-ok"></i>
      </a>
      <a href="#" class="btn btn-reply-action" (click)="cancelEdit(comment); false">
        <i class="glyphicon glyphicon-remove"></i>
      </a>
    </ng-template>

    <a href="#" class="btn btn-reply-action" (click)="deleteComment(comment); false"
    [hidden]="!requesting_user || (thot.user.id !== requesting_user.id && comment.author.id !== requesting_user.id)">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</div>

<app-comment-form [thot]="thot" *ngIf="!hideForm" (success)="onAddCommentToPost($event)">
</app-comment-form>
