<span class="circlephoto commentphoto" *ngIf="requesting_user" [innerHTML]="requesting_user.avatar"></span>
<form class="commentform" *ngIf="requesting_user">
  <textarea class="comment autoExpand" id="textarea"
            (keydown.control.enter)= "addCommentToPost(thot);false" (keydown.meta.enter)="addCommentToPost(thot);false"
            name="comment"
            #commentText
            placeholder="{{'Add a comment...'|translate}}"
            [(ngModel)]="comment_text"
            typeahead
            ></textarea>

  <div>
    <ngx-loading [show]="loading"></ngx-loading>
  </div>
  <label class="commentsubmit"  (click)="addCommentToPost(thot);false" translate>
    Post
  </label>

  <div class="alert fade in alert-danger comment_alert_box" *ngIf="alert_message">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ alert_message }}
  </div>

</form>
