<div class="header-box">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-lg-3 col-md-3 logo">
        <a [routerLink]="['/feed']" href="#"> <img
          src="https://s3.amazonaws.com/bellassets/orangeicon.png"/></a>


        <div class="feedanddiscover">
          <a onclick="toTop()" routerLink="/feed" routerLinkActive="activelink" href="#" class="feedlink inactivelink">
            <h2 translate>Feed</h2>
          </a>




          <a onclick="toTop()" routerLink="/discover" routerLinkActive="activelink" href="#" class="discoverlink inactivelink">
            <h2 translate>Explore</h2>
          </a>
        </div>


      </div>


      <my-search></my-search>


      <div class="col-sm-3 col-lg-3 col-md-3 header-right">

        <span *ngIf="(requesting_user.id ===  undefined) && !loading">
          <a id="desktoplogin" class="gotologin" routerLink="" href="#" translate>Login or Sign Up</a>
        </span>

        <ul *ngIf="(requesting_user.id !==  undefined) && !loading ">

          <a routerLink="/trade" routerLinkActive="activelink" href="#" class="inactivelink tradelink">
            <h2 translate>Trade</h2>
          </a>


          <app-notifications [unread_count]="unread_count" [notification_list]="notification_list">
          </app-notifications>


          <a id="dropdownMenuLink"
             class="dropdown-toggle"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            <li class="headerusername">


              <span [innerHTML]="requesting_user.avatar"></span>


              <i class="fa fa-angle-down" aria-hidden="true"></i>

            </li>

          </a>


          <div class="dropdown-menu account-menu" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-caret">
              <div class="caret-outer"></div>
              <div class="caret-inner"></div>
            </div>
            <a class="dropdown-item" href="#"
               [routerLink]="['/user/', requesting_user.username]" translate>Profile</a>
            <a class="dropdown-item" href="#" routerLink="/settings" translate>Settings</a>
            <a class="dropdown-item"
               target="_blank"
               href="https://belacam.zendesk.com/hc/en-us"
               translate>Support</a>
            <div class="divider"></div>
            <a class="dropdown-item logoutdropdown" id="logoutdropdown" href="#" (click)="logout();false" translate>Log Out</a>

          </div>

        </ul>

      </div>
    </div>

  </div>

</div>



<div class="showonmobile mobileheader">
  <div class="row">
    <a routerLink="/feed" routerLinkActive="activelink" href="#" onclick="toTop()" class="feedlink inactivelink" >
      <h2 translate>Feed</h2>
    </a>


    <a routerLink="/discover" routerLinkActive="activelink" onclick="toTop()" href="#" class="discoverlink inactivelink">
      <h2 translate>Explore</h2>
    </a>


    <a routerLink="/trade" routerLinkActive="activelink" href="#" class="tradelink inactivelink" >
      <h2 translate>Trade</h2>
    </a>


  </div>
</div>

<div id="mobileinfo" class="row showonmobile">
  <div class="row mobilerowholder">

    <div id="mobilesearch">
      <mobile-search [trending]="trending"></mobile-search>
    </div>

    <div class="user-profile-box" id="mobileimageupload">

      <app-header-posting-form [requesting_user]="requesting_user"></app-header-posting-form>

    </div>

    <div id="mobilenotifications">
      <div class="dropdown show mobilenoticationholder">
        <div class="notification-bar2">
          <span
            [routerLink]="['/notifications']"
            onclick="mobileNotifications()"
            class="notification-menu-header"
            [title]="'Notifications'|translate" translate>
            Notifications
          </span>
          <a href="#" onclick="mobileNotifications()" (click)="markAllRead();false"
             class="mark-all-as-read" translate>Mark all as read</a>
        </div>

        <span class="mobilenotifs" *ngFor="let notification of notification_list">

          <a [ngClass]="{'unread': notification.unread }" class="dropdown-item notifline" href="#" onclick="mobileNotifications()">

            <span class="circlephoto notifavatar" [innerHTML]="notification.actor_thumbnail" (click)="handleClickAvatar($event, notification);false"></span>
            <div class="notifytext" (click)="goToAction(notification);false">{{ notification.actor }}{{ notification.verb }}</div>

          </a>
        </span>
      </div>

    </div>

    <div id="mobileprofile">
      <div *ngIf="(requesting_user.id !==  undefined) && !loading" class="white-box myprofilewhitebox">
        <h4 class="account" translate>My Profile</h4>
        <a onclick="mobileProfile()" class="mobileusername" href="#" [routerLink]="['/user/', requesting_user.username]">
          <span class="circlephoto" [innerHTML]="requesting_user.avatar"></span>
          <span>  {{ requesting_user.username }}</span>
        </a>

        <a class="mobileusername" href="#" routerLink="/settings">
          <img src="https://s3.amazonaws.com/bellassets/assets/images/settings.png"/>
          <span translate>Settings</span>
        </a>
        <a class="mobileusername" href="https://belacam.zendesk.com/hc/en-us" target="_blank">
          <img src="https://s3.amazonaws.com/bellassets/assets/images/support.png"/>
          <span translate>Support</span>
        </a>
        <a class="mobileusername logoutdropdown" href="#" (click)="logout();false">
          <img src="https://s3.amazonaws.com/bellassets/assets/images/logout.png"/>
          <span translate>Log Out</span>
        </a>


      </div>

      <!-- Account Section on Right Sidebar -->

      <div *ngIf="(requesting_user.id !==  undefined) && !loading" class="white-box">
        <h4 class="account" translate>Each <img src="https://s3.amazonaws.com/bellassets/assets/images/redheart.png">  = {{ requesting_user.bella_per_like|number:'1.2-2' }} <img src="https://s3.amazonaws.com/bellassets/assets/images/orangebela.png">
        </h4>



        <div class="trendingbox" *ngIf="requesting_user.user1">
          <div class="balances">


            <h3 class="bigbelabalance"> {{ requesting_user.user1.belacoin }} <img src="https://s3.amazonaws.com/bellassets/assets/images/orangebela.png"></h3>

            <h5 class="usdbalance"> ${{ requesting_user.user1.account_balance|number:'1.2-2' }}</h5>


            <div class="clearfix"></div>



            <a href="#" onclick="closeMobileProfile()" [routerLink]="['/deposit']" class="depowith" translate>Deposit</a>
            <span><a href="#" onclick="closeMobileProfile()" [routerLink]="['/withdrawal']" class="depowith" translate>Withdraw</a></span>


          </div>


        </div>


      </div>
      <app-suggested [suggested]="suggested" [earners]="earners"></app-suggested>


    </div>

  </div>


</div>

<div class="mobilemenu showonmobile">

  <a [routerLink]="['/feed']" class="fifths">
    <img src="https://s3.amazonaws.com/bellassets/orangeicon.png"/>
  </a>
  <a class="fifths" id="mobile_search" onclick="mobileSearch()">
    <img class="mobilemenuimgwidth" src="https://s3.amazonaws.com/bellassets/assets/images/searchicon.png"/>
  </a>
  <div class="fifths" *ngIf="(requesting_user.id ===  undefined) && !loading">
    <a id="mobilelogin" class="gotologin" routerLink="" href="#" translate>Login</a>
  </div>
  <a *ngIf="(requesting_user.id !==  undefined) && !loading"
     class="fifths" id="mobile_image"
     onclick="uploadMobileImage()">
    <img class="mobilemenuimgwidth" src="https://s3.amazonaws.com/bellassets/assets/images/cameraicon.png"/>
  </a>
  <a id="mobile_notif" onclick="mobileNotifications()" class="fifths">
    <img class="mobilemenuimgwidth"
         src="https://s3.amazonaws.com/bellassets/assets/images/notificationicon.png"/>
    <span class="notificationspanmobile" *ngIf="unread_count > 0"><p>{{ unread_count }}</p></span>
  </a>
  <a class="fifths" id="mobile_profile" onclick="mobileProfile()">
    <img class="mobilemenuimgwidth"
         src="https://s3.amazonaws.com/bellassets/assets/images/moreicon.png"/>
  </a>

</div>
