<a href="https://mercatox.com/?referrer=308520" class="gotologin trade_bela_btn"  target="_blank"><h3 class="center" translate>Trade Bela</h3></a>
<p class="reftext" translate>Bela is a high-risk / high-reward cryptocurrency traded by thousands of people. It's also one of the few cryptos that has a real, successful product already available for use: Belacam.
</p>

<a href="https://mercatox.com/?referrer=308520" target="_blank"><img class="trade_bela_image" src="https://www.tradingview.com/x/B2dS133o" /></a>

<p class="reftext" translate>As more people use Belacam, they'll continuously need Bela to like photos. With about 40 million Bela in existence, there is a limited amount of Bela that can be split among all Belacam users. As more people use Belacam and buy Bela, Bela gets more scarce.
</p>

<p class="reftext" translate>If you're up for trading Bela, click the button below to start.
</p>

<a href="https://mercatox.com/?referrer=308520" class="savebutton referral-btn trade_bela_btn"  target="_blank"><h3 class="center" translate>Click Here to Trade Bela</h3></a>
<br><br>
<h3 class="center">ADVANCED: Earning Interest on Bela</h3>
<p class="reftext" translate>Once you own Bela, you can earn more Bela per month through a process called <em>staking</em>. By locking away your Bela for 30 days, you are provided with more Bela  at the end of that staking period. This is to reward users that hold Bela for a long-term period of time, which decreases the real supply and helps increase Bela's price.
</p>

<img src="https://www.livebela.com/assets/img/staking.png" alt="Stake ERC20 Bela" />

<a href="https://medium.com/livebela/how-to-stake-bela-in-mew-and-mist-wallets-957e1749b028" class="savebutton referral-btn trade_bela_btn"  target="_blank"><h3 class="center" translate>How to Stake Bela</h3></a>
