<div class="row phone-verification-container">
  <p class="phone-verification-instruction lead center">
    Please enter your phone number to receive a verification code via text.
  </p>
  <div class="phone-number-container center">
    <label translate>Phone Number</label>
    <div class="form-group form-inline">
      <input
        placeholder="1-123-456-7890"
        type="text" name="phone_number" value=""
        (input)="assignPhoneNumber($event)"
        class="form-control"
        required>
      <button class="btn btn-primary" (click)="requestVerification()">Send code</button>
    </div>
       <label translate>Please be sure to include your country code and local area code.</label>
  </div>

  <div class="security-code-container center" *ngIf="isCodeSent">
    <label>Security code</label>
    <div class="form-group form-inline">
      <input placeholder="Security code"
             type="text" name="security_code" value=""
             (input)="assignSecurityCode($event)"
             class="form-control"
             required>
      <button class="btn btn-primary" (click)="verifySecurityCode()">Verify</button>
    </div>
  </div>

  <br>
  <p class="phone-verification-instruction center">
    Standard SMS rates apply. We understand that some users have reservations about providing us with their phone number. Phone identification is option. If you don't verify your account, all features, except the Earn Free Bela tasks, will still be accessible.


  </p>

</div>
